.login-wrapper {
  background: url('./../../../../assets/images/joinnow-bg.svg') no-repeat top left;
  background-size: cover;
  height: 100%;
  height: 100vh;
  .login-card {
    width: 580px;
    opacity: 0.94;
    backdrop-filter: blur(37px);
    -webkit-backdrop-filter: blur(37px);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.68);
    overflow: hidden;
    margin-bottom: 0;
    padding: 44px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .login-container {
    height: 100%;
  }
  .title-wrp {
    width: 640px;
    margin-right: 100px;
    text-align: center;
    margin-top: 100px;
    .page-title {
      font-size: 52px;
      text-align: left;
      font-weight: 300;
      margin-right: 44px;
      color: #fff;
      text-align: center;
    }
    .login-image {
      max-width: 600px;
      margin-top: 64px;
    }
  }

  .title {
    font: italic normal 900 20px/35px Roboto;;
    text-align: center;
    font-weight: 300;
    margin-bottom: 44px;
    font-weight: 100;
    .strong {
      font-weight: 500;
    }
  }
  .logo-wrapper {
    text-align: center;
    margin: 24px 0;
    .logo {
      width: 120px;
    }
  }
  .mat-form-field {
    font-size: 18px;
    font-weight: 300;
  }
  .login-btn-wrpper {
    margin-top: 24px;
    text-align: center;
  }
  .account-btn-wrpper {
    margin-top: 32px;
    text-align: center;
    p {
      font-weight: 400;
      margin-bottom: 14px;
    }
  }
}

.otp-login-wrapper {
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
  .login-btn-wrpper {
    margin: 0 0 24px 0;
  }
}
