.progress-wrapper {
  width: 200px;
  padding: 50px 0;
  margin: auto;
  font-family: 'open-sans-condensed-bold'!important;
  .title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 10px;
    padding-bottom: 8px;
  }
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: rgb(255, 152, 0);
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(255, 160, 18);
}
