<div class="listContainer">
  <div class="listHeader">
    <mat-icon>view_comfy</mat-icon>
    <h5>Frequency Details</h5>
    <app-filter-input (onFilterChange)="doFilter($event)" class="alignEnd"></app-filter-input>
    <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
  </div>
  <div class="listTable" [formGroup]="frequencyForm">
    <table mat-table matSort [dataSource]="frequencyList">

      <ng-container matColumnDef="value">
        <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="table-column-200" mat-cell *matCellDef="let frequency">
          <span [hidden]="frequency.mode == service.mode.CREATE">{{frequency.value}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="frequency.mode != service.mode.CREATE">
            <input formControlName="value" matInput/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="label">
        <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Display Text</th>
        <td class="table-column-200" mat-cell *matCellDef="let frequency">
          <span [hidden]="frequency.edit">{{frequency.label}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="!frequency.edit">
            <input formControlName="label" matInput />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td class="table-column-100" mat-cell *matCellDef="let frequency" [ngClass]="frequency.status">
          <span [hidden]="frequency.edit">
            <mat-icon *ngIf="frequency.status == 'Active'">check_circle_outline</mat-icon>
            <mat-icon *ngIf="frequency.status == 'Inactive'">block</mat-icon>
          </span>
          <mat-button-toggle-group formControlName="status" aria-label="Status" [hidden]="!frequency.edit">
            <mat-button-toggle value="Active">Active</mat-button-toggle>
            <mat-button-toggle value="Inactive">InActive</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="table-column-100 center" mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="primary" aria-label="Add New" (click)="addNewFrequency()">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td class="table-column-100 center" mat-cell *matCellDef="let frequency;let i = index">
          <button mat-icon-button aria-label="editFrequency" [hidden]="frequency.edit" (click)="editFrequency(frequency,i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="deleteFrequency" [hidden]="true">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="saveFrequency" [hidden]="!frequency.edit" [disabled]="frequencyForm.invalid"
            (click)="saveFrequency(frequency)">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="editFrequency" [hidden]="!frequency.edit" (click)="cancel(frequency)">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="center">
          No Records Found
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="frequencyList && frequencyList.filteredData.length > 0"></tr>
    </table>
  </div>
</div>