<section class="page-body my-community-body">
  <div class="container">
    <div class="flex-containers space-between page-heading-action">
      <div class="flex-item">
        <h4 class="name">Community Details</h4>
      </div>
      <!-- <div class="btn-main-right-wrapper" *ngIf="isCurrentUser">
        <button mat-stroked-button class="secondary-btn" routerLink="/auth/professional/update">Edit</button>
      </div> -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 ">
        <app-account-details></app-account-details>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-8">
        <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
        <mat-card class="border no-rounded list" *ngFor="let post of posts; let i = index">
          <div class="flex-containers wrap">
            <div class="flex-item no-margin">
              <div class="user-profile-img" *ngIf="post.profilePic">
                <div class="profile-pic-small pic-xs img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + post.profilePic + ')'}"></div>
              </div>
              <div class="user-profile-name" *ngIf="!post.profilePic">
                <div class="user-initials">{{post.initials}}</div>
              </div>
            </div>
            <div class="flex-item no-margin">
              <p class="name">{{post.fullname}}</p>
              <label class="label">Tech Lead, Aveva, Bangalore</label>
              <label class="label">{{post.createdOn | date:'MMM dd, yyyy hh:mm a'}}</label>
            </div>
            <div class="remove-wrapper">
              <mat-menu #shareMenu="matMenu" class="share-menu-wrapper">
                <button mat-menu-item (click)="removePost(post, i)">Remove</button>
              </mat-menu>
          
              <button mat-icon-button class="more-icon-btn" [matMenuTriggerFor]="shareMenu" [disabled]="isLoading" [class.loading]="isLoading">
                <mat-icon class="more-icon">more_vert</mat-icon>
              </button>              
            </div>
          </div>
          <div *ngIf="post.achivements && post.achivements.length">
            <h4 class="comm-title">{{post.achivements[0].name}}</h4>
            <p class="comm-desc">{{post.achivements[0].description}}</p>
            <div class="img-wrapper">
              <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + post.achivements[0].path + ')'}"></div>
            </div>
          </div>
          <div class="likes-wrapper flex-containers wrap v-center" [class.liked]="post.isLiked" (click)="likeUnlikePost(post, !post.isLiked)">
            <div class="likes-icon flex-item">
              <mat-icon>thumb_up</mat-icon>
            </div>
            <div class="likes-count flex-item">
              {{post.likesCount}}
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    

  </div>
</section>
