.icon-primary-btn {
  font-size: 12px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  .mat-icon {
    font-size: 16px;
  }
}
.primary-btn-red {
  &.btn-small {
    font-size: 12px;
    line-height: 27px;
    padding: 0 10px !important;
    height: 28px;
    margin: 0 10px;
  }
}
td.Active {
  color: green;
}
td.Inactive {
  color: red;
}

.share-post-title {
  font-size: 24px;
  color: #0C0C0C;
  font-weight: 400;
  margin-bottom: 40px!important;
  font-family: 'open-sans-condensed-bold';
  position: relative;
  &:before {
     content: "";
     position: absolute;
     left: 0;
     bottom: -12px;
     height: 5px;
     width: 55px;
     background-color: #efa800;
   }
   &:after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -10px;
     height: 1px;
     width: 95%;
     max-width: 181px;
     background-color: #efa800;
   }
}
.table thead th{
  font-family: 'open-sans-condensed-bold';
  background: lavender;
}

.table td{
  font-family: 'open-sans-regular';
  font-size: 14px;
  font-weight: normal;
}



.table tr:nth-of-type(odd) {
  background-color:#ffffff ;
}
      
.table tr:nth-of-type(even) {
  background-color:#f0f7f7 ;
}

// buttons

.button3d {
  //display: block;
  //position: relative;
  //float: left;
  width: 200px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  font-family: "open-sans-condensed-bold"!important;
  cursor: pointer;
  &:disabled{
     background: gray;
     box-shadow: 0px 5px 0px 0px #484848;
     opacity: 0.5;
     cursor: not-allowed;
  }
}

.btnLightBlue {
  &:disabled{
     background: gray;
     box-shadow: 0px 5px 0px 0px #484848;
  }
  background: #7d6ecc;
  &.addRef{
     height: 30px;
     width: 160px;
     line-height: 30px;
     border-radius: 2px;
     .material-icons{
        font-size: 20px;
     }
  }
  &.tdBtn{
     font-size: 18px;
     color: #ffffff;
     width: 140px;
     height: 40px;
     line-height: 40px;
     padding-left: 4px;
     .mat-icon{
        font-size: 20px;
        position: relative;
        top: 0px;
        right: 0px;
     }
     &:disabled{
        background: gray;
        box-shadow: 0px 5px 0px 0px #484848;
     }
  }
  &.compBtn{
     font-size: 20px;
     color: #ffffff;
     width: 145px;
     height: 40px;
     line-height: 40px;
     padding-left: 16px;
     .mat-icon{
        font-size: 28px;
        position: relative;
        top: -4px;
        right: 0px;
     }
  }
  
  &.svBtn{
     font-size: 18px;
     color: #ffffff;
     width: 180px;
     height: 37px;
     line-height: 30px;
     .mat-icon{
        font-size: 20px;
     }
  }

  &.addico{
     width: 112px;
     height: 26px;
     line-height: 25px;
     outline: none;
     border: none;
     padding-top: 3px;
     border-radius: 2px;
     margin-right: 5px;
     &:disabled {
        background: gray;
        box-shadow: 0px 5px 0px 0px #585858;
     }
     .mat-icon{
        font-size: 14px;
        width: 14px;
        height: 14px;
        position: relative;
        top: 3px;
     }
  }
  
}

.btnOrange {
  background:salmon;
  &:disabled{
     background: gray;
     box-shadow: 0px 5px 0px 0px #484848;
  }
  &.addico{
     width: 60px;
     height: 26px;
     line-height: 25px;
     outline: none;
     border: none;
     padding-top: 3px;
     border-radius: 2px;
     margin-right: 5px;
     &.nclr{
        width:105px;
        background: #efa800;
        box-shadow: 0px 5px 0px 0px #9a6f0a;
     }
     &:disabled {
        background: gray;
        box-shadow: 0px 5px 0px 0px #585858;
     }
     .mat-icon{
        font-size: 14px;
        width: 14px;
        height: 14px;
        position: relative;
        top: 3px;
     }
  }
  &.redico{
     width: 26px;
     height: 26px;
     line-height: 25px;
     outline: none;
     border: none;
     padding-top: 3px;
     border-radius: 2px;
     .mat-icon{
        font-size: 20px;
     }
  }
  
}

/* 3D */


.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #322a54;
}
.btnOrange.btnPush {
  box-shadow: 0px 5px 0px 0px #8c1808;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}

.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #A66615;
}