.image-crop-wrapper {
   .image-crop-card {
     border-radius: 0;
     font-size: 10px;
     height: 45px;
     padding: 6px 10px 0 7px;
     position: relative;
     top: 2px;
     overflow: hidden;
     border: 1px solid #cbcbcb !important;
     //box-shadow: 0px 1px 6px #00000029;
     background: #fff;
     border-radius: .8em;    
   }
   .img-preview {
     width: 46px;
     height: 46px;
     border: 1px solid #f3f3f3;
     position: absolute;
     top: 0;
     right: 0;
     z-index: 100;
     .img {
       width: 100%;
       height: 100%;
       background-size: cover;
     }
     .mat-icon {
       text-align: center !important;
       margin-top: 10px;
       width: 100%;
       color: rgba(0, 0, 0, 0.62);
       background: #fff;
     }
   }
   .img-progress {
     position: absolute;
     top: 0;
     right: 0px;
     left: 0px;
     z-index: 102;
   }
   .file-form-group {
     margin-bottom: 20px;
     width: 100%;
     .form-label {
       font-size: 20px;
       font-weight: 300;
       margin-bottom: 24px;
       display: block;
     }
     .gv-file-input {
       width: 100%;
     }
   }
   .image-crop-card {
     position: relative;
   }
   .upload-btn {
     font-size: 8px;
     padding: 0;
     min-width: 54px;
     height: 28px;
     line-height: 28px;    
     position: absolute;
     right: 6px;
     top: 5px;
     z-index: 101;
   }
   .delete-btn {
     position: absolute;
     right: 36px;
     top: 8px;
     z-index: 100;
   }
   .done-btn {
     position: absolute;
     right: 8px;
     top: 8px;
     z-index: 100;
     background-color: rgba(0, 151, 13, 0.62) !important;
     color: #fff !important;
   }
   .delete-btn, .done-btn {
     background-color: #f1f1f1;
     width: 30px;
     height: 30px;
     line-height: 30px;    
     .mat-icon {
       font-size: 16px;
     }
   }
   .error-messages-wrapper {
     text-align: left;
     position: relative;
     top: -8px;
     font-size: 11px;
     left: -11px;
   }
 }
 .gv-file-input {
    //padding: 14px 10px;
    // //background-color: rgba(0,0,0,.04);
    // border-bottom: 1px solid #949494;
    //line-height: 32px;
    font-family: 'open-sans-condensed-bold';
    // color: #747474;
    // font-size: 14px;
 }
 
 input[type=file]::-webkit-file-upload-button {
    border: 2px solid #59bfff;
    padding: .2em .9em;
    border-radius: .2em;
    background-color: #59bfff;
    transition: 1s;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  input[type=file]::file-selector-button {
    border: 2px solid #59bfff;
    padding: .2em .9em;
    border-radius: .2em;
    background-color: #59bfff;
    transition: 1s;
  }
  
  input[type=file]::-webkit-file-upload-button:hover {
    background-color: #2587c4;
    border: 2px solid #2587c4;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #2587c4;
    border: 2px solid #2587c4;
  }
 
  input:focus,
    select:focus,
    textarea:focus,
    button:focus {
       outline: none;
    }
    