<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Disclaimer</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Disclaimer</span></li>
      </ul>
    </div>
    <mat-card style="padding: 42px;">
      <div class="page-bd">
        <h3 style="margin-bottom: 24px;">Disclaimer:</h3>
        <p class="desc"></p>
      </div>
    </mat-card>
  </div>
</section>