<div class="login-wrapper">
   <div class="login-top shadow bottom">
      <!-- <img class="login-image" src="./../assets/images/logo.png" />  -->
      <h2>Know Your Data</h2>
  
 

</div>

<div class="flex-containers login-container top">
    <div class="title-wrp">
      <!-- <h1 class="page-title">Data Quality Analytics</h1> -->       
     <img class="login-image" src="./../assets/images/logo.png" />
     <h3>AI<span>DATADRIVEN</span></h3>
   </div> 
   <mat-card class="login-card ">
     <!-- <div class="logo-wrapper">
       <h1 class="page-title">DQ Logo</h1>
       <!-- <img class="logo" src="./../assets/images/logo-horizontal.svg" alt="DQ" /> 
     </div> -->
     <!-- <h1 class="title">A right <strong>destination for professionals</strong></h1> -->
     <!-- <h1 class="title">Know Your Data</h1> -->
     <div class="fade_rule"></div> 

     <div mat-dialog-content>
       <mat-error class="box-error-msg" *ngIf="errorMessage">
         {{errorMessage}}
       </mat-error>
       <div class="row" *ngIf="!isOtpScreen">
         <!-- <div class="col-md-5">
           <div class="social-btn-wrapper">
             <button mat-flat-button color="primary" class="full-width google-btn" (click)="signInWithGoogle()">
               <i class="fa fa-google"></i>
               Sign In with Google
             </button>
             <button mat-flat-button color="primary" class="full-width facebook-btn" (click)="signInWithFB()">
               <i class="fa fa-facebook"></i>
               Sign In with Facebook</button>
           </div>
         </div> -->
         <div class="col">
           <form [formGroup]="loginForm" class="custom-login-wrapper">
             <mat-form-field class="full-width" appearance="outline">
               <mat-icon matPrefix>account_circle</mat-icon>
               <input matInput placeholder="Username" cdkFocusInitial formControlName="username" required autocomplete="no">
               <mat-error>
                 Please provide a valid username.
               </mat-error>
             </mat-form-field>

             <mat-form-field class="full-width" appearance="outline">
               <mat-icon matPrefix>vpn_key</mat-icon>
               <input matInput type="password" placeholder="Password" formControlName="password" required>
               <mat-error>
                 Please provide a valid password
               </mat-error>
             </mat-form-field>
             <div class="login-btn-wrpper">
               <button mat-raised-button color="primary" (click)="doLogin()" class="full-width login-primary-btn" [disabled]="isLoading" [class.loading]="isLoading">
                 Sign in
               </button>
             </div>

             <!-- <div class="account-btn-wrpper">
               <p>Sign In with <a href="javascript: void()" (click)="showHideOTPScreen(true)">OTP</a></p>
               <p>New to DQ? <a routerLink="/signup">JOIN NOW</a></p>
             </div> -->

           </form>
         </div>
       </div>

       <!-- Login with OTP -->
       <div class="otp-wrpper page-body" [hidden]="!isOtpScreen">
         <app-progress-bar [message]="loaderMsg" class="page component" *ngIf="isLoading"></app-progress-bar>
         <p *ngIf="isOtpGenerated">The OTP has been Sent to your phone. Please input the OTP before 5 minutes.</p>
         <form [formGroup]="otpForm" class="custom-login-wrapper" style="margin-top: 24px; font-size: 12px;">

           <mat-form-field  appearance="outline">
             <mat-icon matPrefix>phone</mat-icon>
             <input matInput (keypress)="inputValidation.numericOnly($event)" maxlength="10" placeholder="Your 10 digit mobile number" cdkFocusInitial formControlName="phoneno" autocomplete="off">
             <mat-error>
               Please provide a valid Phone number.
             </mat-error>
           </mat-form-field>
           
           <div class="login-btn-wrpper" style="margin-top: 24px;" *ngIf="!isOtpGenerated">
             <button mat-raised-button class="login-primary-btn" color="primary" (click)="validateUserAndGenerateOtp()" [disabled]="isLoading || otpForm.invalid" [class.loading]="isLoading">
               Generate OTP?
             </button>
           </div>
           
           <div class="login-btn-wrpper" style="text-align: right; margin-top: 6px;" *ngIf="isOtpGenerated">
             <a href="javascript: void()" (click)="validateUserAndGenerateOtp()">Resent OTP?</a>
           </div>
           
           <mat-form-field  appearance="outline" *ngIf="isOtpGenerated">
             <mat-icon matPrefix>dialpad</mat-icon>
             <input matInput (keypress)="inputValidation.numericOnly($event)" maxlength="6" placeholder="One Time Password" formControlName="otpnum" autocomplete="off" [disabled]="!isOtpGenerated">
           </mat-form-field>

           <div class="login-btn-wrpper" *ngIf="isOtpGenerated" style="margin-top: 24px;">
             <button mat-raised-button color="primary" class="login-primary-btn" (click)="validateOtp()" 
               [disabled]="isLoading || (otpForm.invalid || !otpForm.controls.phoneno.value || !otpForm.controls.otpnum.value || otpForm.controls.otpnum.value.length < 6)" 
               [class.loading]="isLoading">
               Verify and Sign in
             </button>
           </div>

           <div class="account-btn-wrpper">
             <p>Sign In with <a href="javascript: void()" (click)="showHideOTPScreen(false)">USER NAME</a></p>
             <p>New to DQ? <a routerLink="/signup">JOIN NOW</a></p>
           </div>

         </form>
       </div>

     </div>
   </mat-card>
 </div>
  
</div>
