<h1 mat-dialog-title>User Account</h1>
<div mat-dialog-content class="user-account">
  <form [formGroup]="userForm" (ngSubmit)="closeSettings()">
    <div class="user-wrap">
      <div class="list">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="list">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="list">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="userName" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="list">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="text" matInput formControlName="password" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="list">
        <app-rule-selector 
          multiple="true" 
          [label]="'Role'"
          [showAddItem]="false"
          [ruleItems]="roleList" 
          [initValue]="userForm.controls.role.value"
          (selectionChange)="userForm.controls.role.setValue($event.value)"
        ></app-rule-selector>
      </div>
      <div class="list">
        <app-rule-selector 
          multiple="true" 
          [label]="'Department'"
          [showAddItem]="false"
          [ruleItems]="deptList" 
          [initValue]="userForm.controls.department.value"
          (selectionChange)="userForm.controls.department.setValue($event.value)"
        ></app-rule-selector>
      </div>

    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="accent" (click)="saveUser()" cdkFocusInitial class="ma-cr">Ok</button>
</div>