<div class="listContainer">
  <div class="listHeader">
    <mat-icon>view_comfy</mat-icon>
    <h5>Multi Source Details</h5>
    <app-filter-input (onFilterChange)="doFilter($event)" class="alignEnd"></app-filter-input>
    <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
  </div>
  <div class="listTable" [formGroup]="multisourceForm">
    <table mat-table matSort [dataSource]="multisourceList">

      <ng-container matColumnDef="value">
        <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="table-column-200" mat-cell *matCellDef="let source">
          <span [hidden]="source.mode == service.mode.CREATE">{{source.value}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="source.mode != service.mode.CREATE">
            <input formControlName="value" matInput />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="label">
        <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Display Text</th>
        <td class="table-column-200" mat-cell *matCellDef="let source">
          <span [hidden]="source.edit">{{source.label}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="!source.edit">
            <input formControlName="label" matInput />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td class="table-column-100" mat-cell *matCellDef="let source" [ngClass]="source.status">
          <span [hidden]="source.edit">
            <mat-icon *ngIf="source.status == 'Active'">check_circle_outline</mat-icon>
            <mat-icon *ngIf="source.status == 'Inactive'">block</mat-icon>
          </span>
          <mat-button-toggle-group formControlName="status" aria-label="Status" [hidden]="!source.edit">
            <mat-button-toggle value="Active">Active</mat-button-toggle>
            <mat-button-toggle value="Inactive">InActive</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="table-column-100 center" mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="primary" aria-label="Add New" (click)="addNewSource()">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td class="table-column-100 center" mat-cell *matCellDef="let source;let i = index">
          <button mat-icon-button aria-label="editSource" [hidden]="source.edit" (click)="editSource(source,i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="deleteSource" [hidden]="true">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="saveSource" [hidden]="!source.edit" [disabled]="multisourceForm.invalid"
            (click)="saveSource(source)">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="editSource" [hidden]="!source.edit" (click)="cancel(source)">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="center">
          No Records Found
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']"
        [hidden]="multisourceList && multisourceList.filteredData.length > 0"></tr>
    </table>
  </div>
</div>