<div class="page-body create-deals">
  <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>

  <h1 mat-dialog-title>{{deals.id ? 'Edit' : 'Create'}} <span class="red">Deal</span></h1>
  <div mat-dialog-content>
    <div class="deals-form-wrapper page-body" *ngIf="!isStatusOnly">
      <form [formGroup]="dealsForm">
        <div class="form-continer">
          <div class="list flex-containers flex-start wrap">
            <div class="list-item-1 outline">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" maxlength="50" autocomplete="off"/>
              </mat-form-field>
            </div>
          </div> 
  
          <div class="list flex-containers flex-start wrap">
            <div class="list-item-1 outline">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" formControlName="description" maxlength="500" rows="5" autocomplete="off"></textarea>
              </mat-form-field>
            </div>
          </div> 
  
          <div class="list flex-containers flex-start wrap">
            <div class="list-item-2 outline">
              <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" formControlName="location" maxlength="30" autocomplete="off"/>
              </mat-form-field>
            </div>
            <div class="list-item-2 outline">
              <mat-form-field appearance="outline">
                <mat-label>Amount (₹)</mat-label>
                <input matInput (keypress)="inputValidation.numericOnly($event)" placeholder="Amount" formControlName="amount" maxlength="10" autocomplete="off"/>
              </mat-form-field>
            </div>
          </div>

          <div class="list flex-containers flex-start wrap">
            <div class="list-item-2 outline">
              <app-image-cropper 
                [imageType]="'Deals'"
                [fileTypes]="'application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*'"
                [imagePath]="deals.deals.path ? deals.deals.path : ''"
                (uploadCompleted)="onUploadCompleted($event, dealsForm)">
              </app-image-cropper>
            </div>

            <div class="list-item-2 outline">
              <mat-form-field appearance="outline">
                <mat-label>Due Date</mat-label>
                <input 
                  matInput 
                  [matDatepicker]="picker" 
                  [min]="minDate"
                  placeholder="Due Date" 
                  formControlName="due_date" 
                  autocomplete="off"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
  

          <div class="list flex-containers flex-start wrap">
            <div class="list-item-2 outline">
              <mat-form-field appearance="outline">
                <mat-label>Owner</mat-label>
                <input 
                  matInput 
                  placeholder="Owner" 
                  formControlName="owner" 
                />
              </mat-form-field>
            </div>
            <div class="list-item-2 outline">
              <mat-form-field appearance="outline">
                <input type="text"
                  matInput
                  placeholder="Assigned to"
                  formControlName="assignedto"
                  [matAutocomplete]="autoGroup">
                  <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-option *ngFor="let user of userOptions | async" [value]="user.username">
                      {{user.fullname}} - {{user.email}}
                    </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="list flex-containers flex-start wrap">
            <div class="list-item-2">
              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let type of dealTypes" [value]="type.value">{{type.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="list-item-2">
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let type of statusTypes" [value]="type.value">{{type.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>  -->
        </div>
      </form>
    </div>

    <!-- Change status only -->
    <div class="deals-form-wrapper page-body" *ngIf="isStatusOnly">
      <form [formGroup]="dealsForm">
          <div class="list flex-containers flex-start wrap">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let type of statusTypes" [value]="type.value">{{type.title}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div> 
      </form>
    </div>

  </div>
  <div class="btn-main-right-wrapper">
    <button mat-stroked-button (click)="onCloseClick()" class="primary-btn-gray white">Cancel</button>
    <button mat-stroked-button class="primary-btn-gray" cdkFocusInitial (click)="saveDealsDetails()">Save</button>
  </div>
</div>
