<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Privacy</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Privacy</span></li>
      </ul>
    </div>

    <mat-card style="padding: 42px;">
      <h3 style="margin-bottom: 24px;">Privacy Policy</h3>
      <p class="desc"></p>

    </mat-card>
  
  </div>
</section>