<section class="page-body home-bodys wts">
  <div class="dashBoard container">   
  <div class="flex-containers">
    <div class="dash-left">
      <div class="srcTop"><mat-icon>widgets</mat-icon>GLOBAL REFERENCE DATA</div>
      <mat-accordion>
        <!-- (opened)="setOpened(i)"
          (closed)="setClosed(i)" -->
        <mat-expansion-panel *ngFor="let item of db; first as isFirst">
          <mat-expansion-panel-header>
            <mat-panel-title >{{item}}</mat-panel-title>                   
          </mat-expansion-panel-header>
          <mat-list role="list">
            <!-- <div class="search-hero form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a Collections">
            </div> -->

            

            <mat-list-item role="listitem"  *ngFor="let column of dbValues" >
                <div class="lftItem" matTooltip="{{column[item]}}" (click)="getDBPreview(item,column[item])" [class.activeList]="column[item].toString() === selectedColumn">
                <mat-icon> layers</mat-icon> 
                {{column[item]}}
                </div>                      
                <mat-icon class="ed" matTooltip="Save Source" *ngIf="column[item].toString() === selectedColumn" (click)="open(saveFile, item,column[item].toString())">save</mat-icon>
               <mat-icon class="de" matTooltip="Copy Source" *ngIf="column[item].toString() === selectedColumn">file_copy</mat-icon> 
           </mat-list-item>
          </mat-list>                                
        </mat-expansion-panel>       
      </mat-accordion>
      <div class="createLft">
        <button  class="btnBlueGreenN green addico"  (click)="openSm(content)"><mat-icon>link</mat-icon> Connect to your Mongo DB Cluster</button>
        <button *ngIf="uploadButton" type="button" class="btnBlueGreenN addico fl wth"
        routerLink="/auth/add-source-data/mango-db" matTooltip="" >
        <mat-icon>add</mat-icon>
        UPLOAD REFERENCE DATA
        </button>
      </div>
    </div>
    <div class="dash-right"> 
      <h1 class="ms nTitle">Reference Data</h1>
    
     <div>
      <button  class="btnBlueGreenN green addico" (click)="downloadCSV()">Download CSV</button>
      <!-- <button  class="btnBlueGreenN green addico"  (click)="openSm(content)"><mat-icon>link</mat-icon> Connect to your Mongo DB Cluster</button> -->
      <!-- <button  class="btnBlueGreenN blue addico" routerLink="/auth/add-source-data/mango-db" [queryParams]="{ save: 'collection'}">
        <mat-icon>save</mat-icon>  Save Collections</button> -->
    </div> 

    <!-- <input type="file" (change)="onFileChange($event)" multiple="false" /> -->

<!-- class = sjs-table, ExcelTable2007 -->
<!-- <table id="TheTable" class="ExcelTable2007">
  <thead #header>
    <tr>
      <th *ngFor="let headValue of headData">
        {{headValue}}
      </th>
    </tr>
  </thead>
  <tbody #container>
    <tr *ngFor="let row of data">
      <td *ngFor="let val of headData; let i =index">
        {{row[i] || ' '}}
      </td>
    </tr>
  </tbody>
</table> -->


<!-- <div id="htmlout"></div> -->

<!-- <button (click)="export()">Export!</button> -->

    <!-- <td-ngx-text-diff
    [left]="left"
    [right]="right"
    (compareResults)="onCompareResults($event)"
  > </td-ngx-text-diff> -->
     <div class="input-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" [(ngModel)]='searchValue' (keyup.enter)="applySearch($event.target.value)"/>
      <button type="button" class="btn btn-primary" (click)="applySearch(searchValue)">search</button>
    </div>
    <!-- <div class="loader-12" *ngIf="isLoading"></div> -->
    <div class="spinner2" *ngIf="isLoading"></div>
       <div class="mbt" *ngFor="let header of allObjHeader; let i = index;">
        <h2 class="nTitle">{{header}}</h2>
        <table class="table table-bordered table-striped mb-0 attTable" >                  
          <thead scope="col">
            <tr>
              <th scope="col" *ngFor="let keyh of allObjKeys[i]">
                {{keyh}}
              </th>             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let collection of collections[i]"> 
              <td *ngFor="let item of collection">
              {{item}}
              </td>
            </tr>
          
          </tbody>
        </table>
      </div> 
      <!-- <div class="loader-12" *ngIf="isLoadingDB" style="margin-top:40px;"></div> -->
      <div class="spinner2" *ngIf="isLoadingDB || isLoadingCDB"></div>
      <!-- <div class="spinner" *ngIf="isLoadingCDB">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div> -->

      <!-- <button  class="btnBlueGreenN addico blue" (click)="getDBCollections()">GET DB COLLECTIONS</button>
      <div class="loader-12" *ngIf="isLoadingDB" style="margin-top:40px;"></div>
      <div *ngIf="showAllDetails">
        <form [formGroup]="getDB">
          <div class="list flex-containers flex-start wrap">
            <div class="list-item-2 outline wth">
                <div class="list outline m49"> 
                  <mat-label>Database</mat-label>
                  <mat-form-field appearance="fill"> 
                    <mat-label>Database</mat-label>                       
                    <mat-select formControlName="database" (selectionChange)='onOptionsSelected($event.value)'>
                      <mat-option *ngFor="let srcDB of db" value="{{srcDB}}">
                        {{srcDB}}
                      </mat-option>                                    
                    </mat-select>
                  </mat-form-field>                  
              </div>
          </div>

          <div class="list-item-2 outline wth">
            <div class="list outline m49"> 
              <mat-label>Database Collection</mat-label>
              <mat-form-field appearance="fill"> 
                <mat-label>Database Collection</mat-label>                       
                <mat-select formControlName="databaseCollection">
                  <mat-option *ngFor="let srcDB of dbCollections" value="{{srcDB}}">
                    {{srcDB}}
                  </mat-option>                                    
                </mat-select>
              </mat-form-field>                  
          </div>
      </div>

          </div>
        </form>
      <div>
        <button  class="btnBlueGreenN addico" (click)="getDBPreview()">GET DB PREVIEW</button>
      </div>
      </div> -->
      <!-- <div class="loader-12" *ngIf="isLoadingCO" style="margin-top:40px;"></div> -->
      <div class="spinner2" *ngIf="isLoadingCO"></div>
      <div style="clear: both;">
        <app-ag-grid
            floatingFilter="true"
            *ngIf="isPreviewLoaded"
            class="ag-theme-material"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pageSize]="50"
            [rowSelection]="'multiple'"
            [suppressRowClickSelection]="false" 
            ></app-ag-grid>
      </div>

      <button *ngIf="isButtonShow" type="button" class="btn btn-light lMore" (click)="loadMoreDb()">
        <span *ngIf="isLoadingBt" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
           <span *ngIf="isLoadingBt"> Loading...</span>
          <span *ngIf="!isLoadingBt">Load More</span>
        </button>
    </div>
  </div>
</div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="clientUrl">Mongo DB Cluster Client URL</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]='clientUrl' id="url" placeholder="URL">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(clientUrl)">Submit</button>
  </div>
</ng-template>

<ng-template #saveFile let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Save File</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group">
        <label for="url">Mongo DB Cluster Client URL</label>
        <div class="input-group">
          <input type="text" class="form-control"  name="urlValue" #uname="ngModel"  [(ngModel)]="urlValue"  placeholder="URL" required>
          <ng-container *ngIf="uname.touched && uname.invalid">
            <p class="err">Please enter your URL</p>
          </ng-container>
        </div>
        <label for="fileName">File Name</label>
        <div class="input-group">
          <input type="text" class="form-control"  name="fileName" #fname="ngModel"  [(ngModel)]='fileName'  placeholder="fileName" required>
          <ng-container *ngIf="fname.touched && fname.invalid">
            <p class="err">Please enter your File Name</p>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="f.invalid" class="btn btn-outline-dark" (click)="modal.close(f.value)">Submit</button>
  </div>
</ng-template>

<ng-template #contentMsg let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Collections Saved!!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{alertMessage}}</p>
    <p>Path : {{savePath}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #contentErr let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Connection Error!!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{alertErrMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>





    
