
<section class="page-body home-bodys pad-tp">
  <div class="container">
    <div class="home-wrapper">      
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
                <form [formGroup]="analysisForm">          
                  <ng-template matStepLabel>Source Data</ng-template>                  
                      <div class="form-continer flex-containers">
                        <mat-card class="border no-rounded list shrare-post pbl card1">
                          <h1 class="share-post-title"> Add your <span class="yellow"> reference data</span></h1>
                          <!-- <h1 class="share-post-title"  *ngIf="isEditMode">Edit Your<span class="yellow"> Source</span></h1> -->
                        <div class="list flex-containers flex-start wrap">
                        <div class="list-item-2 outline wth">
                          <div>
                          <div class="srcData">
                            <mat-label>Reference Data <span class="red">*</span>&nbsp;<span *ngIf="selectedType">({{selectedType}})</span></mat-label>
                          </div>                          
                            <div class="cfile"> 
                              <app-image-cropper 
                                [imageType]="'Source'"
                                [fileTypes]="chooseOptions"
                                [imagePath]="''"
                                (fileSelected)="onSourceFileSelected($event)"
                              >
                              </app-image-cropper>
                               <!-- <h4 *ngIf="isEditMode" class="flNa">
                                {{editAnalysis.sourceFileName}}
                              </h4> 
                              <mat-error class="nerr" *ngIf="!flError">Please Select a Correct File Type</mat-error>
                              <mat-error class="nerr ftw" *ngIf="selFileNameErr && flError">Please Select a File</mat-error> --> 
                            </div>
                          </div>
                          <!-- <div class="list-item-2 outline split">
                              <mat-label class="sub-title">Reference Data Name<span class="red">*</span></mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Name" formControlName="sourceDataName" maxlength="50" autocomplete="off"/>
                              </mat-form-field>
                              <!-- <mat-error class="errSty" *ngIf="!afControls.sourceDataName.value && afControls.sourceDataName.touched">Please Enter Source Name</mat-error> 
                              </div> -->
                              <div class="list-item-2 outline split">
                              <mat-label class="mtop sub-title">MongoDB Cluster Client URL <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                              </mat-label>                                                    
                              <!-- <mat-form-field appearance="fill">
                                <input matInput placeholder="Client URL" formControlName="clientUrl" maxlength="250" autocomplete="off"/>
                              </mat-form-field> -->
                              <mat-form-field appearance="fill">
                                <mat-label >Cluster Client URL</mat-label> 
                                <mat-select formControlName="clientUrlDb" (selectionChange)="onWriterChange()">
                                  <mat-option *ngFor="let url of clientUrl" value="{{url.client_url}}"
                                   matTooltip="{{url.client_url}}">
                                    {{url.client_url}}
                                  </mat-option>
                                  <mat-option value="others">Others</mat-option>                                    
                                </mat-select>
                                </mat-form-field>
                              </div>

                              <div class="list-item-2 outline splitR">
                                <mat-label class="mtop sub-title">Cluster Client URL</mat-label>                                                    
                                <mat-form-field appearance="fill">
                                  <input matInput placeholder="Cluster Client URL" formControlName="clientUrlDbType"  autocomplete="off"/>
                                </mat-form-field>
                                </div>

                              <div class="list-item-2 outline split" *ngIf="!showDbCollectionName">
                                <mat-label class="mtop sub-title">Reference Data Category (MongoDB database)</mat-label>                                                    
                                <mat-form-field appearance="fill">
                                  <mat-label >Category</mat-label> 
                                  <mat-select formControlName="sourceCategory">
                                    <mat-option *ngFor="let srcCat of dbList" value="{{srcCat}}">
                                      {{srcCat}}
                                    </mat-option>                                    
                                  </mat-select>
                                  </mat-form-field>
                                </div>

                                <div class="list-item-2 outline split" *ngIf="showDbCollectionName">
                                  <mat-label class="mtop sub-title">Reference Data Category (MongoDB database)</mat-label>                                                    
                                  <mat-form-field appearance="fill">
                                    <input matInput placeholder="Source Name" formControlName="sourceCategory" maxlength="50" autocomplete="off"/>
                                  </mat-form-field>
                                  </div>

                              <!-- <div class="list-item-2 outline split">
                                <mat-label class="mtop sub-title">Database</mat-label>                                                    
                                <mat-form-field appearance="fill">
                                  <input matInput placeholder="Database" formControlName="database" maxlength="250" autocomplete="off"/>
                                </mat-form-field>
                                </div> -->

                                <div class="list-item-2 outline splitR">
                                  <mat-label class="mtop sub-title">Reference Data Set (MongoDB collection)</mat-label>                                                    
                                  <mat-form-field appearance="fill">
                                    <input matInput placeholder="Collection" formControlName="collection" maxlength="250" autocomplete="off"/>
                                  </mat-form-field>
                                  </div>

                              
                             
                              <div class="bdr"></div>
                                          
                              <div class="act-btn-wrapper m1t">
                                  <button mat-stroked-button class="btnBlueGreenN addico" (click)="saveSource()">Submit <mat-icon>navigate_next</mat-icon></button>
                                  <!-- <button mat-stroked-button class="button3d btnPush btnLightBlue tdBtn"  *ngIf="isEditMode"  (click)="editSourceSave()">Submit <mat-icon>navigate_next</mat-icon></button> -->
          
                                  <!-- <button mat-stroked-button class="button3d btnPush btnLightBlue tdBtn"
                                  [disabled]="!afControls.sourceDataName.value || !sourceSettings.frequency || !sourceSettings.uploadDate || !flError"
                                  (click)="validateSourceNameAndNext()">Next <mat-icon>navigate_next</mat-icon></button> -->
                              </div>                                                     
                         </div>
                         </div>
                         </mat-card>

                      </div>                                
                 </form>

                 <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Save Collections</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>{{alertMessage}}</p>
                    <p>Path : {{savePath}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                  </div>
                </ng-template>

                 <!-- <form [formGroup]="collectionForm" *ngIf="collectionsForm">          
                 
                        <div class="list flex-containers flex-start wrap">
                        <div class="list-item-2 outline wth">
                        
                          <div class="list-item-2 outline split">
                              <mat-label class="sub-title">Source Name<span class="red">*</span></mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Name" formControlName="sourceDataName" maxlength="50" autocomplete="off"/>
                              </mat-form-field>
                           
                              </div>
                              <div class="list-item-2 outline splitR">
                              <mat-label class="mtop sub-title">Client URL <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                              </mat-label>                                                    
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Client URL" formControlName="clientUrl" maxlength="250" autocomplete="off"/>
                              </mat-form-field>
                              </div>

                              <div class="list-item-2 outline split">
                                <mat-label class="mtop sub-title">Database</mat-label>                                                    
                                <mat-form-field appearance="fill">
                                  <input matInput placeholder="Database" formControlName="database" maxlength="250" autocomplete="off"/>
                                </mat-form-field>
                                </div>

                                <div class="list-item-2 outline splitR">
                                  <mat-label class="mtop sub-title">Collection</mat-label>                                                    
                                  <mat-form-field appearance="fill">
                                    <input matInput placeholder="Collection" formControlName="collection" maxlength="250" autocomplete="off"/>
                                  </mat-form-field>
                                  </div>

                              <div class="bdr"></div>
                                          
                              <div class="act-btn-wrapper m1t">
                                  <button mat-stroked-button class="btnBlueGreenN addico"    (click)="saveMangoDbCollection()">Submit <mat-icon>navigate_next</mat-icon></button>
                                 
                              </div>                                                     
                         </div>
                         </div>
                         </mat-card>

                      </div>                                
                 </form>
          -->
        </div>
      </div>
    </div>
    
  </div>
</section>
