.account-details {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 0 !important;  
  .acc-bg {
    background: #eeeeee;
    height: 90px;
  }
  .user-profile-img {
    position: relative;
    top: -60px;
  }
  .profile-pic-small {
    padding: 0;
  }
  .account-heading {
    height: 150px;
    .a-title {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      color: rgba(0,0,0,.87);
    }
    .mat-icon-button {
      margin: 0;
      position: relative;
      top: -10px;
      .mat-icon {
        font-size: 18px;
      }
    }
  }
  .verified {
    position: relative;
    top: 6px;
    .mat-icon {
      color: #008200;
    }
  }
}
.user-profile-img {
  position: relative;
  .btn-main-right-wrapper {
    position: absolute;
    right: 80px;
    bottom: 10px;
    .mat-icon-button {
      background: #D5D5D5;
      border: 2px solid #fff;
      line-height: 36px;
    }
  }
}

.pro-complete {
  margin: 14px 30px 0 30px;
  p {
    font-size: 14px;
    color: #706F6F;
    margin-bottom: 8px;
    .percent {
      color: #19AB19;
    }
  }
  .comp-chart-outer {
    height: 4px;
    width: 100%;
    background-color: #ccc;
    .comp-chart {
      background-color: #19AB19;
      height: 4px;
      max-width: 100% !important;
    }
  }
}

.account-personal-details {
  padding: 10px;
  text-align: center;
  .list {
    margin-bottom: 0;
  }
  .verify-link {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
  }
  .stats {
    padding: 32px 20px 4px;
    h4 {
      margin-bottom: 0 !important;
      color: #b00100;
      font-weight: 500;
    }
    .right-bd {
      padding-right: 15px;
      border-right: 1px solid #ccc;
    }
  }
}


// :host {
//   .star {
//     position: relative;
//     &:after {
//       position: absolute;
//       width: 9px !important;
//       top: 0px;
//       left: 15px;
//     }
//   }
// }
     
