<section class="page-body profile-body home-body">
  <div class="container">
    <div class="profile-wrapper clearfix">
      <div class="left-panel large">
        <app-account-details></app-account-details>
        <mat-card class="left-nav sticky">
          <mat-nav-list>
            <div mat-subheader>
              <mat-icon mat-list-icon>account_box</mat-icon>
              Professional Info
            </div>
            <mat-list-item (click)="navigateToSection(experience)">
              <mat-icon mat-list-icon>pets</mat-icon>
              <div mat-line>Professional Experience</div>
            </mat-list-item>

            <mat-list-item (click)="navigateToSection(address)">
              <mat-icon mat-list-icon>perm_contact_calendar</mat-icon>
              <div mat-line>Address</div>
            </mat-list-item>
            
            <mat-list-item (click)="navigateToSection(achivements)">
              <mat-icon mat-list-icon>bookmarks</mat-icon>
              <div mat-line>Achievements</div>
            </mat-list-item>
            
            <mat-list-item (click)="navigateToSection(clients)">
              <mat-icon mat-list-icon>face</mat-icon>
              <div mat-line>Clients</div>
            </mat-list-item>
            
            <div mat-subheader>
              <mat-icon mat-list-icon>device_hub</mat-icon>
              Product & Service
            </div>
          </mat-nav-list>
        </mat-card>
      </div>
      <div class="right-panel large">
        <div class="flex-containers space-between page-heading-action">
          <div class="flex-item">
            <h4 class="name"><mat-icon>supervised_user_circle</mat-icon>Professional Info</h4>
          </div>
        </div>
        <mat-tab-group (selectedTabChange)="tabChange($event)">  
          <mat-tab label="Professional">
            <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
            <mat-accordion class="personal-details" multi>
              <mat-expansion-panel expanded hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span #experience>Professional Experience</span>
                  </mat-panel-title>
                  <mat-panel-description *ngIf="isCurrentUser">
                    <button mat-icon-button routerLink="/auth/professional/update">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mat-expansion-panel-body-margin">
                  <div class="list">
                    <div class="flex-containers list flex-start">
                      <div class="flex-item">
                        <label class="label">Company/Individual Designation</label>
                        <h4>{{professional.company}}, {{professional.profession}}, {{professional.location}}</h4>
                      </div>
                    </div>

                    <div class="flex-containers list flex-start">
                      <div class="flex-item">
                        <label class="label">About me</label>
                        <h4>{{professional.description}}</h4>
                      </div>
                    </div>

                    <div class="flex-containers list flex-start">
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Experience</label>
                        <h4>{{professional.exp}} Years</h4>
                      </div>
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Skill Type</label>
                        <h4>{{professional.skilltype}}</h4>
                      </div>
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Skills - Self Rating (out of 10)</label>
                        <h4>{{professional.rating}}</h4>
                      </div>
                    </div>

                    <div class="flex-containers list flex-start">
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Qualification</label>
                        <h4>{{professional.qualification}}</h4>
                      </div>
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Company Website</label>
                        <h4>{{professional.offwebsite}}</h4>
                      </div>
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Personal Website</label>
                        <h4>{{professional.perwebsite}}</h4>
                      </div>
                    </div>

                    <div class="flex-containers list flex-start">
                      <div class="flex-item">
                        <label class="label">Skiills</label>
                        <h4>{{professional.skills ? professional.skills.join(', ') : ''}}</h4>
                      </div>
                    </div>

                    <div class="flex-containers list flex-start">
                      <div class="flex-item">
                        <label class="label">Service Locations</label>
                        <h4>{{professional.serLocations ? professional.serLocations.join(', ') : ''}}</h4>
                      </div>
                    </div>

                  </div>
                </div>
              </mat-expansion-panel>

              <!-- Address -->
              <mat-expansion-panel expanded hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span #address>Address</span>
                  </mat-panel-title>
                  <mat-panel-description *ngIf="isCurrentUser">
                    <button mat-icon-button routerLink="/auth/professional/update">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mat-expansion-panel-body-margin">
                  <div class="list">
                    <div class="flex-containers list flex-start">
                      <div class="flex-item list-item-2 no-margin">
                        <label class="label">Street</label>
                        <h4>{{professional.street}}</h4>
                      </div>
                      <div class="flex-item list-item-2 no-margin">
                        <label class="label">City</label>
                        <h4>{{professional.city}}</h4>
                      </div>
                    </div>

                    <div class="flex-containers list flex-start">
                      <div class="flex-item list-item-2 no-margin">
                        <label class="label">State</label>
                        <h4>{{professional.state}}</h4>
                      </div>
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Country</label>
                        <h4>{{professional.country}}</h4>
                      </div>
                      <div class="flex-item list-item-3 no-margin">
                        <label class="label">Zipcode</label>
                        <h4>{{professional.zipcode}}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>

              <!-- Achivements Panel -->
              <mat-expansion-panel expanded hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span #achivements>Achivements ({{professional?.achivements?.length}})</span>
                  </mat-panel-title>
                  <mat-panel-description *ngIf="isCurrentUser">
                    <button mat-icon-button routerLink="/auth/professional/update">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="list achivements-wrp clearfix" *ngFor="let achivement of professional.achivements">
                  <button mat-button class="share-btn" (click)="shareWithCommunity(achivement, 'achivements');"  *ngIf="isCurrentUser">
                    <mat-icon>share</mat-icon>Share
                  </button>
                  <div class="image-wrp">
                    <div class="img-preview" *ngIf="achivement.path && achivement.path && (achivement.path | fileformat) === 'images'">
                      <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + achivement.path + ')'}"></div>
                    </div>
                    <div class="icon-image" *ngIf="achivement.path && achivement.path && (achivement.path | fileformat) === 'docs'">
                      <a href="{{appConfig.imgBaseUrl}}{{achivement.path}}" target="_blank">
                        <mat-icon>picture_as_pdf</mat-icon>
                      </a>
                    </div>
                  </div>
                  <div class="info-wrp">
                    <label class="label">Name</label>
                    <h4>{{achivement.name}}</h4>

                    <label class="label">Description</label>
                    <h4>{{achivement.description}}</h4>
                  </div>
                </div>                
                  <!-- <app-mn-carousel [items]="professional.achivements" [communityShare]="true" [shareKey]="'achivements'"></app-mn-carousel> -->
              </mat-expansion-panel>

              <!-- Clinets Panel -->
              <mat-expansion-panel expanded hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span #clients>Clients ({{professional?.clients?.length}})</span>
                  </mat-panel-title>
                  <mat-panel-description *ngIf="isCurrentUser">
                    <button mat-icon-button routerLink="/auth/professional/update">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <div class="list flex-containers wrap">
                    <div class="list-item-2 clients-wrp" *ngFor="let client of professional.clients">
                      <div class="list flex-containers wrap">
                        <div class="flex-item">
                          <div class="img-preview" *ngIf="client.path">
                            <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + client.path + ')'}"></div>
                          </div>
                        </div>
                        <div class="flex-item">
                          <label class="label">Client Name</label>
                          <h4>{{client.clientname}}</h4>
                          <label class="label">Email, Phone</label>
                          <h4>{{client.email}}, {{client.phoneno}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-tab>


          <mat-tab label="Products and Services">
            <mat-accordion class="personal-details service-details" multi>
              <!-- Nature of work -->
              <mat-expansion-panel expanded hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Nature of work
                  </mat-panel-title>
                  <mat-panel-description *ngIf="isCurrentUser">
                    <button mat-icon-button routerLink="/auth/professional/services">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let service of services; index as i" class="list bt-border">
                  <div class="list flex-containers flex-start">
                    <div class="list-item-7 no-margin">
                      <div class="deals-image-wrapper">
                        <h4 *ngIf="!service.path" class="icon-image"><mat-icon>image</mat-icon></h4>
                        <h4 *ngIf="service.path && (service.path | fileformat) === 'docs'" class="icon-image">
                          <a href="{{appConfig.imgBaseUrl}}{{service.path}}" target="_blank">
                            <mat-icon>picture_as_pdf</mat-icon>
                          </a>
                        </h4>
                        <div *ngIf="service.path && (service.path | fileformat) === 'images'" class="img-preview">
                          <a href="{{appConfig.imgBaseUrl}}{{service.path}}" target="_blank">
                            <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + service.path + ')'}"></div>
                          </a>
                        </div>
                      </div>
                    </div>              
                    <div class="list-item-1 no-margin">
                      <div class="list flex-containers flex-end">
                        <div class="list-item-1 no-margin">
                          <h4>{{service.name}}</h4>
                        </div>
                        <div class="list-item no-margin">
                          <h4>₹{{service.amount}}</h4>
                        </div>
                      </div>
                      <p>{{service.description}}</p>
                    </div>
                  </div>
                </div>   
              </mat-expansion-panel>
            </mat-accordion>            
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
 
    <!-- <div class="flex-containers space-between page-heading-action">
      <div class="flex-item">
        <h4 class="name">Professional Details</h4>
      </div>
      <div class="btn-main-right-wrapper" *ngIf="isCurrentUser">
        <button mat-stroked-button class="secondary-btn" *ngIf="isProfessionalTab" routerLink="/auth/professional/update">Edit</button>
        <button mat-stroked-button class="secondary-btn" *ngIf="!isProfessionalTab" routerLink="/auth/professional/services">Edit Products / Services</button>
      </div>
    </div> -->
    
    

  </div>
</section>
