<section class="page-body home-bodys pad-tp">
  <div class="container">
    <div class="home-wrapper">
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <div class="form-continer flex-containers">
            <mat-card class="border no-rounded list shrare-post pbl card1">
             
              <div class="lft">
                <h2 class="nTitle">SCHEMAS</h2>
                <!-- <mat-selection-list #shoes>
                  <mat-list-option *ngFor="let item of schemaTable | keyvalue" [value]="item.value.USERNAME" (click)="getconnectionTables(item.value.USERNAME)" [class.active]="item.value.USERNAME === selectedItem">
                   {{item.value.USERNAME}}
                  </mat-list-option>
                </mat-selection-list>
                
                <p>
                  Options selected: {{shoes.selectedOptions.selected.length}}
                </p>  -->

                <mat-list role="list">
                  <mat-list-item role="listitem" *ngFor="let item of schemaTable | keyvalue; let i = index" (click)="getconnectionTables(item.value.USERNAME)" [class.active]="item.value.USERNAME === selectedItem">
                    <mat-radio-button class="schema" [checked]="i == defaultSelected" [value]="item.value.USERNAME" (change)="selectionNew = $event.value">
                      {{item.value.USERNAME}}
                    </mat-radio-button>
                  </mat-list-item>
                </mat-list>
                 <!-- <mat-card style="margin-top: 1rem">
                  Currently selected: {{selectionNew}}
                </mat-card>  -->

              </div>
              <div class="rgt">
                <h2 class="nTitle">TABLES</h2>
                <div class="">
                  <div class="example-header">
                    <!-- <mat-form-field appearance="none">
                       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> 
                    </mat-form-field> -->
                    <div class="form-group has-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input type="text" class="form-control" placeholder="Search"  (keyup)="applyFilter($event.target.value)">
                    </div>
                  </div>
                  <mat-error class="nerr" *ngIf="tableErr">Please Select any one of the table Row</mat-error>
                  <table mat-table [dataSource]="dataSource">
                  
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox> -->
                      </th>
                      <td mat-cell *matCellDef="let row; let i = index" style="width:70px;">
                        <!-- {{i}}
                         <mat-checkbox (click)="$event.stopPropagation()"
                         [checked]="selected === i" (change)="selected = i">
                        </mat-checkbox>
                        {{row.selected}} -->
                        <mat-radio-button class="pos"
                        name="rhSelectionRadio" 
                         (click)="selectRow($event, row.TABLE_NAME)"
                        [checked]="row.selected">
                       </mat-radio-button>
                      </td>
                    </ng-container>
                  
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element" (click)="getdataframeFromTable(element.OWNER, element.TABLE_NAME)"> {{element.TABLE_NAME}} </td>
                    </ng-container>
                                               
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                    </tr>
                  </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                  <br><br>
                    <!-- <div>
                      <button  mat-raised-button (click)="logSelection()">Selected ITEM</button>
                    </div> -->

                    <div>
                      <button class="btnBlueGreenN addico blue"  mat-raised-button (click)="profileConfigureSourceForOracle()">Proceed</button>
                    </div>
              </div> 
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
