.content {
    background-clip: border-box;
    border: 0 solid #f7f7f7;
    border-radius: 0.25rem;
    box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
    background-color: #fff;
    width: calc(100vw - 270px);
}