.rule-selector {
  .custom-value-input {
    max-width: 150px;
  }
  .mat-icon-button{
    font-size: 12px;
 }
}
.option-wrp {
  display:flex; 
  justify-content: space-between;
}
.mat-option .mat-icon.del-icon {
  margin-right: 0;
  top: 13px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: #676767;
  &:hover {
    color: #000;
  }
}
.mat-option.add-option {
  padding: 0;
  .add-btn {
    width: 100%;
    height: 48px;
  }
  .mat-pseudo-checkbox {
    display: none;
  }
}