<div class="rule-selector">
  <mat-form-field appearance="outline">
    <mat-select [(ngModel)]="ruleOptionItem" (ngModelChange)="modelChange($event)" [multiple]="multiple">
      <mat-select-trigger>
        <span class="custom">
          {{selectedRule && selectedRule.length ? selectedRule.join(', ') : selectedRule}}
        </span>
       </mat-select-trigger>
       <mat-option *ngFor="let item of ruleItems" [value]="item.value">
        <div class="option-wrp">
          <span>{{item.label}}</span>
          <span></span>
          <mat-icon mat-icon-button class="del-icon" (click)="deleteRuleItem($event, selectedRule)" *ngIf="showAddItem && item.type==='CUSTOM'">delete</mat-icon>
        </div>
      </mat-option>
      <mat-option class="add-option" *ngIf="showAddItem">
        <button type="button" class="add-btn" mat-button (click)="showHideAddInput(true);">
          <mat-icon>add</mat-icon>Add
        </button>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="list flex-containers flex-start wrap" *ngIf="showAdd">
    <div class="custom-value-input">
      <mat-form-field appearance="outline">
        <input matInput placeholder="" maxlength="50" autocomplete="off" [(ngModel)]="ruleItem" />
      </mat-form-field>
    </div>
    <button type="button" mat-icon-button (click)="addRuleItem(selectedRule); showHideAddInput(false)" [disabled]="!ruleItem" >
      <mat-icon>done</mat-icon>
    </button>
    <button type="button" mat-icon-button class="del-icon" (click)="showHideAddInput(false)">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
