.correlation-summary {
   ::ng-deep .mat-tab-label {
     border-radius: 2px 2px 0 0;
     background: #433683!important;
     margin-right: 5px;
     height: 23px !important;
     font-size: 12px;
     color: #d1cdcd
 }
 ::ng-deep .mat-tab-label-active {
   background: #433683 !important;
   color: #fff!important;
   border-bottom: 2px solid #433683;
 }
 ::ng-deep .mat-tab-labels {
   border-bottom: 0px solid #433683;
   margin-top: 0;
   margin-bottom: 0;
   box-shadow: 0 6px 10px -5px #433683;
 }
 ::ng-deep .mat-tab-label .mat-tab-label-content {
   font-family: 'open-sans-regular';
   text-transform: none;
   font-size: 12px;
   //color: #d1cdcd;
 } 
}
.not-found {
  text-align: center;
  margin: 30px 0;
}
// .progTitle {
//   text-transform: lowercase;
// }

// .progTitle::first-letter {
//   text-transform: uppercase;
// }