<button class="close" mat-icon-button (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title class="space bg2">{{data.title}}</div>
<div mat-dialog-content>
  <app-progress-bar [message]="'Loading preview...'" class="component" *ngIf="isPreviewLoading"></app-progress-bar>
    <app-ag-grid
      floatingFilter="true"
      *ngIf="isPreviewLoaded"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [pageSize]="50"
      [rowSelection]="'multiple'"
      [suppressRowClickSelection]="false"     
    ></app-ag-grid>
</div>
