<div mat-dialog-title>Clean Logs
  <button class="close" mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content fxLayout="column" fxLayoutGap="10px">
  <div class="topStatus padding" fxLayout="row">
    <div class="card" fxLayout="column">
      <span class="topText">Source ID</span>
      <span class="bottomText">{{cleanLogDetails.sourceId}}</span>
    </div>
    <div class="card" fxLayout="column">
      <span class="topText">Source FileName</span>
      <span class="bottomText">{{cleanLogDetails.sourcepath}}</span>
    </div>
    <div class="card" fxLayout="column">
      <span class="topText">Output Path</span>
      <span class="bottomText">{{cleanLogDetails.outputpath}}</span>
    </div>
  </div>
  <div class="tableView">
    <table mat-table [dataSource]="cleanLogSource">

      <ng-container matColumnDef="processTime">
        <th mat-header-cell *matHeaderCellDef> Process Time</th>
        <td class="table-column-220" mat-cell *matCellDef="let element">
          {{element.processTime | date:'medium' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td class="table-column-220" mat-cell *matCellDef="let element">
          {{element.action}}
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="center">
          No Records Found
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let element;let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="cleanLogSource && cleanLogSource.data.length > 0"></tr>
    </table>
  </div>
</div>