.topStatus {
  .card {
    margin-right: 8px;
    padding: 6px 15px 6px 6px;
    color: #666;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
  }
  .topText {
    font-weight: 700;
    font-size: 0.9rem;
    color: #49739e;
  }
}
.tableView {
  max-height: calc(100vh - 300px);
  overflow: auto;

  table {
    width: 100%;
    font-size: 13px;
  }

  tr.mat-header-row,
  tr.mat-row {
    height: 38px;
  }
  td, th {
    font-size: 13px;
  }
}
