.sourceDetail {
  .mat-form-field {
    width: 250px;
  }
}

.rulsetValue {
  padding: 0 15px;

  .mat-form-field:first-child {
    width: 350px;
  }
}

.rulesetContainer {
  max-height: calc(100vh - 370px);
  overflow: auto;
}

.columnList {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 200px;
  margin-bottom: 4px;
  cursor: pointer;
}

.columnList:hover {
  background-color: #eee;
}

button.fabMini {
  transform: scale(0.7) !important;
}

.ruleTitle {
  font-size: 16px;
  font-weight: 400;
}

.columnList.selected {
  background-color: #5ec3dd;
  color: #fff;
}

.container {
  min-height: 100px;
}

.configColumns {
  max-height: 250px;
  overflow: auto;
  border: 1px solid #ccc;
  margin: 0px 0px 20px 20px;
  padding: 10px;

  .mat-radio-button {
    padding-right: 10px;
  }
}

.isMColumnEnable {
  opacity: 0.5 !important;
  pointer-events: none;
}
