<section class="page-body profile-bod home-body">
  <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
  <div class="container">
    <div class="flex-containers space-between page-heading-action">
      <div class="flex-item">
        <h4 class="name">
          <mat-icon mat-list-icon>device_hub</mat-icon>
          Products / Services Details</h4>
      </div>
    </div>
    <div class="personal-form-wrapper">
      <form [formGroup]="servicesDetailsForm">

        <mat-accordion class="personal-details" multi>

          <mat-expansion-panel expanded hideToggle disabled>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Products / Services
              </mat-panel-title>
              <mat-panel-description>
                <button mat-icon-button (click)="addFormItem('services')" *ngIf="!servicesDetailsForm.get('services')['controls'].length">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button (click)="saveServicesDetails()">
                  <mat-icon>save</mat-icon>
                </button>
              </mat-panel-description>
          </mat-expansion-panel-header>
            <div class="flex-containers space-between" 
              formArrayName="services" *ngFor="let service of servicesDetailsForm.get('services')['controls']; index as i; last as isLast; first as isFirst">
              <ng-container [formGroupName]="i">
                <div class="list flex-containers flex-start wrap">
                  <div class="list-item-4 outline">
                    <mat-label>Choose/Change Image</mat-label>
                    <app-image-cropper 
                      [imageType]="'Products'"
                      [fileTypes]="'application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*'"
                      [imagePath]="services[i]?.path ? services[i].path : ''"
                      (uploadCompleted)="onUploadCompleted($event, service)">
                    </app-image-cropper>
                  </div>
                  <div class="list-item-2 outline">
                    <mat-label>Name</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Name" formControlName="name" maxlength="100" autocomplete="off"/>
                    </mat-form-field>
                  </div>
                  <div class="list-item-4 outline">
                    <mat-label>Amount</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput (keypress)="inputValidation.numericOnly($event)" placeholder="Amount" formControlName="amount" maxlength="10" autocomplete="off"/>
                    </mat-form-field>
                  </div>
                  <div class="list-item-1 outline">
                    <mat-label>Description</mat-label>
                    <mat-form-field appearance="outline">
                      <textarea matInput placeholder="Description" formControlName="description" maxlength="250" rows="2" autocomplete="off"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="list add-remove-button">
                  <button type="button" mat-icon-button type="button" (click)="addFormItem('services')" *ngIf="isLast">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button type="button" mat-icon-button type="button" (click)="removeFormItem('services', i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </form>
    </div>
    

  </div>
</section>