
<div class="landing-wrapper">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-1 ">
          <a class="logo-wrapper" routerLink="/auth/home">
            <img class="logo" src="./../assets/images/logo-vertical.svg" alt="Moneyism">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-containers bg-wrapper">
    <div class="left-bg">
      <div class="title-container">
        <h1 class="page-title">
          Make Deals for today and tomorrow through one single powerful platform
        </h1>
        <p class="sub-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <div class="login-btn-wrpper">
          <button mat-raised-button color="primary" routerLink="/signup" class="login-primary-btn">
            Register Now
          </button>
          <button mat-raised-button color="primary" routerLink="/login" class="login-primary-btn white">
            Login
          </button>
        </div>
      </div>
    </div>
    <div class="right-bg"></div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 copyright">
          Copyright © moneyism.com
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 footer-links">
          <a routerLink="">Contact Us</a>
          <a routerLink="">Privacy</a>
          <a routerLink="">Terms</a>
          <a routerLink="">Disclaimer</a>
        </div>
      </div>
    </div>
  </div>
</div>



