<h1 mat-dialog-title>Role</h1>
<div mat-dialog-content class="user-account">
  <form [formGroup]="roleForm" (ngSubmit)="saveRole()">
    <div class="user-wrap">
      <div class="list">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="roleName" autocomplete="off" (keydown.space)="$event.preventDefault();">
        </mat-form-field>
      </div>
      <div class="list">
        <mat-form-field appearance="fill">
          <mat-label>Dispaly Text</mat-label>
          <input type="text" matInput formControlName="roleText" autocomplete="off">
        </mat-form-field>
      </div>
      <!-- <div class="list">
        <mat-form-field appearance="fill">
          <mat-label class="lbl">Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="list">
          <span class="sub-title">Roles</span>
          <!-- [initValue]="sourceSettings.multiSourceOptions"
          (selectionChange)="sourceSettings.multiSourceOptions=$event.value" -->
          <app-rule-selector 
            multiple="true" 
            [showAddItem]="false"
            [ruleItems]="rightsList"
            [initValue]="roleForm.controls.rights.value"
            (selectionChange)="roleForm.controls.rights.setValue($event.value)"
          ></app-rule-selector>                                  
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="accent" (click)="saveRole()" cdkFocusInitial class="ma-cr">Ok</button>
</div>