<button class="close" mat-icon-button (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>

<div class="comp-tab">
  <mat-tab-group mat-align-tabs="start" animationDuration="0ms" [selectedIndex]="selectedTabIndex" (selectedTabChange)="selectedTabChange($event)">
    <mat-tab *ngFor="let tab of analysisKeys" label="{{tab}}">
      <div mat-dialog-title class="space bg2">
        <div class="flex-containers space-between">
          <div>
            {{key}} - {{selectedKey}} - {{selectedValue}}
            <span *ngIf="selectedColumn.column"> - {{selectedColumn.column}}</span>
            - {{analysisItem[key].value}}%
          </div>
        </div>
        <button type="button"
          *ngIf="analysisItem[key].details && analysisItem[key].details.length"
          class="button3d btnPush btnOrange addico"
          (click)="launchDataCleaning(analysisItem,'edit')" matTooltip="Data Cleaning">
          Data Cleaning
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-content>
  <!-- category Carousel -->
  <div class="analysis-info">
    <div class="category-list-Owl clearfix" *ngIf="analysisItem[key].details && analysisItem[key].details.length">
      <div class="left-arrow">
          <button mat-stroked-button class="gv-secondary-btn primary-btn-gray prev-next-btn clr2" (click)="owlCar.prev()">
          <mat-icon class="pl">keyboard_arrow_left</mat-icon>
          </button>
      </div>      
      <div class="category-list" #carouselHolder>
        <owl-carousel-o [options]="OwlCategoryOptions" #owlCatCar>
          <ng-container *ngFor="let rowItem of analysisItem[key].details; let i = index">
            <ng-template carouselSlide [id]="i">
              <mat-card (click)="launchAnalysisDetails(rowItem);" [class.selected]="rowItem.column === selectedColumn.column">
                <div *ngFor="let item of rowItem | keyvalue" [hidden]="item.key === 'outlier'">
                  <span *ngIf="item.key !== 'column'" class="field-label">{{item.key}}: </span> 
                  <span class="strong compClr" (click)="launchAnalysisDetails(rowItem);">{{item.value}}</span>
                </div>
              </mat-card>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <div class="right-arrow">
          <button mat-stroked-button class="gv-secondary-btn primary-btn-gray prev-next-btn clr2" (click)="owlCar.next()">
          <mat-icon class="pl">keyboard_arrow_right</mat-icon>
          </button>
      </div>
    </div>
  </div>
  
  <div class="content-details">
    <div *ngIf="showDetails">
      <mat-card fxFlex class="stats process-blocks-table" style="height: 480px;">
        <app-ag-grid
          floatingFilter="true"
          [isLoading]="isLoading"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [pageSize]="50"
          [rowSelection]="'multiple'"
          [moveToColumn]="selectedColumn.column"
          [suppressRowClickSelection]="false"
        ></app-ag-grid>
      </mat-card>
    </div>
    <app-progress-bar [message]="'Details are loading...'" class="component" *ngIf="isLoading"></app-progress-bar>
  </div>
</div>
