.mat-raised-button {
   font-family: 'open-sans-condensed-bold'!important;
}
.mat-dialog-title {
   font-family: 'open-sans-condensed-bold';
}
.mat-dialog-title {
   font-size: 24px;
   color: #322a54;
   font-weight: 400;
   margin: 0px 10px 20px 10px;
   font-family: 'open-sans-condensed-bold';
   position: relative;
   &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -12px;
      height: 5px;
      width: 55px;
      background-color: #efa800;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 1px;
      width: 95%;
      max-width: 181px;
      background-color: #efa800;
    }
 }
.mat-dialog-actions {
   display: block;
}
.mat-dialog-actions {
   text-align: right;
}
.mat-dialog-content {
   max-height: auto;
}
.strong {
   font-weight: 600;
   cursor: pointer;
   color: #59bfff;
}
.btn-wrapper {
   text-align: right;
   margin-bottom: 20px;
}
.content-details {
   height: calc(100vh - 210px);
}
.mat-dialog-content {
   overflow: hidden;
   max-height: initial;
}
.primary-btn-gray mat-icon {
   margin-right: 10px;
}

tr:nth-child(even) {background: #f0f7f7 }
tr:nth-child(odd) {background: #ffffff}