<section class="page-body home-bodys wts" *ngIf="showAllDetails">
  <div class="container">
    <div class="">
      <mat-card class="border no-rounded list shrare-post mct noFile">
        <h1 class="no-margin ms nTitle inlb">Please Upload your Source</h1>
        <div class="createLft inlb">
          <button type="button" class="btnBlueGreenN addico"
          routerLink="/auth/add-source-data" [queryParams]="{ type: 'clean'}" matTooltip="" >
          <mat-icon>add</mat-icon>
          Upload Source
          </button>
        </div>
      </mat-card>      
    </div>
</div>
</section>

<section class="page-body home-bodys wts" *ngIf="!showAllDetails">
  <div class="container">
    
    <!-- (OR_ARIRPOT === 'JFK' && DES_AIRPORT === 'ORD' OR ) -->
    
    <div class="home-wrapper">
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <div class="shrare-post">

          <!-- Source List --> 
          <div class="dashBoard flex-containers">
            <div class="dash-left">
              <div class="srcTop"><mat-icon>widgets</mat-icon> Sources</div>
              <mat-accordion>
                <!-- (opened)="setOpened(i)"
                  (closed)="setClosed(i)" -->
                <mat-expansion-panel *ngFor="let item of sourceByCategory; let i = index; first as isFirst" [expanded]="item.category === selectedCategoryKey">
                  <mat-expansion-panel-header>
                    <mat-panel-title >{{ item.category }}</mat-panel-title>                   
                  </mat-expansion-panel-header>
                  <!-- <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor='let selectedSource of item.sources;'>
                        <div class="lftItem" (click)="changeCategory(selectedSource)" [class.activeList]="selectedSource.sourceId === source.sourceId" matTooltip="{{ source.sourceDataName }}" >
                        <mat-icon> layers</mat-icon> 
                        {{ selectedSource.sourceDataName }}                                  
                        </div> 
                        <div>                                               
                       <mat-icon class="ed" matTooltip="Edit Source" *ngIf="selectedSource.sourceId === source.sourceId" (click)="editSourceData(selectedSource)">edit</mat-icon>
                       <mat-icon class="de" matTooltip="Delete Source" *ngIf="selectedSource.sourceId === source.sourceId" (click)="deleteSourceData(selectedSource)">delete</mat-icon>
                      </div> 
                      
                       <mat-list style="margin-left:30px;">
                        <div  *ngFor='let cleanFiles of cleanedFilesLog;'>
                          <mat-list-item role="listitem">{{cleanFiles.outputFileName}}</mat-list-item>
                        </div>
                      </mat-list> 
                     
                   </mat-list-item>
                     
                  </mat-list>  -->
                  
                  <ng-container  *ngFor='let selectedSource of item.sources;'>
                    <mat-list-item > 
                      <div class="lftItem" (click)="changeCategory(selectedSource)" [class.activeList]="selectedSource.sourceId === source.sourceId" matTooltip="{{ source.sourceDataName }}" >
                        <mat-icon> layers</mat-icon> 
                        {{ selectedSource.sourceDataName }}  
                        <mat-icon class="ed" matTooltip="Edit Source" *ngIf="selectedSource.sourceId === source.sourceId" (click)="editSourceData(selectedSource)">edit</mat-icon>
                        <mat-icon class="de" matTooltip="Delete Source" *ngIf="selectedSource.sourceId === source.sourceId" (click)="deleteSourceData(selectedSource)">delete</mat-icon>                                
                      </div> 
                  
                    </mat-list-item>
                    <mat-list style="margin-left:30px;">
                      <div *ngFor='let cleanFiles of selectedSource.CleanedFilesLog;'>
                        <mat-list-item> 	
                          <div (click)="changeCategory(selectedSource, cleanFiles.outputPath)"  [class.activeSubList]="cleanFiles.outputPath === titleSrc">
                            <i class="fa fa-circle bullets"></i> 
                            {{cleanFiles.outputFileName}}</div>
                          </mat-list-item>
                      </div>
                    </mat-list>
                  </ng-container>


                </mat-expansion-panel>
              </mat-accordion>
              <div class="createLft">
                <button type="button" class="btnBlueGreenN addico"
                routerLink="/auth/add-source-data" [queryParams]="{ type: 'clean'}" matTooltip="" >
                <mat-icon>add</mat-icon>
                Create Source
                </button>
              </div>
            </div>           
            <div class="dash-right">
              <h1 class="no-margin ms nTitle">Summary</h1>
              <div class="flex-containers">
              <mat-card class="border no-rounded list shrare-post mct pad10">
                <div class="summaryBlock fst">
                  <div class="mid-cnt">Records</div>
                  <div class="topTitle green">{{profileDetails.nr_totalrecords}}</div>                  
                </div>
                <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt">Total Columns </div>
                  <div class="topTitle red">{{profileDetails.nr_totalcols}}</div>
                  
                </div>
                 <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt"> Numeric Columns</div>
                  <div class="topTitle green">{{profileSummary.numeric}} </div>                 
                </div>
               <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt"> Alphabetic Columns</div>
                  <div class="topTitle red">{{profileSummary.alphabetic}}</div>                  
                </div>
                 <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt">Alphanumeric Columns </div>
                  <div class="topTitle green">{{profileSummary.alphanumeric}}</div>                  
                </div>
                <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt">Duplicates </div>
                  <div class="topTitle red">{{profileDetails.nr_duplicates}}</div>                  
                </div>
                <div class="dividerTop"></div>
                <div class="summaryBlock lst">
                  <div class="mid-cnt">Total Null Counts</div>
                  <div class="topTitle green">{{profileSummary.nullcounts}}</div>                 
                </div>
              </mat-card> 

              <!-- <mat-card class="border no-rounded list shrare-post mini-card minC">
                <div class="topTitle">Type</div>
                <div class="mid-cnt"> <span class="red">S</span></div>
              </mat-card>
              <mat-card class="border no-rounded list shrare-post mini-card minC">
                <div class="topTitle">ID</div>
                <div class="mid-cnt"> <span >S1</span> </div>
              </mat-card> -->
              <!-- <mat-card class="border no-rounded list shrare-post mini-card">
                <div class="topTitle">Source Name</div>
                <div class="mid-cnt"> <span class="min">flights_new lot of empty cells</span> </div>
              </mat-card> -->
              <!-- <mat-card class="border no-rounded list shrare-post mini-card">
                <div class="topTitle">File Name</div>
                <div class="mid-cnt"> <span class="red min">flights_new lot of empty cells.xls</span> </div>
              </mat-card> -->
              <!-- <mat-card class="border no-rounded list shrare-post mini-card last">
                <div class="topTitle">Referennce</div>
                <div class="mid-cnt"> <span class="min">Ref1 - airport origin reference</span> </div>
              </mat-card> -->
            </div>
             
              
            
             
              <div class="allView">
                <div class="viewProfile">
                  <div class="prevMenu" (click)="changeMenu('profile')">
                    <img src="assets/images/profile-data.svg" class="prof"  />
                    <span [ngClass]="{act: previewProfile}">Profile</span>
                  </div>
                  <!-- <span class="divider"></span>                  
                  <div class="prevMenu" (click)="changeMenu('preview')">
                    <img src="assets/images/preview.svg" class="prev"  />
                    <span [ngClass]="{act: previewTable}">Preview</span>
                  </div> 
                  <span class="divider"></span> 
                  <div class="prevMenu" (click)="changeMenu('correlation')">
                    <img src="assets/images/correlation.svg" class="prof"  />
                    <span [ngClass]="{act: previewCorrelation}">Correlation</span>
                  </div> -->
                </div>
            </div>
            <mat-card class="border no-rounded list shrare-post mct">
              
              <!-- <div class="previewView valign" *ngIf="previewTable">
                <app-ag-grid
                floatingFilter="true"
                *ngIf="isPreviewLoaded"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [pageSize]="50"
                [rowSelection]="'multiple'"
                [suppressRowClickSelection]="false"
              ></app-ag-grid>
            </div> -->

            <div class="profileView valign">
              <div class="analysis-infoDashboard">
                <div style="width: 100%;text-align: right;">
                <div style="text-align: right; display: inline-block;">
                  <button 
                    type="button" 
                    (click)="showCleanLogs()"
                    [disabled]="!isCleanLog"
                    class="btn btn-info w-t"
                    >
                    <mat-icon> history</mat-icon> Logs 
                  </button>
                </div>

                <div style="text-align: right; display: inline-block;">
                  <button 
                    type="button" 
                    (click)="showSaveConfirm(source)"
                    [disabled]="!isSaveEnable"
                    *ngIf="this.profiles.length"
                    class="btn btn-success w-t"
                    >
                    <mat-icon> save</mat-icon> Save 
                  </button>
                </div>
              </div>
                <div class="category-list-wrapper clearfix">
                  <owl-carousel-o class="selected" [options]="profileOptions">
                    <ng-template carouselSlide *ngFor="let profile of profiles;">
                      <div class="category-item" (click)="changeProfile(profile)" [class.selected]="attrubute === profile.column">
                        {{profile.column}} 
                      </div>
                    </ng-template>                     
                  </owl-carousel-o>                                     
               </div>
              </div>
              <div class="flex-containers prof-details">
                <div class="attribute-details">
                  <mat-card class="tab-card">
                    <mat-tab-group mat-align-tabs="start"  animationDuration="0ms" class="mm2" #tabGroup (selectedTabChange)="resetPreview();">
                      <mat-tab label="Data Imputation">
                        <div class="impute-wrapper" *ngIf="profile.attributeSummary?.dataType === 'Numeric'">
                          <h5 class="sub-title-label">Impute Null Data</h5>
                          <div class="form-row">
                            <mat-form-field appearance="fill" class="mft">
                              <mat-select placeholder="Impute Option" [(ngModel)]="impute.value" [disabled]="!profile.attributeSummary?.null_records">
                                <mat-option value="MEAN">Mean</mat-option>
                                <mat-option value="MEDIAN">Median</mat-option>
                                <mat-option value="MODE">Mode</mat-option>
                                <mat-option value="MIN">Min</mat-option>
                                <mat-option value="MAX">Max</mat-option>
                                <mat-option value="IQR25">IQR25</mat-option>
                                <mat-option value="IQR75">IQR75</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div>
                            <button 
                              type="button" 
                              class="btn btn-primary"
                              (click)="loadPreview('nan')"
                              style="margin-left: 0;"
                            ><mat-icon> layers_clear</mat-icon> PREVIEW </button>
      
                            <button 
                              type="button" 
                              class="btn btn-danger"
                              (click)="imputeColumns('numeric')"
                              [disabled]="!profile.attributeSummary?.null_records || !impute.value"><mat-icon> layers_clear</mat-icon> IMPUTE 
                            </button>
                          </div>
                      </div>
      
                        <div class="impute-wrapper" *ngIf="profile.attributeSummary?.dataType === 'Alphabetic' || profile.attributeSummary?.dataType === 'Alphanumeric'">
                          <h5 class="sub-title-label">Impute Null Data</h5>
                          <div class="form-row">
                              <mat-form-field appearance="fill" class="mft">
                                <mat-select placeholder="Select Value" [(ngModel)]="impute.value" [disabled]="!profile.attributeSummary?.null_records">
                                  <mat-option *ngFor="let frequency of profile.frequncyAnalysis" [value]="frequency.unique_values">{{frequency.unique_values}} - ({{frequency.counts}})</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div>
                          <button 
                          type="button" 
                          class="btn btn-primary"
                          (click)="loadPreview('nan')"
                          style="margin-left: 0;"
                          ><mat-icon> layers_clear</mat-icon> PREVIEW </button>
                        <button 
                          type="button" 
                          class="btn btn-danger"
                          (click)="imputeColumns('string')"
                          [disabled]="!profile.attributeSummary?.null_records || !impute.value"><mat-icon> layers_clear</mat-icon> IMPUTE </button>
                      </div>
                    </div>
                      </mat-tab>
                      
                      <mat-tab label="Duplicate Analysis">
                        <div class="impute-wrapper">
                          <h5 class="sub-title-label">Remove Duplicate Rows</h5>
                          <div style="margin-top: 10px;">
                            <mat-radio-group [(ngModel)]="duplicate.option" (ngModelChange)="duplicate.columns = []">
                              <mat-radio-button value="all">All Columns</mat-radio-button>
                              <mat-radio-button value="selected">Specific Column</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <div style="margin-top: 10px;">
                            <mat-form-field appearance="fill" class="mft" *ngIf="duplicate.option === 'selected'">
                              <mat-select placeholder="Select Columns" multiple [(ngModel)]="duplicate.columns">
                                <mat-option *ngFor="let profile of profiles" [value]="profile.column">{{profile.column}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
      
                          <div class="form-row">
                              <button 
                                type="button" 
                                (click)="loadPreview('duplicate')"
                                class="btn btn-primary">
                                <mat-icon> visibility</mat-icon> Preview 
                              </button>
                              <button 
                                type="button" 
                                (click)="deleteDuplicates()"
                                class="btn btn-danger">
                                <mat-icon> delete</mat-icon> Remove 
                              </button>
                          </div>
                        </div>
                      </mat-tab>  
      
                      <!-- <mat-tab label="Mask Analysis">
                        <div class="impute-wrapper">
                          <h5 class="sub-title-label">Mask Analysis Data</h5>
                          <div class="form-row">
                            <mat-form-field appearance="fill" class="mft">
                              <mat-select placeholder="" [(ngModel)]="mask.value">
                                <mat-option *ngFor="let mask of profile.maskAnalysis" [value]="mask.unique_values">{{mask.unique_values}} - ({{mask.counts}})</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <button 
                              type="button" 
                              [disabled]="!mask.value"
                              (click)="loadPreview('mask', mask.value)"
                              class="button3d btnPush btnPurple addico w-t">
                              <mat-icon> visibility</mat-icon> Preview 
                            </button>
                          </div>                    
                        </div>
                      </mat-tab> -->
      
                      <mat-tab label="Data Removal">
                        <div class="impute-wrapper">
                          <h5 class="sub-title-label">Delete Column / Row</h5>
                          <div class="form-row">
                            <mat-radio-group [(ngModel)]="delete.type" (ngModelChange)="changeRemoveCategory(delete.type)">
                              <mat-radio-button [checked]="true" value="column">Column</mat-radio-button>
                              <mat-radio-button value="custom" value="row">Row</mat-radio-button>
                            </mat-radio-group>
                          </div>
      
                          <div class="form-row" *ngIf="delete.type === 'column'">
                            <mat-radio-group [(ngModel)]="delete.category">
                              <mat-radio-button [checked]="true" value="col_nan">NaN</mat-radio-button>
                              <mat-radio-button value="custom" value="col_with_value">Value</mat-radio-button>
      
                              <div *ngIf="delete.category === 'col_with_value'" style="margin-top: 10px;">
                                <mat-form-field appearance="fill" class="mft">
                                  <mat-select placeholder="Select Columns" [(ngModel)]="delete.column_name" disabled>
                                    <mat-option *ngFor="let profile of profiles" [value]="profile.column">{{profile.column}} - {{profile.attributeSummary?.dataType}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
      
                              <div *ngIf="delete.category === 'col_with_value' && profile.attributeSummary?.dataType === 'Alphabetic' || profile.attributeSummary?.dataType === 'Alphanumeric'">
                                <mat-form-field appearance="fill" class="mft-200" style="width: 250px;">
                                  <mat-label>Value</mat-label>
                                  <input 
                                    matInput placeholder="" value="" 
                                    [(ngModel)]="delete.values"
                                    (ngModelChange)="delete.formula.cond_value1=''; delete.formula.cond_value2=''">
                                </mat-form-field>
                              </div>
          
                              <div style="margin-top: 10px;" class="formula-section" *ngIf="delete.category === 'col_with_value' && profile.attributeSummary?.dataType === 'Numeric'">
                                <mat-form-field appearance="fill" class="mft">
                                  <mat-select placeholder="Operator" [(ngModel)]="delete.formula.operator1" (ngModelChange)="delete.values=''">
                                    <mat-option *ngFor="let operator of operators" [value]="operator">{{operator}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="mft2">
                                  <mat-label>Value</mat-label>
                                  <input matInput placeholder="" type="number" value="" [(ngModel)]="delete.formula.cond_value1" (ngModelChange)="delete.values=''">
                                </mat-form-field>
      
                                <mat-form-field appearance="fill" class="mft">
                                  <mat-select placeholder="Operator" [(ngModel)]="delete.formula.operator2" (ngModelChange)="delete.values=''">
                                    <mat-option *ngFor="let operator of operators" [value]="operator">{{operator}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="mft2">
                                  <mat-label>Value</mat-label>
                                  <input matInput placeholder="" type="number" value="" [(ngModel)]="delete.formula.cond_value2" (ngModelChange)="delete.values=''">
                                </mat-form-field>
                              </div>
                            </mat-radio-group>
                          </div>
      
                          <div class="form-row" *ngIf="delete.type === 'row'">
                            <mat-radio-group [(ngModel)]="delete.category">
                              <mat-radio-button [checked]="true" value="row_nan">NaN</mat-radio-button>
                              <!-- <mat-radio-button value="custom" value="">Value</mat-radio-button>
                              <mat-form-field appearance="fill" class="mft2" *ngIf="delete.category === ''">
                                <mat-label>Custom Value</mat-label>
                                <input matInput placeholder="" value="" [(ngModel)]="delete.values">
                              </mat-form-field> -->
                            </mat-radio-group>
                          </div>
      
                          <div class="form-rows" style="margin-top: 10px;" *ngIf="delete.category === 'col_nan' || delete.category === 'row_nan'">
                            <div style="font-weight: bold;">
                              Threshold : {{delete.threshold}}%
                            </div>
                            <div style="margin: 10px 0 20px">
                              <!-- row_nan -->
                              <span *ngIf="delete.category === 'row_nan'">
                                Considering NaNs across {{calulateRowNanThreshold()}} columns at least, per row.
                              </span>
                              <!-- col_nan -->
                              <span *ngIf="delete.category === 'col_nan'">
                                (Considering NaNs across {{calulateColNanThreshold()}} out of {{profileDetails.nr_totalrecords}} rows)
                              </span>
                            </div>
                            <div class="form-row">
                              <mat-slider thumbLabel min="0" max="100" step="1" [(ngModel)]="delete.threshold"></mat-slider>
                            </div>
                          </div>
      
                          <div class="form-row">
                            <button 
                              type="button" 
                              (click)="loadPreview('data_remove')"
                              class="btn btn-primary">
                              <mat-icon> visibility</mat-icon> Preview 
                            </button>
                            <button 
                              type="button" 
                              (click)="deleteColumnsRows()"
                              class="btn btn-danger">
                              <mat-icon> delete</mat-icon> Remove 
                            </button>
                          </div>

                          <span class="mSg" *ngIf="delete.category === 'col_nan' && showMessage">
                            Columns  getting removed -  <span class="nMsg">{{newMessage}}</span>
                          </span>
      
                        </div>
                      </mat-tab>
                      
                    </mat-tab-group>
                  </mat-card>
                 
                <!-- Preview -->
                <mat-card class="border no-rounded list shrare-post mat-card source-preview-card" *ngIf="showPreviewTable">
                  <div class="list">
                    <h1 class="share-post-title">Preview</h1>
                  </div>
                  <app-progress-bar [message]="'Loading preview...'" class="component" *ngIf="isPreviewLoading"></app-progress-bar>
                  <app-ag-grid
                    floatingFilter="true"
                    *ngIf="isPreviewLoaded"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [pageSize]="50"
                    [rowSelection]="'multiple'"
                    [suppressRowClickSelection]="false"
                    [moveToColumn]="profile.column"
                  ></app-ag-grid>
                </mat-card>
      
                <div class="flex-containers">                                    
                  <div class="lft-attr">
                    <h4 class="attr-tite"> <span class="subT m">Attribute Summary</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                    <mat-card class="bg-violet ch"> 
                      <table>
                        <tr>
                          <th>
                            <div class="recordsTop">
                              <span><img src="assets/images/database.svg" class="record" /> records</span>
                              
                           </div>
                           <!-- <div class="dotDiv"></div> -->
                          </th>
                          <th>
                            <div class="recordsTop">
                              <span><img src="assets/images/type.svg" class="record1" /> <span class="dp1"> type</span></span>
                              
                           </div>
     
                           <!-- <div class="dotDiv"></div> -->
                          </th>
                          <th>
                            <div class="recordsTop">
                              <span><img src="assets/images/type.svg" class="record1" /> <span class="dp1"> NULL COUNTS</span></span>
                             
                           </div>
                          </th>
                        </tr>
                        <tr>
                          <td><span class="dp">{{profile.attributeSummary?.records}}</span></td>
                          <td><span class="dp al">{{profile.attributeSummary?.dataType}}</span></td>
                          <td><span class="dp al1">
                            <a href="javascript: void(0)" *ngIf="profile.attributeSummary && profile.attributeSummary.null_records" (click)="showPreviewDetails()">
                              {{profile.attributeSummary?.null_records}}
                            </a>
                            <div *ngIf="profile.attributeSummary && !profile.attributeSummary.null_records">
                              {{profile.attributeSummary?.null_records}}
                            </div>
                          </span></td>
                        </tr>                       
                      </table>                                          
                    </mat-card> 
                  </div>
                  <div class="rgt-attr">
                    <h4 class="attr-tite"> <span class="subT hd">Length Statistics</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                    <mat-card class="honeydew ch" > 
                                          
                        <div class="custom-slider" *ngIf="profile.LengthStatistics">
                          <div class="minMax"> 
                            <div class="values">Min {{profile.LengthStatistics.Min}}</div>
                            <div class="values fr">Max {{profile.LengthStatistics.Max}}</div>
                           </div>
                          <div class="minMax">
                           <div class="dot"></div>
                           <div class="bar"></div>
                           <div class="dot fr"></div>
                          </div>
                          
                           <!-- <ngx-slider [(value)]="profile.LengthStatistics.Min" [(highValue)]="profile.LengthStatistics.Max" [options]="options"></ngx-slider> -->
                        </div>

                        <div class="custom-slider" *ngIf="profile.valueStatistics">
                          <div class="minMax"> 
                            <div class="values">Min {{profile.valueStatistics.MinValLength}}</div>
                            <div class="values fr">Max {{profile.valueStatistics.MaxValLength}}</div>
                           </div>
                          <div class="minMax">
                           <div class="dot"></div>
                           <div class="bar"></div>
                           <div class="dot fr"></div>
                          </div>
                          
                           <!-- <ngx-slider [(value)]="profile.LengthStatistics.Min" [(highValue)]="profile.LengthStatistics.Max" [options]="options"></ngx-slider> -->
                        </div>
                        <!-- <div class="custom-slider" *ngIf="!profile.LengthStatistics">
                         <div class="not-found" *ngIf="!profile.LengthStatistics">
                             Not Available
                         </div>
                      </div> -->
                      <!-- <div class="not-found" *ngIf="!profile.LengthStatistics">
                          Not Available
                     </div> -->
                   </mat-card>
                  </div>
                </div>

                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">DOMAIN ANALYSIS</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>One fine body&hellip;</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                  </div>
                </ng-template>
                
                <ng-template #longContent let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">DOMAIN ANALYSIS</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">Continent</th>
                        <th scope="col">Coordinates</th>
                        <th scope="col">elevation_ft</th>
                        <th scope="col">gps_code</th>
                        <th scope="col">iata_code</th>
                        <th scope="col">ident</th>
                        <th scope="col">iso_country</th>
                        <th scope="col">iso_region</th>
                        <th scope="col">local_code</th>
                        <th scope="col">municipality</th>
                        <th scope="col">name</th>
                        <th scope="col">type</th> 
                      </tr>
                      </thead>
                      <tbody *ngFor="let val of newVal">
                      <tr *ngFor="let airline of val.airportCodes; let i= index" style="width:100%;">
                      <td>{{airline.continent}}</td>
                      <td>{{airline.coordinates}}</td>
                      <td>{{airline.elevation_ft}}</td>
                      <td>{{airline.gps_code}}</td>
                      <td>{{airline.iata_code}}</td>
                      <td>{{airline.ident}}</td>
                      <td>{{airline.iso_country}}</td>
                      <td>{{airline.iso_region}}</td>
                      <td>{{airline.local_code}}</td>
                      <td>{{airline.municipality}}</td>
                      <td>{{airline.name}}</td>
                      <td>{{airline.type}}</td> 
                    </tr>
                      </tbody>
                    </table>
                    <div class="loader-12" *ngIf="isLoad" style="margin-top:40px;"></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                  </div>
                </ng-template>

                <div class="flex-containers"> 
                  <div class="lft-attr"> 
                    <h4 class="attr-tite"> <span class="subT mg">Frequency Groups</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                    <mat-card class="nBg2">
                      <div *ngFor="let domain of domainMatches" class="domain">
                         <button class="btn btn-outline-primary mb-2 mr-2 fs-b"  *ngIf="domain === profile.column" (click)="openScrollableContent(longContent)">View Domain Analysis</button>
                      </div>
                     
                     
                      <div class="viewTableN"> 
                        <img src="assets/images/chart.svg" class="chartV" (click)="changeView('table')" />
                       <span class="divider"></span> 
                       <img src="assets/images/table.svg" class="tabV" (click)="changeView('chart')" />                  
                      </div>
                      <div *ngIf="showtable">
                        <app-pie-chart [pieChartData]="chartData" ></app-pie-chart>
                    </div>
                    <div *ngIf="!showtable">
                      <div class="table-wrapper-scroll-y my-custom-scrollbar">

                        <table class="table table-bordered table-striped mb-0 attTable" *ngIf="profile.frequncyAnalysis && profile.frequncyAnalysis.length">
                          <thead>
                            <tr>
                              <th scope="col">
                                <div class="records">
                                  <span><img src="assets/images/frequency.svg" class="record1" /> <span class="dp1"> Frequency</span></span>
                               </div>
                              </th>
                              <th scope="col">
                                <div class="records">
                                  <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                               </div>
                              </th>
                              <th scope="col" style="width:24%!important;">&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let frequency of profile.frequncyAnalysis">
                              <td class="tdP">{{frequency.unique_values}}</td>
                              <td class="tdP">{{frequency.counts}}</td>
                              <td>
                                <mat-progress-bar class="progressbar" mode="determinate" [value]="(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %" ></mat-progress-bar> 
                              </td>
                            </tr>
                          
                          </tbody>
                        </table>
                      
                      </div>
          
                    </div>
                    </mat-card>
                  </div>

                  <div class="rgt-attr">
                    
                    <h4 class="attr-tite"> <span class="subT gb">Correlation Summary</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                   <mat-card class="bg-green ch2" style="height:319px;">                       
                      <app-corelation-summary [summary]="profile.correlationSummary"></app-corelation-summary> 
                      <!-- <highcharts-chart
                            [Highcharts] = "highcharts" 
                            [options] = "chartOptions" 
                            style = "width: 100%; height: 400px; display: block;">
                         </highcharts-chart> -->
                   </mat-card>  
                    <!-- <h4 class="attr-tite"> <span class="subT mg">CORRELATION SUMMARY</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                    <mat-card class="nBg">
                      <div class="viewTableN"> 
                        <img src="assets/images/chart.svg" class="chartV" (click)="changeView('table')" />
                       <span class="divider"></span> 
                       <img src="assets/images/table.svg" class="tabV" (click)="changeView('chart')" />                  
                      </div>
                      <highcharts-chart
                            [Highcharts] = "highcharts" 
                            [options] = "chartOptions" 
                            style = "width: 100%; height: 400px; display: block;">
                         </highcharts-chart> 
                    </mat-card>-->
                  
  
                    
                  </div>
                </div>



                <div class="flex-containers">                                    
                <div class="lft-attr">
                 
                  
               
                  
                  


                  <!-- <h4 class="attr-tite"> <span class="subT mg">Frequency Groups</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                  <mat-card class="bg-magenta ch1" *ngIf="profile.frequncyAnalysis && profile.frequncyAnalysis.length">                     
                    <div class="frequencyContainer" [class.frequencyShow]="frequencyShow">
                    <table>
                       <tr>
                          <th>
                            <div class="records">
                              <span><img src="assets/images/frequency.svg" class="record1" /> <span class="dp1"> Frequency</span></span>
                           </div>
                            </th>
                          <th>
                            <div class="records">
                              <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                           </div>
                          <th style="width:20%">&nbsp;</th>
                       </tr>
                       <tr *ngFor="let frequency of profile.frequncyAnalysis">
                          <td class="fst">{{frequency.unique_values}}</td>
                          <td class="mid">{{frequency.counts}}</td>
                          <td>
                             <mat-progress-bar mode="determinate" [value]="(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %" ></mat-progress-bar> 
                           
                          </td>
                       </tr>
                    </table>
                 </div>
                 <button *ngIf="profile.frequncyAnalysis.length > 3" class="frequencyBtn" (click)="frequencyShow = !frequencyShow">
                    <mat-icon *ngIf="!frequencyShow">expand_more</mat-icon> <mat-icon *ngIf="frequencyShow">expand_less</mat-icon> </button>  
                 </mat-card> -->

                 <h4 class="attr-tite" *ngIf="profile.patternAnalysis && profile.patternAnalysis.length"> <span class="subT pt">Pattern Analysis</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>

                 <mat-card class="bg-blue ch1" *ngIf="profile.patternAnalysis && profile.patternAnalysis.length">
                  <div >
                  <div class="frequencyContainer" [class.patternShow]="patternShow">
                    <table>
                      <tr>
                         <th>
                           <div class="records">
                             <span><img src="assets/images/value.svg" class="record1" /> <span class="dp1"> Value</span></span>
                          </div>
                           </th>
                         <th>
                           <div class="records">
                             <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                          </div>
                         <th style="width:20%">&nbsp;</th>
                      </tr>
                      <tr *ngFor="let pattern of profile.patternAnalysis">
                        <td>{{pattern.unique_values}}</td>
                        <td class="mid">{{pattern.counts}}</td>
                        <td>
                           <mat-progress-bar mode="determinate" [value]="(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2' " matTooltip="{{(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar> 
                        
                          <!-- <mat-slider 
                          min="0" 
                          max="100" 
                          step="1" 
                          [value]="(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'"
                          matTooltip="{{(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %"
                          >
                          </mat-slider> -->
                        </td>
                     </tr>
                   </table>
                  <!-- <table>
                     <tr>
                        <th><img src="assets/images/value.svg" class="freq" /> Value </th>
                        <th>Count <img src="assets/images/count.png" class="freq" /></th>
                        <th style="width:20%">&nbsp;</th>
                     </tr>
                     <tr *ngFor="let pattern of profile.patternAnalysis">
                        <td>{{pattern.unique_values}}</td>
                        <td>{{pattern.counts}}</td>
                        <td><mat-progress-bar mode="determinate" [value]="(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2' " matTooltip="{{(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar></td>
                     </tr>
                  </table> -->
               </div>
               <button *ngIf="profile.patternAnalysis.length > 3" class="patternBtn" (click)="patternShow = !patternShow"><!--  {{ patternShow ? 'Show less'  : 'Show More'  }} -->
                  <mat-icon *ngIf="!patternShow">expand_more</mat-icon> <mat-icon *ngIf="patternShow">expand_less</mat-icon> </button> 
                </div>
               <!-- <ng-template #noPattern>
                <div class="not-found" >Not Available</div> 
               </ng-template> -->
               </mat-card>
                
               <div *ngFor="let domain of domainMatches">
                      
                <mat-card  class="bg-violet ch" *ngIf="domain === profile.column"> 
                  <table>
                    <tr>
                      <th>
                        <div class="recordsTop">
                          <span><img src="assets/images/airport.svg" class="record" /> Domain Analysis</span>                                  
                       </div>
                      </th>
                                              
                    </tr>
                    <tr >
                      <td><span class="dp" *ngIf="domain === profile.column">IATA Code</span></td>
                      
                    </tr>                       
                  </table>                                          
                </mat-card> 
              </div>
                </div>
                <div class="rgt-attr">
                  <!-- <app-pie-chart ></app-pie-chart>  -->
                  <!-- <mat-card class="wt2">
                      <h4 class="attr-tite">Count <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                      <div class="records">
                         <highcharts-chart
                            [Highcharts] = "highcharts" 
                            [options] = "chartOptions" 
                            style = "width: 100%; height: 400px; display: block;">
                         </highcharts-chart>
             
                      </div>                          
                   </mat-card>  -->
                   <!-- <h4 class="attr-tite"> <span class="subT hd">Length Statistics</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                   <mat-card class="honeydew ch" > 
                                         
                       <div class="custom-slider" *ngIf="profile.LengthStatistics">
                         <div class="minMax"> 
                           <div class="values">Min {{profile.LengthStatistics.Min}}</div>
                           <div class="values fr">Max {{profile.LengthStatistics.Max}}</div>
                          </div>
                         <div class="minMax">
                          <div class="dot"></div>
                          <div class="bar"></div>
                          <div class="dot fr"></div>
                         </div>
                         
                       </div>
                       <div class="custom-slider" *ngIf="!profile.LengthStatistics">
                        <div class="not-found" *ngIf="!profile.LengthStatistics">
                            Not Available
                        </div>
                     </div>
                  </mat-card> -->

                  
                  
                  <h4 class="attr-tite" *ngIf="profile.maskAnalysis && profile.maskAnalysis.length"> <span class="subT ac">Mask Analysis</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                   <mat-card class="aliceblue ch1" *ngIf="profile.maskAnalysis && profile.maskAnalysis.length">
                     <div >                       
                      <div class="frequencyContainer" [class.maskShow]="maskShow" >
                        <table>
                          <tr>
                             <th>
                               <div class="records">
                                 <span><img src="assets/images/value.svg" class="record1" /> <span class="dp1"> Value</span></span>
                              </div>
                               </th>
                             <th>
                               <div class="records">
                                 <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                              </div>
                             <th style="width:20%">&nbsp;</th>
                          </tr>
                          <tr *ngFor="let mask of profile.maskAnalysis">
                            <td>{{mask.unique_values}}</td>
                            <td class="mid">{{mask.counts}}</td>
                            <td>
                               <mat-progress-bar mode="determinate" [value]="(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar> 
                              <!-- <mat-slider
                            min="0" 
                            max="100" 
                            step="1" 
                            [value]="(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'"
                            matTooltip="{{(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'}} %"
                            >
                            </mat-slider> -->
                            </td>
                         </tr>
                       </table>
                      <!-- <table>
                         <tr>
                            <th>Value <img src="assets/images/value.svg" class="freq" /></th>
                            <th>Count <img src="assets/images/count.png" class="freq" /></th>
                            <th style="width:20%">&nbsp;</th>
                         </tr>
             
                         <tr *ngFor="let mask of profile.maskAnalysis">
                            <td>{{mask.unique_values}}</td>
                            <td>{{mask.counts}}</td>
                            <td><mat-progress-bar mode="determinate" [value]="(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar></td>
                         </tr>
                      </table> -->
                   </div>
                  <button *ngIf="profile.maskAnalysis.length > 3" class="maskShowBtn" (click)="maskShow = !maskShow">  <!-- {{ maskShow ? 'Show less'  : 'Show More'  }} -->
                      <mat-icon *ngIf="!maskShow">expand_more</mat-icon> <mat-icon *ngIf="maskShow">expand_less</mat-icon> </button> 
                    </div>
                    <!-- <ng-template #noMask>
                      <div class="not-found">Not Available</div> 
                    </ng-template>                                                                   -->
                   </mat-card>
                   <!-- <mat-card class="os aliceblue" *ngIf="profile.staticalAnalysis">
                      <h4 class="attr-tite">Statistics <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                      <table class="table">
                         <tr class="cpt">
                         <td class="strong" *ngFor="let stats of profile.staticalAnalysis | keyvalue">{{stats.key}}</td>
                         </tr>
                         <tr class="cpt1">
                         <td *ngFor="let stats of profile.staticalAnalysis | keyvalue">{{stats.value}}</td>
                         </tr>
                      </table>
                   </mat-card> -->
                   <!-- <h4 class="attr-tite"> <span class="subT gb">Correlation Summary</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                   <mat-card class="bg-green ch2">                       
                      <app-corelation-summary [summary]="profile.correlationSummary"></app-corelation-summary> 
                     
                   </mat-card> -->
    
                </div>  
               
              </div>
      
                </div>           
            </div>

            </div>

            <!-- <div class="correlationView valign" *ngIf="previewCorrelation">            
                <app-progress-bar [message]="'Loading'" class="component" *ngIf="isLoading"></app-progress-bar>
                <h1 class="share-post-title"><span class="lgb">Correlation Summary</span></h1>
                <div class="flex-containers">
                  <div class="list-item-4">
                    <mat-form-field appearance="fill">
                      <mat-label class="lbl">Data Type</mat-label>
                      <mat-select [(ngModel)]="datatype" (ngModelChange)="changeType($event)">
                        <mat-option value="mixed">Mixed</mat-option>
                        <mat-option value="numeric">Numeric</mat-option>
                        <mat-option value="categorical">Categorical</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="list-item-4">
                    <mat-form-field appearance="fill">
                      <mat-label class="lbl">Method</mat-label>
                      <mat-select [(ngModel)]="method" (ngModelChange)="loadCorrelation(selectedSource, datatype, $event)">
                        <mat-option *ngIf="datatype === 'numeric'" value="pearson">Pearson</mat-option>
                        <mat-option *ngIf="datatype === 'numeric'" value="kendall">Kendall</mat-option>
                        <mat-option *ngIf="datatype === 'numeric'" value="spearman">Spearman</mat-option>
                        <mat-option *ngIf="datatype === 'categorical'" value="theils_u">Theils_U</mat-option>
                        <mat-option *ngIf="datatype === 'categorical'" value="cramers_v">Cramers_V</mat-option>
                        <mat-option *ngIf="datatype === 'mixed'" value="">Correlation Ratio</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>                
              <app-heat-map [columns]="coMatrix.columns" *ngIf="coMatrix.matrix" [data]="coMatrix.matrix" [isOverview]="true"></app-heat-map>
              <mat-card class="no-data-msg" *ngIf="!coMatrix.matrix">
                <h3>No correlations.</h3>
              </mat-card>
            </div> -->
            </mat-card>
              
            </div>
          </div>

          </div>

        </div>
      </div> 
    </div>

  </div>
</section>




