
<section class="page-body home-bodys pad-tp">
  <div class="container">
    <div class="home-wrapper">
      
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <form [formGroup]="analysisForm">
            <mat-horizontal-stepper [linear]="false" #stepper 
              [selectedIndex]="stepIndex" 
              (selectionChange)="stepperSelectionChange($event)"
              (animationDone)="stepperAnimationDone()">
              <mat-step>
                  <ng-template matStepLabel>Source Data</ng-template>
                  <mat-card class="border no-rounded list shrare-post pbl">
                    <h1 class="share-post-title">Create Your<span class="yellow"> Source</span></h1>
                      <div class="form-continer">
                        <div class="list flex-containers flex-start wrap">
                        <div class="list-item-2 outline wth">                          
                              <mat-label>Source Data<span class="red">*</span>&nbsp;<span *ngIf="selectedType">({{selectedType}})</span></mat-label>
                              <app-image-cropper 
                                [imageType]="'Source'"
                                [fileTypes]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
                                [imagePath]="''"
                                [disabled]="isEditMode"
                                (fileSelected)="onSourceFileSelected($event)"
                              >
                              </app-image-cropper>
                              <mat-error class="nerr" *ngIf="!flError">Please Select a Correct File Type</mat-error>
                              <mat-label class="sub-title">Source Name<span class="red">*</span></mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Name" formControlName="sourceDataName" maxlength="50" autocomplete="off"/>
                              </mat-form-field>
                              <mat-error class="errSty" *ngIf="!afControls.sourceDataName.value">Please Enter Source Name</mat-error>
                              <mat-label class="mtop sub-title">Source Description</mat-label>
                          
                              
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Description" formControlName="sourceDataDescription" maxlength="250" autocomplete="off"/>
                              </mat-form-field>
                            
                         </div>

                         <div class="or-spacer-vertical left">
                           <div class="mask"></div>
                         </div>

                          <div class="list-item-3 outline">
                           <div class="rule-selection-wrapper">
                              <div class="list flex-containers flex-start wrap cde-fields-wrp">
                                <div class="list-item-1 outline">
                                  <span class="sub-title">Multi Source</span>
                                  <app-rule-selector 
                                    multiple="true" 
                                    [ruleItems]="multiSourceList" 
                                    [initValue]="sourceSettings.multiSourceOptions"
                                    (selectionChange)="sourceSettings.multiSourceOptions=$event.value"
                                  ></app-rule-selector>                                  
                                </div>
                                <div class="list-item-2 outline">
                                  <span class="sub-title">Frequency<span class="red">*</span></span>
                                  <app-rule-selector 
                                    [ruleItems]="frequencyList"
                                    [initValue]="sourceSettings.frequency" 
                                    (selectionChange)="sourceSettings.frequency=$event.value"
                                  ></app-rule-selector>
                                </div>
      
                                <div class="list-item-2 outline">
                                   <div class="date-style">
                                  <span class="sub-title">Start Date<span class="red">*</span></span>
                                  <mat-form-field appearance="fill">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="frompicker" formControlName="settingsDate" [(ngModel)]="sourceSettings.uploadDate" autocomplete="off" (click)="frompicker.open()">
                                    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                                    <mat-datepicker #frompicker></mat-datepicker>
                                  </mat-form-field>
                                 </div>
                                </div>
        
                                <div class="list-item-2 outline">
                                  <span class="sub-title">Time</span>
                                  <mat-form-field appearance="fill">
                                    <mat-label>Select a time</mat-label>
                                    <input matInput [ngxTimepicker]="timepicker" formControlName="uploadTime" [(ngModel)]="sourceSettings.uploadTime" autocomplete="off">
                                    <ngx-material-timepicker #timepicker></ngx-material-timepicker>
                                  </mat-form-field>

                                  <!-- <input [ngxTimepicker]="picker">
                                  <ngx-material-timepicker #picker></ngx-material-timepicker> -->
                                  
                                  <!-- <app-rule-selector 
                                    [ruleItems]="timeList" 
                                    [initValue]="sourceSettings.uploadTime" 
                                    (selectionChange)="sourceSettings.uploadTime=$event.value"
                                  ></app-rule-selector> -->
                                </div>
                                <div class="list-item-2 outline">
                                  <span class="sub-title"> Department</span>
                                  <app-rule-selector 
                                    multiple="true" 
                                    [ruleItems]="departmentList" 
                                    [initValue]="sourceSettings.department" 
                                    [showAddItem]="false"
                                    (selectionChange)="sourceSettings.department=$event.value"
                                  ></app-rule-selector>
                                </div>
                              </div>
                            </div>  
                          </div>

                          
                        </div>
                      </div>
                      
                      <div class="bdr"></div>
                                          
                    <div class="act-btn-wrapper m1t">
                        <button mat-stroked-button class="button3d btnPush btnLightBlue tdBtn"
                        [disabled]="!afControls.sourceDataName.value || !sourceSettings.frequency || !sourceSettings.uploadDate || !flError"
                        (click)="validateSourceNameAndNext()">Next <mat-icon>navigate_next</mat-icon></button>
                    </div>
                  </mat-card>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Reference Data</ng-template>
                  <mat-card class="border no-rounded list shrare-post">
                    <!-- <h1 class="share-post-title">Create Your<span class="red"> Reference Data</span></h1> -->

                    <div class="list">
                      <button type="button" mat-stroked-button class="button3d btnPush btnPurple  addRef" (click)="addFormItem('referenceData')" *ngIf="!analysisForm.get('referenceData')['controls'].length">
                        Add Reference Data <mat-icon>add_box</mat-icon> 
                      </button>

                      <div class="flex-containers space-between ref-list-wrp" 
                        formArrayName="referenceData" *ngFor="let reference of analysisForm.get('referenceData')['controls']; index as i; last as isLast; first as isFirst">
                        <ng-container [formGroupName]="i">
                          <div class="list flex-containers flex-start">
                            <div class="list-item-3 outline">
                              <mat-label>Reference Data #{{i+1}} <span class="red">*</span></mat-label>
                              <app-image-cropper 
                                [imageType]="'Reference'"
                                [fileTypes]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
                                [imagePath]="''"
                                (fileSelected)="onReferenceFileSelected($event, reference, i)"
                              >
                              </app-image-cropper>
                            </div>

                            <div class="list-item-3 outline">
                              <mat-label>Reference Data Name <span class="red">*</span></mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Reference Data Name" formControlName="referenceDataName" maxlength="50" autocomplete="off"/>
                              </mat-form-field>
                           </div>
                           <div class="list-item-3 outline">
                              <mat-label class="mtop">Reference Data Description</mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Reference Data Description" formControlName="referenceDataDescription" maxlength="250" autocomplete="off"/>
                              </mat-form-field>
                            </div>
    
                            <div class="list-item-0 add-remove-button">
                              <button type="button"  class="button3d btnPush btnBlueGreen addico" (click)="addFormItem('referenceData')" *ngIf="isLast">
                                <mat-icon>add</mat-icon>
                              </button>
                           </div>
                              <div class="list-item-0 add-remove-button">
                              <button type="button" class="button3d btnPush btnOrange redico" (click)="removeFormItem('referenceData', i)">
                                 <mat-icon>delete_outline</mat-icon>
                              </button>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="list flex-containers flex-start">
                     <div class="list-item-2 outline">
                        <button mat-stroked-button class="button3d btnPush btnPurple ebckBtn" (click)="prevoewBackClickFirst()"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                     </div>
                     <div class="list-item-2 outline act-btn-wrapper1">
                        <button mat-stroked-button class="button3d btnPush btnLightBlue svBtn"
                        (click)="saveSource()">Save & Summary <mat-icon>save_alt</mat-icon></button>
                     </div>
                  </div>

                    <!-- <div class="act-btn-wrapper">
                      <button mat-stroked-button class="button3d btnPush btnLightBlue svBtn"
                      (click)="saveSource()">Save & Summary <mat-icon>save_alt</mat-icon></button>
                    </div> -->

                  </mat-card>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Summary</ng-template>
                  <mat-card class="border no-rounded list shrare-post">
                    <!-- <h1 class="share-post-title">Summary</h1> -->
                    <div class="analysis-preview">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td><div class="label1">Source Data</div></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="label2">Name</div>
                              {{summary.source?.sourceDataName}}
                            </td>
                          <td>
                            <div class="label2">CDE</div>
                            <span class="spec" *ngFor="let column of summary.source?.availableColumns">
                               {{column}}, 
                            </span>
                            </td>
                          </tr>
                          <tr>
                            <td><div class="label1" style="width: 200px;">Rerference Data</div></td>
                            <td></td>
                          </tr>
                          <tr *ngFor="let ref of summary.reference; index as i;">
                            <td>
                              <div class="label2">Name</div>
                              #{{i+1}}. {{ref.referenceDataName}}</td>
                            <td>
                              <div class="label2">Reference CDE</div>
                              <span *ngFor="let column of ref?.availableRefColumns">
                                {{column}},
                              </span>
                              </td>
                            </tr>

                            <tr>
                              <td><div class="label1">Settings</div></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td><div class="label2">Multi source name</div></td>
                              <td>{{summary.settings?.multiSourceOptions}} </td>
                            </tr>
                            <tr>
                              <td><div class="label2">Frequency</div></td>
                              <td>{{summary.settings?.frequency}}</td>
                            </tr>
                            <tr>
                              <td><div class="label2">Upload Date</div></td>
                              <td>{{summary.settings?.uploadDate}}</td>
                            </tr>
                            <tr>
                              <td><div class="label2">Upload Time</div></td>
                              <td>{{summary.settings?.uploadTime}}</td>
                            </tr>
                            <tr>
                              <td><div class="label2">Department</div></td>
                              <td>{{summary.settings?.department}}</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="list flex-containers flex-start">
                     <div class="list-item-2 outline">
                        <button mat-stroked-button class="button3d btnPush btnPurple ebckBtn" (click)="prevoewBackClick()"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                     </div>
                     <div class="list-item-2 outline act-btn-wrapper1">
                        <button mat-stroked-button class="button3d btnPush btnLightBlue compBtn" (click)="showSaveSuccess()" [disabled]="isLoading">Complete <mat-icon>done_all</mat-icon></button>
                     </div>
                  </div>
                   
                  </mat-card>

                </mat-step>
            </mat-horizontal-stepper>
          </form>
          <div class="agShowDetails" *ngIf="flError && showPreview">
            <mat-card class="border no-rounded list shrare-post mat-card source-preview-card" [hidden]="stepIndex === 1 || stepIndex === 2">
              <div class="list flex-containers space-between">
                <h1 class="share-post-title">Source Preview</h1>
                <button  class="horizontal" (click)="loadSourcePreview();"> <span class="text"><mat-icon>view_column</mat-icon> Preview </span></button>
              </div>
              <app-progress-bar [message]="'Loading source preview...'" class="component" *ngIf="isPreviewLoading"></app-progress-bar>
              <app-ag-grid
                floatingFilter="true"
                *ngIf="isPreviewLoaded"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [pageSize]="50"
                [rowSelection]="'multiple'"
                [suppressRowClickSelection]="false"
              ></app-ag-grid>
            </mat-card>
          </div>
            <mat-card class="border no-rounded list shrare-post mat-card source-preview-card" [hidden]="stepIndex === 0 || stepIndex === 2">
              <div class="list flex-containers space-between">
                <h1 class="share-post-title">Reference Preview</h1>
                <button  class="horizontal" (click)="loadReferencePreview();"> <span class="text"><mat-icon>view_column</mat-icon> Preview </span></button>
              </div>
              <app-progress-bar [message]="'Loading source preview...'" class="component" *ngIf="isRefPreviewLoading"></app-progress-bar>
              <app-ag-grid 
                floatingFilter="true"
                *ngIf="isRefPreviewLoaded"
                [rowData]="refrowData"
                [columnDefs]="refcolumnDefs"
                [pageSize]="50"
                [rowSelection]="'multiple'"
                [suppressRowClickSelection]="false"
              ></app-ag-grid>
            </mat-card>
         
        </div>
      </div>
    </div>
    
  </div>
</section>
