
<section class="page-body home-bodys pad-tp">
  <div class="container">
    <div class="home-wrapper">
      <!-- Community Pages -->
      
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <form [formGroup]="analysisForm">
            <mat-horizontal-stepper [linear]="false" #stepper 
              [selectedIndex]="stepIndex" 
              (selectionChange)="stepperSelectionChange($event)"
              (animationDone)="stepperAnimationDone()">
              <mat-step>
                  <ng-template matStepLabel>Source Data</ng-template>
                  <mat-card class="border no-rounded list shrare-post pbl">
                    <h1 class="share-post-title">Create Your<span class="red"> Source</span></h1>
                      <div class="form-continer">
                        <div class="list flex-containers flex-start wrap">
                        <div class="list-item-2 outline wth">                          
                              <mat-label>Source Data<span class="red">*</span></mat-label>
                              <app-image-cropper 
                                [imageType]="'Source'"
                                [fileTypes]="'.csv'"
                                [imagePath]="''"
                                (fileSelected)="onSourceFileSelected($event)"
                              >
                              </app-image-cropper>
                             
                              <mat-label>Source Name<span class="red">*</span></mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Name" formControlName="sourceDataName" maxlength="50" autocomplete="off"/>
                              </mat-form-field>
                              <mat-label class="mtop">Source Description</mat-label>
                          
                              
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Description" formControlName="sourceDataDescription" maxlength="250" autocomplete="off"/>
                              </mat-form-field>
                            
                         </div>

                         <div class="or-spacer-vertical left">
                           <div class="mask"></div>
                         </div>

                          <div class="list-item-3 outline">
                           <div class="rule-selection-wrapper">
                              <div class="list flex-containers flex-start wrap cde-fields-wrp">
                                <div class="list-item-1 outline">
                                  <span class="sub-title">Multi Source</span>
                                  <app-rule-selector 
                                    multiple="true" 
                                    [ruleItems]="multiSourceList" 
                                    [initValue]="sourceSettings.multiSourceOptions"
                                    (selectionChange)="sourceSettings.multiSourceOptions=$event.value"
                                  ></app-rule-selector>
                                </div>
                                <div class="list-item-2 outline">
                                  <span class="sub-title">Frequency</span>
                                  <app-rule-selector 
                                    [ruleItems]="frequencyList"
                                    [initValue]="sourceSettings.frequency" 
                                    (selectionChange)="sourceSettings.frequency=$event.value"
                                  ></app-rule-selector>
                                </div>
      
                                <div class="list-item-2 outline">
                                   <div class="date-style">
                                  <span class="sub-title">Start Date</span>
                                  <mat-form-field appearance="fill">
                                    <mat-label></mat-label>
                                    <input matInput [matDatepicker]="frompicker" formControlName="settingsDate" [(ngModel)]="sourceSettings.uploadDate" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                                    <mat-datepicker #frompicker></mat-datepicker>
                                  </mat-form-field>
                                 </div>
                                </div>
        
                                <div class="list-item-2 outline">
                                  <span class="sub-title">Time</span>
                                  <app-rule-selector 
                                    [ruleItems]="timeList" 
                                    [initValue]="sourceSettings.uploadTime" 
                                    (selectionChange)="sourceSettings.uploadTime=$event.value"
                                  ></app-rule-selector>
                                </div>
                                <div class="list-item-2 outline">
                                  <span class="sub-title"> Department</span>
                                  <app-rule-selector 
                                    multiple="true" 
                                    [ruleItems]="departmentList" 
                                    [initValue]="sourceSettings.department" 
                                    (selectionChange)="sourceSettings.department=$event.value"
                                  ></app-rule-selector>
                                </div>
                              </div>
                            </div>  
                          </div>
                        </div>
                      </div>
                      
                      <div class="bdr"></div>
                                          
                    <div class="act-btn-wrapper m1t">
                        <button mat-stroked-button class="button3d btnPush btnLightBlue tdBtn"
                        [disabled]="!afControls.sourceDataName.value"
                        (click)="validateSourceNameAndNext()">Next <mat-icon>navigate_next</mat-icon></button>
                    </div>
                  </mat-card>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Reference Data</ng-template>
                  <mat-card class="border no-rounded list shrare-post">
                    <!-- <h1 class="share-post-title">Create Your<span class="red"> Reference Data</span></h1> -->

                    <div class="list">
                      <button type="button" mat-stroked-button class="button3d btnPush btnPurple  addRef" (click)="addFormItem('referenceData')" *ngIf="!analysisForm.get('referenceData')['controls'].length">
                        Add Reference Data <mat-icon>add_box</mat-icon> 
                      </button>

                      <div class="flex-containers space-between ref-list-wrp" 
                        formArrayName="referenceData" *ngFor="let reference of analysisForm.get('referenceData')['controls']; index as i; last as isLast; first as isFirst">
                        <ng-container [formGroupName]="i">
                          <div class="list flex-containers flex-start">
                            <div class="list-item-3 outline">
                              <mat-label>Reference Data #{{i+1}} <span class="red">*</span></mat-label>
                              <app-image-cropper 
                                [imageType]="'Reference'"
                                [fileTypes]="'.csv'"
                                [imagePath]="''"
                                (fileSelected)="onReferenceFileSelected($event, reference, i)"
                              >
                              </app-image-cropper>
                            </div>

                            <div class="list-item-3 outline">
                              <mat-label>Reference Data Name <span class="red">*</span></mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Reference Data Name" formControlName="referenceDataName" maxlength="50" autocomplete="off"/>
                              </mat-form-field>
                           </div>
                           <div class="list-item-3 outline">
                              <mat-label class="mtop">Reference Data Description</mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Reference Data Description" formControlName="referenceDataDescription" maxlength="250" autocomplete="off"/>
                              </mat-form-field>
                            </div>
    
                            <div class="list-item-0 add-remove-button">
                              <button type="button"  class="button3d btnPush btnBlueGreen addico" (click)="addFormItem('referenceData')" *ngIf="isLast">
                                <mat-icon>add</mat-icon>
                              </button>
                           </div>
                              <div class="list-item-0 add-remove-button">
                              <button type="button" class="button3d btnPush btnOrange redico" (click)="removeFormItem('referenceData', i)">
                                 <mat-icon>delete_outline</mat-icon>
                              </button>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="act-btn-wrapper">
                      <button mat-stroked-button class="button3d btnPush btnLightBlue svBtn"
                      (click)="saveSource()">Save & Summary <mat-icon>save_alt</mat-icon></button>
                    </div>

                  </mat-card>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Summary</ng-template>
                  <mat-card class="border no-rounded list shrare-post">
                    <!-- <h1 class="share-post-title">Summary</h1> -->
                    <div class="analysis-preview">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td><div class="label">Source Data</div></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="label">Name</div>
                              {{summary.source?.sourceDataName}}
                            </td>
                          <td>
                            <div class="label">CDE</div>
                            <span *ngFor="let column of summary.source?.availableColumns">
                              {{column}},
                            </span>
                            </td>
                          </tr>
                          <tr>
                            <td><div class="label" style="width: 200px;">Rerference Data</div></td>
                            <td></td>
                          </tr>
                          <tr *ngFor="let ref of summary.reference; index as i;">
                            <td>
                              <div class="label">Name</div>
                              #{{i+1}}. {{ref.referenceDataName}}</td>
                            <td>
                              <div class="label">Reference CDE</div>
                              <span *ngFor="let column of ref?.availableRefColumns">
                                {{column}},
                              </span>
                              </td>
                            </tr>

                            <tr>
                              <td><div class="label">Settings</div></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td><div class="label">Multi source name</div></td>
                              <td>{{summary.settings?.multiSourceOptions}}</td>
                            </tr>
                            <tr>
                              <td><div class="label">Frequency</div></td>
                              <td>{{summary.settings?.frequency}}</td>
                            </tr>
                            <tr>
                              <td><div class="label">Upload Date</div></td>
                              <td>{{summary.settings?.uploadDate}}</td>
                            </tr>
                            <tr>
                              <td><div class="label">Upload Time</div></td>
                              <td>{{summary.settings?.uploadTime}}</td>
                            </tr>
                            <tr>
                              <td><div class="label">Department</div></td>
                              <td>{{summary.settings?.department}}</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="list flex-containers flex-start">
                     <div class="list-item-2 outline">
                        <button mat-stroked-button class="button3d btnPush btnPurple ebckBtn" (click)="prevoewBackClick()"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                     </div>
                     <div class="list-item-2 outline act-btn-wrapper1">
                        <button mat-stroked-button class="button3d btnPush btnLightBlue compBtn" (click)="showSaveSuccess()" [disabled]="isLoading">Complete <mat-icon>done_all</mat-icon></button>
                     </div>
                  </div>
                   
                  </mat-card>

                </mat-step>
            </mat-horizontal-stepper>
          </form>

          <mat-card class="border no-rounded list shrare-post mat-card source-preview-card" [hidden]="stepIndex === 2">
            <app-progress-bar [message]="'Loading source preview...'" class="component" *ngIf="isPreviewLoading"></app-progress-bar>
            <div class="list flex-containers space-between">
              <h1 class="share-post-title">Source Preview</h1>
              <button mat-stroked-button class="button3d btnPush btnPurple preview" (click)="loadSourcePreview();"> <mat-icon>view_column</mat-icon> Preview </button>
            </div>
            <app-ag-grid
              floatingFilter="true"
              *ngIf="isPreviewLoaded"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [pageSize]="50"
              [rowSelection]="'multiple'"
              [suppressRowClickSelection]="false"
            ></app-ag-grid>

            <table class="agContainer">
               <thead>
                 <tr>
                   <th><h1>Sites</h1></th>
                   <th><h1>Views</h1></th>
                   <th><h1>Clicks</h1></th>
                   <th><h1>Average</h1></th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Google</td>
                   <td>9518</td>
                   <td>6369</td>
                   <td>01:32:50</td>
                 </tr>
                 <tr>
                   <td>Twitter</td>
                   <td>7326</td>
                   <td>10437</td>
                   <td>00:51:22</td>
                 </tr>
                 <tr>
                   <td>Amazon</td>
                   <td>4162</td>
                   <td>5327</td>
                   <td>00:24:34</td>
                 </tr>
                 <tr>
                   <td>LinkedIn</td>
                   <td>3654</td>
                   <td>2961</td>
                   <td>00:12:10</td>
                 </tr>
                 <tr>
                   <td>CodePen</td>
                   <td>2002</td>
                   <td>4135</td>
                   <td>00:46:19</td>
                 </tr>
                 <tr>
                   <td>GitHub</td>
                   <td>4623</td>
                   <td>3486</td>
                   <td>00:31:52</td>
                 </tr>
               </tbody>
             </table>

          </mat-card>

        </div>
      </div>
    </div>
    
  </div>
</section>
