
<section class="page-body home-bodys pad-tp">
  <div class="container">
    <div class="home-wrapper">
      
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <form [formGroup]="analysisForm">
            <mat-horizontal-stepper [linear]="false" #stepper 
              [selectedIndex]="stepIndex" 
              (selectionChange)="stepperSelectionChange($event)"
              (animationDone)="stepperAnimationDone()">
              <mat-step>
                  <ng-template matStepLabel>Source Data</ng-template>                  
                    
                      <div class="form-continer flex-containers">
                        <mat-card class="border no-rounded list shrare-post pbl card1">
                          <h1 class="share-post-title">Create Your<span class="yellow"> Source</span></h1>
                        <div class="list flex-containers flex-start wrap">
                        <div class="list-item-2 outline wth">
                          <div>
                          <div class="srcData">
                            <mat-label>Source Data<span class="red">*</span>&nbsp;<span *ngIf="selectedType">({{selectedType}})</span></mat-label>
                          </div>                          
                            <div class="cfile"> 
                              <app-image-cropper 
                                *ngIf="!isEditMode"
                                [imageType]="'Source'"
                                [fileTypes]="chooseOptions"
                                [imagePath]="''"
                                [disabled]="isEditMode"
                                (fileSelected)="onSourceFileSelected($event)"
                              >
                              </app-image-cropper>
                              <h4 *ngIf="isEditMode">
                                {{analysis.source.sourceFileName}}
                              </h4>
                              <mat-error class="nerr" *ngIf="!flError">Please Select a Correct File Type</mat-error>
                              <mat-error class="nerr ftw" *ngIf="selFileNameErr && flError">Please Select a File</mat-error>
                            </div>
                          </div>
                          <div class="list-item-2 outline split">
                              <mat-label class="sub-title">Source Name<span class="red">*</span></mat-label>
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Name" formControlName="sourceDataName" maxlength="50" autocomplete="off"/>
                              </mat-form-field>
                              <mat-error class="errSty" *ngIf="!afControls.sourceDataName.value && afControls.sourceDataName.touched">Please Enter Source Name</mat-error>
                              </div>
                              <div class="list-item-2 outline splitR">
                              <mat-label class="mtop sub-title">Source Description</mat-label>                                                    
                              <mat-form-field appearance="fill">
                                <input matInput placeholder="Source Description" formControlName="sourceDataDescription" maxlength="250" autocomplete="off"/>
                              </mat-form-field>
                              </div>
                              <div class="list-item-2 outline split">
                                <mat-label class="mtop sub-title">Source Category</mat-label> 
                                <mat-form-field appearance="fill">
                                  <mat-label>Category</mat-label>
                                  <mat-select formControlName="sourceCategory">
                                    <mat-option *ngFor="let srcCat of srcCategory" value="{{srcCat.label}}">
                                      {{srcCat.value}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="list-item-2 outline splitR">
                                <mat-label class="mtop sub-title">Data Owner</mat-label> 
                                <mat-form-field appearance="fill">
                                  <mat-select  #select placeholder="Data Owner" formControlName="dataOwner">
                                    <mat-select-filter *ngIf="select.focused" [array]="variables" (filteredReturn)="filteredList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filteredList" [value]="item">
                                      {{item}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                            <div class="list-item-2 outline split">
                              <mat-label class="mtop sub-title">Data Steward</mat-label> 
                                <mat-form-field appearance="fill">
                                  <!-- (selectionChange)="setDataOwnerTollerance($event)"  -->
                                <mat-select #select3 multiple placeholder="Using Groups" [(value)]="selected" formControlName="dataSteward">
                                    <mat-option *ngFor="let category of categoryList" [value]="category.value" color="accent">
                                      {{ category.label }}
                                    </mat-option>
                                  </mat-select>  
                              </mat-form-field>

                              <!-- <div class="tollerance-wrapper">
                                <mat-card *ngFor="let user of dataOwnerTollerance">
                                  <h2>Tollerance - {{user.user}}</h2>
                                  <div class="wrap">
                                    <div class="outline">
                                      <h3>Completeness</h3>
                                      <mat-slider
                                        (change)="user.Completeness = $event.value"
                                        thumbLabel
                                        step="1"
                                        min="0"
                                        max="100"
                                        aria-label="units">
                                      </mat-slider>
                                      <div class="value">{{user.Completeness ? user.Completeness : 0}}%</div>
                                    </div>
                                    <div class="outline">
                                      <h3>Accuracy</h3>
                                      <mat-slider
                                        (change)="user.Accuracy = $event.value"
                                        thumbLabel
                                        step="1"
                                        min="0"
                                        max="100"
                                        aria-label="units">
                                      </mat-slider>
                                      <div class="value">{{user.Accuracy ? user.Accuracy : 0}}%</div>
                                    </div>
                                    <div class="outline">
                                      <h3>Uniqueness</h3>
                                      <mat-slider
                                        (change)="user.Uniqueness = $event.value"
                                        thumbLabel
                                        step="1"
                                        min="0"
                                        max="100"
                                        aria-label="units">
                                      </mat-slider>
                                      <div class="value">{{user.Uniqueness ? user.Uniqueness : 0}}%</div>
                                    </div>
                                    <div class="outline">
                                      <h3>Validity</h3>
                                      <mat-slider
                                        (change)="user.Validity = $event.value"
                                        thumbLabel
                                        step="1"
                                        min="0"
                                        max="100"
                                        aria-label="units">
                                      </mat-slider>
                                      <div class="value">{{user.Validity ? user.Validity : 0}}%</div>
                                    </div>
                                    <div class="outline">
                                      <h3>Integrity</h3>
                                      <mat-slider
                                        (change)="user.Integrity = $event.value"
                                        thumbLabel
                                        step="1"
                                        min="0"
                                        max="100"
                                        aria-label="units">
                                      </mat-slider>
                                      <div class="value">{{user.Integrity ? user.Integrity : 0}}%</div>
                                    </div>
                                  </div>
                                </mat-card>
                                
                              </div> -->

                            </div>
                            <div class="list-item-2 outline splitR">
                            <mat-label class="mtop sub-title">Data User</mat-label> 
                              <mat-form-field appearance="fill">                                                   
                              <mat-select #select4 multiple placeholder="Using Groups" (selectionChange)="setDataUserTollerance($event)" [(value)]="selected1" formControlName="dataUser">
                                  <mat-option *ngFor="let category of categoryList" [value]="category.value" color="accent">
                                    {{ category.label }}
                                  </mat-option>
                                </mat-select>  
                            </mat-form-field>

                            <div class="tollerance-wrapper">
                              <mat-card *ngFor="let user of dataUserTollerance">
                                <h2>Tollerance - {{user.user}}</h2>
                                <div class="wrap">
                                  <div class="outline">
                                    <h3>Completeness</h3>
                                    <mat-slider
                                      (change)="user.tolerance.Completeness = $event.value"
                                      thumbLabel
                                      step="1"
                                      min="0"
                                      max="100"
                                      aria-label="units">
                                    </mat-slider>
                                    <div class="value">{{(user.tolerance && user.tolerance.Completeness) ? user.tolerance.Completeness : 0}}%</div>
                                  </div>
                                  <div class="outline">
                                    <h3>Accuracy</h3>
                                    <mat-slider
                                      (change)="user.tolerance.Accuracy = $event.value"
                                      thumbLabel
                                      step="1"
                                      min="0"
                                      max="100"
                                      aria-label="units">
                                    </mat-slider>
                                    <div class="value">{{(user.tolerance && user.tolerance.Accuracy) ? user.tolerance.Accuracy : 0}}%</div>
                                  </div>
                                  <div class="outline">
                                    <h3>Uniqueness</h3>
                                    <mat-slider
                                      (change)="user.tolerance.Uniqueness = $event.value"
                                      thumbLabel
                                      step="1"
                                      min="0"
                                      max="100"
                                      aria-label="units">
                                    </mat-slider>
                                    <div class="value">{{(user.tolerance && user.tolerance.Uniqueness) ? user.tolerance.Uniqueness : 0}}%</div>
                                  </div>
                                  <div class="outline">
                                    <h3>Validity</h3>
                                    <mat-slider
                                      (change)="user.tolerance.Validity = $event.value"
                                      thumbLabel
                                      step="1"
                                      min="0"
                                      max="100"
                                      aria-label="units">
                                    </mat-slider>
                                    <div class="value">{{(user.tolerance && user.tolerance.Validity) ? user.tolerance.Validity : 0}}%</div>
                                  </div>
                                  <div class="outline">
                                    <h3>Integrity</h3>
                                    <mat-slider
                                      (change)="user.tolerance.Integrity = $event.value"
                                      thumbLabel
                                      step="1"
                                      min="0"
                                      max="100"
                                      aria-label="units">
                                    </mat-slider>
                                    <div class="value">{{(user.tolerance && user.tolerance.Integrity) ? user.tolerance.Integrity : 0}}%</div>
                                  </div>
                                </div>
                              </mat-card>
                              
                            </div>

                          </div>
                          <!-- <div class="list-item-2 outline split">
                            <button type="button" class="button3d  btnBlueGreen tollico" (click)="openToleranceLevelDialog()">
                            <mat-icon>add</mat-icon>
                            Tolerance Level
                            </button>
                          </div> -->
                          
                         </div>

                         <!-- <div class="or-spacer-vertical left">
                           <div class="mask"></div>
                         </div> -->
                         </div>
                         </mat-card>
                         <mat-card class="border no-rounded list shrare-post pbl card2">
                         <div class="list flex-containers flex-start wrap">
                          <div class="list-item-3 outline cat">
                           <div class="rule-selection-wrapper">
                              <div class="list flex-containers flex-start wrap cde-fields-wrp">
                                <div class="list-item-1 outline">
                                  <span class="sub-title">Multi Source</span>
                                  <app-rule-selector 
                                    multiple="true" 
                                    [ruleItems]="multiSourceList" 
                                    [initValue]="sourceSettings.multiSourceOptions"
                                    [showAddItem]="false"
                                    (selectionChange)="sourceSettings.multiSourceOptions=$event.value"
                                  ></app-rule-selector>                                  
                                </div>
                                <div class="list-item-2 outline">
                                  <span class="sub-title">Frequency<span class="red">*</span></span>
                                  <app-rule-selector 
                                    [ruleItems]="frequencyList"
                                    [initValue]="sourceSettings.frequency" 
                                    [showAddItem]="false"
                                    (selectionChange)="sourceSettings.frequency=$event.value"
                                  ></app-rule-selector>
                                </div>
      
                                <div class="list-item-2 outline">
                                   <div class="date-style">
                                  <span class="sub-title">Start Date<span class="red">*</span></span>
                                  <mat-form-field appearance="fill">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="frompicker" formControlName="settingsDate" [(ngModel)]="sourceSettings.uploadDate" autocomplete="off" (click)="frompicker.open()">
                                    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                                    <mat-datepicker #frompicker></mat-datepicker>
                                    <mat-error class="errSty ps">Please Select a Start Date</mat-error>
                                  </mat-form-field>
                                 </div>
                                </div>
        
                                <div class="list-item-2 outline">
                                  <span class="sub-title">Time</span>
                                  <mat-form-field appearance="fill">
                                    <mat-label>Select a time</mat-label>
                                    <input matInput [ngxTimepicker]="timepicker" formControlName="uploadTime" [(ngModel)]="sourceSettings.uploadTime" autocomplete="off">
                                    <ngx-material-timepicker #timepicker></ngx-material-timepicker>
                                  </mat-form-field>

                                  <!-- <input [ngxTimepicker]="picker">
                                  <ngx-material-timepicker #picker></ngx-material-timepicker> -->
                                </div>
                                <div class="list-item-2 outline">
                                  <span class="sub-title"> Department</span>
                                  <app-rule-selector 
                                    multiple="true" 
                                    [ruleItems]="departmentList" 
                                    [initValue]="sourceSettings.department" 
                                    [showAddItem]="false"
                                    (selectionChange)="sourceSettings.department=$event.value"
                                  ></app-rule-selector>
                                </div>
                              </div>
                            </div>  
                          </div>
                          <div class="bdr"></div>
                                          
                          <div class="act-btn-wrapper m1t">
                              <button mat-stroked-button class="button3d btnLightBlue tdBtn"
                             
                              (click)="validateSourceNameAndNext()">Next <mat-icon>navigate_next</mat-icon></button>
      
                              <!-- <button mat-stroked-button class="button3d  btnLightBlue tdBtn"
                              [disabled]="!afControls.sourceDataName.value || !sourceSettings.frequency || !sourceSettings.uploadDate || !flError"
                              (click)="validateSourceNameAndNext()">Next <mat-icon>navigate_next</mat-icon></button> -->
                          </div>
                          
                        </div>
                      </mat-card>
                      </div>
                      
                      
                  
                </mat-step>

                <mat-step>
                  <mat-tab-group mat-align-tabs="start"  animationDuration="0ms" [(selectedIndex)]="refTabIndex" (selectedTabChange)="showGlobalReferenceData($event)">
                   
                    <mat-tab label="Local Reference Data"> 
                      <ng-template matStepLabel>Reference Data</ng-template>
                      <mat-card class="border no-rounded list shrare-post">
                        <!-- <h1 class="share-post-title">Create Your<span class="red"> Reference Data</span></h1> -->
    
                        <div class="list">
                          <button type="button" mat-stroked-button class="button3d  btnPurple  addRef" (click)="addFormItem('referenceData')" *ngIf="!analysisForm.get('referenceData')['controls'].length">
                            Add Reference Data <mat-icon>add_box</mat-icon> 
                          </button>
    
                          <div class="flex-containers space-between ref-list-wrp" 
                            formArrayName="referenceData" *ngFor="let reference of analysisForm.get('referenceData')['controls']; index as i; last as isLast; first as isFirst">
                            <ng-container [formGroupName]="i">
                              <div class="list flex-containers flex-start">
                                <div class="list-item-3 outline">
                                  <mat-label>Reference Data #{{i+1}} <span class="red">*</span></mat-label>
                                  <app-image-cropper 
                                    [imageType]="'Reference'"
                                    [fileTypes]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
                                    [imagePath]="''"
                                    (fileSelected)="onReferenceFileSelected($event, reference, i)"
                                  >
                                  </app-image-cropper>
                                </div>
    
                                <div class="list-item-3 outline">
                                  <mat-label>Reference Data Name <span class="red">*</span></mat-label>
                                  <mat-form-field appearance="fill">
                                    <input matInput placeholder="Reference Data Name" formControlName="referenceDataName" maxlength="50" autocomplete="off"/>
                                  </mat-form-field>
                               </div>
                               <div class="list-item-3 outline">
                                  <mat-label class="mtop">Reference Data Description</mat-label>
                                  <mat-form-field appearance="fill">
                                    <input matInput placeholder="Reference Data Description" formControlName="referenceDataDescription" maxlength="250" autocomplete="off"/>
                                  </mat-form-field>
                                </div>
        
                                <div class="list-item-0 add-remove-button">
                                  <button type="button"  class="button3d  btnBlueGreen addico" (click)="addFormItem('referenceData')" *ngIf="isLast">
                                    <mat-icon>add</mat-icon>
                                  </button>
                               </div>
                                  <div class="list-item-0 add-remove-button">
                                  <button id="auto_trigger" type="button" class="button3d  btnOrange redico" (click)="removeFormItem('referenceData', i)">
                                     <mat-icon>delete_outline</mat-icon>
                                  </button>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
    
                        <div class="list flex-containers flex-start">
                         <div class="list-item-2 outline">
                            <button mat-stroked-button class="button3d  btnPurple ebckBtn" (click)="prevoewBackClickFirst()"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                         </div>
                         <div class="list-item-2 outline act-btn-wrapper1">
                            <button mat-stroked-button class="button3d  btnLightBlue svBtn"
                            (click)="saveSource()">Save & Summary <mat-icon>save_alt</mat-icon></button>
                         </div>
                      </div>
    
                        <!-- <div class="act-btn-wrapper">
                          <button mat-stroked-button class="button3d  btnLightBlue svBtn"
                          (click)="saveSource()">Save & Summary <mat-icon>save_alt</mat-icon></button>
                        </div> -->
    
                      </mat-card>
                    </mat-tab>
                    <mat-tab label="Global Reference Data">
                      <mat-card class="border no-rounded list shrare-post">
                        <!-- <button  class="btnBlueGreenN addico green"  (click)="openSm(content)"><mat-icon>link</mat-icon> Connect to your Mongo DB Cluster</button> -->
                      <div class="dashBoard flex-containers">                     
                    <div class="dash-left">
                      <div class="srcTop"><mat-icon>widgets</mat-icon>GLOBAL REFERENCE DATA</div>
                      <mat-accordion *ngIf="loadingLocalData">
                        <!-- (opened)="setOpened(i)"
                          (closed)="setClosed(i)" -->
                        <mat-expansion-panel *ngFor="let item of db; first as isFirst" [expanded]="item === selectedCategoryKeyL">
                          <mat-expansion-panel-header>
                            <mat-panel-title >{{item}}</mat-panel-title>                   
                          </mat-expansion-panel-header>
                          <mat-list role="list" *ngFor="let column of dbValues" >
                            <!-- <div class="search-hero form-group has-search">
                              <span class="fa fa-search form-control-feedback"></span>
                              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a Collections">
                            </div> -->            
                            <mat-list-item role="listitem"  *ngFor="let columnL of column[item]">  
                                <div  class="lftItem" matTooltip="{{columnL}}" (click)="getDBPreview(item,columnL)" [class.activeList]="columnL === selectedColumn">
                                <mat-icon> layers</mat-icon> 
                                {{columnL}}
                                </div> 
                                
                             <!-- <mat-icon class="de" matTooltip="Save Source" *ngIf="columnL === selectedColumn" (click)="openSave(saveLocalFile, item,columnL)">save</mat-icon>  -->
                              <!-- <mat-icon class="de" matTooltip="Copy Source" *ngIf="columnL === selectedColumn" (click)="open(saveFile, item,columnL, '')">file_copy</mat-icon>    -->
                           </mat-list-item>
                          </mat-list>                               
                        </mat-expansion-panel>       
                      </mat-accordion>
                
                      <mat-accordion *ngIf="loadingGlobalData">
                        <!-- (opened)="setOpened(i)"
                          (closed)="setClosed(i)" -->
                        <mat-expansion-panel *ngFor="let item of globalDataGroup; first as isFirst" [expanded]="item.db === selectedCategoryKeyG">
                         
                          <mat-expansion-panel-header>
                            
                            <mat-panel-title >{{ item.db}}</mat-panel-title>                   
                          </mat-expansion-panel-header>
                          <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let itemList of item.refdData">
                              <!-- <div > {{itemList.collection}}</div> -->
                               <div  class="lftItem" matTooltip="{{itemList.collection}}" (click)="loadReferencePreviewGD(itemList.outputpath, itemList.collection, item.db)" [class.activeList]="itemList.outputpath === titleSrc">
                                <mat-icon> layers</mat-icon> 
                                {{itemList.collection}}
                                </div>  
                                <!-- <mat-icon class="ed" matTooltip="Save Source" *ngIf="item.outputpath === titleSrc" (click)="getMongoDBSaveLog()">save</mat-icon> -->
                                <!-- <mat-icon class="de" matTooltip="Copy Source" *ngIf="itemList.outputpath === titleSrc" (click)="open(saveFile, itemList.db,itemList.collection, itemList.outputpath)">file_copy</mat-icon>   -->
                           </mat-list-item>
                          </mat-list>                               
                        </mat-expansion-panel>       
                      </mat-accordion>
                      <div class="createLft">
                        <button  class="btnBlueGreenN green addico"  (click)="openSm(content)"><mat-icon>link</mat-icon> Connect to your Mongo DB Cluster</button>                       
                      </div>
                      <div class="cb">
                      <mat-accordion *ngIf="loadingClientDetails">
                        <!-- (opened)="setOpened(i)"
                          (closed)="setClosed(i)" -->
                        <mat-expansion-panel *ngFor="let item of dbClient; first as isFirst" [expanded]="item === selectedCategoryKey">
                          <mat-expansion-panel-header>
                            <mat-panel-title >{{item}}</mat-panel-title>                   
                          </mat-expansion-panel-header>
                          <mat-list role="list" *ngFor="let column of dbValuesClient" >
                            <mat-list-item role="listitem" *ngFor="let columnN of column[item]" >  
                                <div  class="lftItem" matTooltip="{{columnN}}" (click)="getDBPreviewCluster(item,columnN)" [class.activeList]="columnN === selectedColumnN">
                                <mat-icon> layers</mat-icon> 
                                {{columnN}}
                                </div>                 
                                 <!-- <mat-icon class="ed rt" matTooltip="Save Source" *ngIf="columnN === selectedColumnN" (click)="openSave(saveLocalFile, item,columnN)">save</mat-icon>  -->
                                <!-- <i *ngIf="columnN === selectedColumnN" class="fa fa-download down ed rt" aria-hidden="true"  matTooltip="Download Source" (click)="downloadSource(cleanFiles.outputPath, cleanFiles.sourceDataName)"></i> -->
                               <!-- <mat-icon class="de" matTooltip="Copy Source" *ngIf="column[item].toString() === selectedColumn">file_copy</mat-icon>  -->
                           </mat-list-item>
                          </mat-list>                               
                        </mat-expansion-panel>       
                      </mat-accordion>
                    </div>
                    </div>
                    <div class="dash-right">
                      <div class="spinner2" *ngIf="isLoadingDB || isLoadingCDB"></div>
                      <button *ngIf="showRefTable"  class="btnBlueGreenN addico"  (click)="saveSource()"><mat-icon>link</mat-icon> Select</button>
                      <div class="previewView valign" *ngIf="showRefTable" style="clear: both;">
                        
                        <app-ag-grid
                        floatingFilter="true"
                        *ngIf="isPreviewLoaded"
                        class="ag-theme-material"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [pageSize]="50"
                        [rowSelection]="'multiple'"
                        [suppressRowClickSelection]="false"
                      ></app-ag-grid>
                    </div>
                    </div>
                  </div>
                </mat-card>
                    </mat-tab>
                  </mat-tab-group>
                 
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Summary</ng-template>
                  <mat-card class="border no-rounded list shrare-post">
                    <!-- <h1 class="share-post-title">Summary</h1> -->
                    <div class="analysis-preview">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td><div class="label1">Source Data</div></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="label2">Name</div>
                              {{summary.source?.sourceDataName}}
                            </td>
                          <td>
                            <div class="label2">CDE</div>
                            <span class="spec" *ngFor="let column of summary.source?.availableColumns">
                               {{column}}, 
                            </span>
                            </td>
                          </tr>
                          <tr>
                            <td><div class="label1" style="width: 200px;">Rerference Data</div></td>
                            <td></td>
                          </tr>
                          <tr *ngFor="let ref of summary.reference; index as i;">
                            <td>
                              <div class="label2">Name</div>
                              #{{i+1}}. {{ref.referenceDataName}}</td>
                            <td>
                              <div class="label2">Reference CDE</div>
                              <span *ngFor="let column of ref?.availableRefColumns">
                                {{column}},
                              </span>
                              </td>
                            </tr>

                            <tr>
                              <td><div class="label1">Settings</div></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td><div class="label2">Multi source name</div></td>
                              <td>{{summary.settings?.multiSourceOptions}} </td>
                            </tr>
                            <tr>
                              <td><div class="label2">Frequency</div></td>
                              <td>{{summary.settings?.frequency}}</td>
                            </tr>
                            <tr>
                              <td><div class="label2">Upload Date</div></td>
                              <td>{{summary.settings?.uploadDate}}</td>
                            </tr>
                            <tr>
                              <td><div class="label2">Upload Time</div></td>
                              <td>{{summary.settings?.uploadTime}}</td>
                            </tr>
                            <tr>
                              <td><div class="label2">Department</div></td>
                              <td>{{summary.settings?.department}}</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="list flex-containers flex-start">
                     <div class="list-item-2 outline">
                        <button mat-stroked-button class="button3d  btnPurple ebckBtn" (click)="prevoewBackClick()"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                     </div>
                     <div class="list-item-2 outline act-btn-wrapper1">
                        <button mat-stroked-button class="button3d  btnLightBlue compBtn" (click)="showSaveSuccess()" [disabled]="isLoading">Complete <mat-icon>done_all</mat-icon></button>
                     </div>
                  </div>
                   
                  </mat-card>

                </mat-step>
            </mat-horizontal-stepper>
          </form>
          <div class="agShowDetails" *ngIf="flError && showPreview">
            <mat-card class="border no-rounded list shrare-post mat-card source-preview-card" [hidden]="stepIndex === 1 || stepIndex === 2">
              <div class="list flex-containers space-between">
                <h1 class="share-post-title">Source Preview</h1>
                <button  class="horizontal" (click)="loadSourcePreview();"> <span class="text"><mat-icon>view_column</mat-icon> Preview </span></button>
              </div>
              <app-progress-bar [message]="'Loading source preview...'" class="component" *ngIf="isPreviewLoading"></app-progress-bar>
              <app-ag-grid
                floatingFilter="true"
                *ngIf="isPreviewLoaded"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [pageSize]="50"
                [rowSelection]="'multiple'"
                [suppressRowClickSelection]="false"
              ></app-ag-grid>
            </mat-card>
          </div>
            <mat-card class="border no-rounded list shrare-post mat-card source-preview-card" [hidden]="stepIndex === 0 || stepIndex === 2">
              <div class="list flex-containers space-between">
                <h1 class="share-post-title">Reference Preview</h1>
                <button  class="horizontal" (click)="loadReferencePreview();"> <span class="text"><mat-icon>view_column</mat-icon> Preview </span></button>
              </div>
              <app-progress-bar [message]="'Loading source preview...'" class="component" *ngIf="isRefPreviewLoading"></app-progress-bar>
              <app-ag-grid 
                floatingFilter="true"
                *ngIf="isRefPreviewLoaded"
                [rowData]="refrowData"
                [columnDefs]="refcolumnDefs"
                [pageSize]="50"
                [rowSelection]="'multiple'"
                [suppressRowClickSelection]="false"
              ></app-ag-grid>
            </mat-card>
         
        </div>
      </div>
    </div>
    
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Connect Your Cluster</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="clientUrl">Mongo DB Cluster Client URL</label>
       
          <input *ngIf="showConnectionList" type="text" class="form-control" [(ngModel)]='clientUrl' id="url" placeholder="URL">
          <select *ngIf="!showConnectionList" class="form-control" name="clientUrl"  [(ngModel)]='clientUrl' id="url" (change)="onWriterChange()">           
            <option  *ngFor="let url of clientUrlLog" [ngValue]="url.client_url" matTooltip="{{url.client_url}}" selected ="selected === url.client_url">{{url.client_url}}</option> 
            <option value="others">Others</option>           
          </select> 
          <input *ngIf="showDbCollectionName" type="text" class="form-control" [(ngModel)]='clientUrl' id="url" placeholder="URL">   
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(clientUrl)">Submit</button>
  </div>
</ng-template>

<ng-template #contentErr let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Connection Error!!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{alertErrMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>