.contact-dialog {
  width: 780px;
  height: calc(100vh - 48px);
  max-height: 630px;
  .mat-dialog-container {
    // background: url('./../../../../../assets/images/term-shape.svg') no-repeat top left #fff;
    // background-size: 50%;
    border: 2px solid #CE5340;
    border-radius: 26px;
    box-shadow: 0px 8px 10px #00000029;
  }
  .contacts-form-wrapper {
    min-height: auto;
    padding: 0;
  }
  .mat-dialog-container {
    overflow: hidden;
    .page-body {
      padding: 0;
    }
    .btn-main-right-wrapper {
      margin-top: 16px;
    }
  }
  .mat-dialog-title {
    margin: 0 12px 20px;
    font-size: 30px;
    font-weight: 300;
    .red {
      color: #C73D2F;
      font-weight: 500;
    }
  }
}
