.content {
  position: relative;
  left: 240px;
  padding: 10px;
  max-height: 100vh;
  width: calc(100vw - 240px);
  overflow-y: auto;
}
.breadCrumb {
  color: #49739e;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #fff;
  padding: 4px 10px 8px;
  .mat-flat-button {
    line-height: 28px;
  }

  span {
    padding-right: 5px;
  }
}
.search {
  background-color: #fff;
  padding: 4px 10px;
  margin: 10px 0;
}
.tableView {
  max-width: 100%;
  overflow: auto;
  position: relative;

  &.loader {
    min-height: 80px;
    overflow: hidden;
  }

  &.searchView {
    margin-bottom: 20px;
  }
}

.mat-table {
  width: 100%;

  tr td,
  tr th {
    padding-right: 8px;
  }
}

.mat-row,
.mat-header-row {
  height: 38px;
}

.mat-paginator,
.mat-paginator .mat-select-value {
  font-size: 14px;
  font-weight: 400;
}
.searchHeader {
  padding: 10px 20px;
  background-color: white;
  margin-top: 10px;
}

.modalTable {
  max-height: calc(100vh - 220px);
  overflow: auto;
}
