<section class="page-body home-bodys">
  <div class="container">
    <div class="home-wrapper">
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <div class="shrare-post">
            <!-- RULE ANALYST -->
            <mat-card class="border no-rounded list shrare-post" *ngIf="!showAnalysis && role === 'RULE_ANALYST'">
              <h1 class="share-post-title">Your<span class="red"> Dashboard</span></h1>
              <div class="analysis-preview">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Source Name</th>
                      <th>Ruleset Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of analysisList;">
                      <td>{{data.name}}</td>
                      <td>{{data.rulesetName}}</td>
                      <td>
                        <button type="button" mat-icon-button routerLink="/auth/analysis">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" class="del-icon" mat-icon-button>
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-stroked-button class="primary-btn-red" (click)="launchAnalysis(data)" >Launch</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card>

            <!-- OPERATIONS -->
            <mat-card class="border no-rounded list shrare-post" *ngIf="!showAnalysis && role === 'OPERATION_ANALYST'">
              <h1 class="share-post-title">Your<span class="red"> Dashboard</span></h1>
              <div class="analysis-preview">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Select Source</th>
                      <th>Ruleset Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of analysisList;">
                      <td style="max-width: 80px;">
                        <app-image-cropper 
                          [imageType]="'Source'"
                          [fileTypes]="'.csv'"
                          [imagePath]="''"
                          (fileSelected)="onSourceCSVSelected($event)"
                        >
                        </app-image-cropper>
                        <div class="success-msg" *ngIf="isSourceUploaded">Source CSV uploaded successfully.</div>                        
                      </td>

                      <td>{{data.rulesetName}}</td>
                      <td>
                        <button mat-stroked-button class="primary-btn-red" (click)="launchAnalysis(data)" >Launch</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card>

            <!-- VIEWERES -->
            <mat-card class="border no-rounded list shrare-post" *ngIf="!showAnalysis && role === 'VIEWER'">
              <h1 class="share-post-title">Your<span class="red"> Dashboard</span></h1>
              <div class="analysis-preview">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Select Source</th>
                      <th>Ruleset Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of analysisList;">
                      <td>{{data.name}}</td>
                      <td>{{data.rulesetName}}</td>
                      <td>
                        <button mat-stroked-button class="primary-btn-red" (click)="launchAnalysis(data)" >Launch</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card>

            <!-- Analysis -->
            <mat-card class="border no-rounded list shrare-post" *ngIf="showAnalysis">
              <h1 class="share-post-title">Your<span class="red"> Analysis</span></h1>
              <div class="analysis-preview">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Column</th>
                      <th>Completness</th>
                      <th>Validity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of analyseData;">
                      <td>{{data.airline}}</td>
                      <td>
                        <span 
                          *ngIf="data.completness?.details.length"
                          #tooltip="matTooltip"
                          [matTooltip]="data.completness?.details | json"
                          [matTooltipPosition]="'above'"
                          matTooltipHideDelay="10"
                          class="red"
                        >{{data.completness?.value}}%</span>
                        <span *ngIf="!data.completness?.details.length">{{data.completness?.value}}%</span>
                      </td>
                      <td>
                        <span 
                          *ngIf="data.Validity?.details.length"
                          #tooltip="matTooltip"
                          [matTooltip]="data.Validity?.details | json"
                          [matTooltipPosition]="'above'"
                          matTooltipHideDelay="10"
                          class="red"
                        >{{data.Validity?.value}}%</span>
                        <span *ngIf="!data.Validity?.details.length">{{data.Validity?.value}}%</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="act-btn-wrapper">
                <button mat-stroked-button class="primary-btn-gray white" (click)="gotoList();"><mat-icon>arrow_back</mat-icon> Back</button>
              </div>
            </mat-card>            
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
