<section class="page-body home-bodys">
  <div class="container">
    <div class="home-wrapper">
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <div class="shrare-post">
            <!-- RULE ANALYST --> 
            <mat-card class="border no-rounded list shrare-post" *ngIf="!showAnalysis && role === 'RULE_ANALYST'">
              <div class="list flex-containers flex-start wrap no-margin dash-title">
                <div class="list-item-2">
                  <h1 class="share-post-title no-margin">Source<span class="red"> List</span></h1>
                </div>
                <div class="list-item-2 text-right">
                  <!-- <button mat-stroked-button class="primary-btn-red" routerLink="/auth/analysis">New Rules</button> -->
                  <button mat-stroked-button class="primary-btn-red blue" routerLink="/auth/add-source-data">New Source</button>
                </div>
              </div>

              <!-- Source List -->
              <div class="analysis-preview">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>ID</th>
                      <th>Source Name</th>
                      <th>File Name</th>
                      <th>Referennce</th>
                      <th>Multi Source List</th>
                      <th>Date</th>
                      <th>Ruleset Name</th>
                      <th style="width: 230px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of sourceList;">
                      <td>
                        <div class="source-type" *ngIf="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length<=1">S</div>
                        <div class="source-type" *ngIf="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length >1">M</div>
                      </td>
                      <td>{{data.sourceId}}</td>
                      <td>{{data.source.sourceDataName}}</td>
                      <td>{{data.source.sourceFileName}}</td>
                      <td style="max-width: 240px; overflow: hidden;">
                        <div *ngFor="let ref of data.reference;">
                          {{ref.referenceId}} - {{ref.referenceDataName}}
                        </div>
                      </td>
                      <td>
                        <div class="outline">
                          <mat-form-field appearance="fill">
                            <mat-select [(ngModel)]="data.multisource" [disabled]="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length<=1">
                              <mat-option *ngFor="let multisource of data.settings?.multiSourceOptions;" [value]="multisource">
                                {{multisource}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="outline">
                          <mat-form-field appearance="fill">
                            <input matInput [matDatepicker]="frompicker" [(ngModel)]="data.uploadDate" (click)="frompicker.open()" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                            <mat-datepicker #frompicker (opened)="onOpenDatePicker(data)" [dateClass]="dateClass"></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="outline">
                          <mat-form-field appearance="fill">
                            <mat-select [(ngModel)]="data.rulesetId">
                              <mat-option *ngFor="let rule of data.rules;" [value]="rule.rulesetId">
                                {{rule.rulesetName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <button type="button" mat-icon-button class="launch-icon"
                        (click)="editSourceData(data)" [disabled]="!data.sourceId"  matTooltip="Edit Source">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" mat-icon-button (click)="createEditRuleset(data,'add')" matTooltip="Create Ruleset">
                          <mat-icon>add</mat-icon>
                        </button>
                        <button type="button" mat-icon-button 
                        (click)="createEditRuleset(data,'edit')" [disabled]="!data.rulesetId"  matTooltip="Edit Ruleset">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button class="del-icon launch-icon" mat-icon-button 
                          [disabled]="!data.rulesetId" 
                          (click)="launchAnalysis(data)" 
                          matTooltip="Launch Analysis">
                          <mat-icon>launch</mat-icon>
                        </button>
                        <button class="del-icon launch-icon" mat-icon-button 
                          [disabled]="!data.rulesetId" 
                          (click)="launchDelayAnalysis(data)" 
                          matTooltip="Delay Analysis">
                          <mat-icon>alarm</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card>

            <!-- OPERATIONS -->
            <mat-card class="border no-rounded list shrare-post" *ngIf="!showAnalysis && role === 'OPERATION_ANALYST'">
              <h1 class="share-post-title">Your<span class="red"> Dashboard</span></h1>
              <div class="analysis-preview">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Source Name</th>
                        <th>Multi Source List</th>
                        <th>Select File</th>
                        <th>Date</th>
                        <th>Ruleset Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of sourceList;">
                        <td>
                          <div class="source-type" *ngIf="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length<=1">S</div>
                          <div class="source-type" *ngIf="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length >1">M</div>
                        </td>
                        <td>{{data.sourceId}}</td>
                        <td>{{data.source.sourceDataName}}</td>
                        <td>
                          <div class="outline">
                            <mat-form-field appearance="outline">
                              <mat-select [(ngModel)]="data.multisource" [disabled]="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length<=1">
                                <mat-option *ngFor="let multisource of data.settings?.multiSourceOptions;" [value]="multisource">
                                  {{multisource}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </td>
                        <td>
                          <app-image-cropper 
                            [imageType]="'Source'"
                            [fileTypes]="'.csv'"
                            [imagePath]="''"
                            (fileSelected)="onSourceCSVSelected($event, data)"
                          >
                          </app-image-cropper>
                        </td>
                        <td>
                          <div class="outline">
                            <mat-form-field appearance="outline">
                              <input matInput [matDatepicker]="frompicker" [(ngModel)]="data.uploadDate" (click)="frompicker.open()" autocomplete="off">
                              <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                              <mat-datepicker #frompicker (opened)="onOpenDatePicker(data)" [dateClass]="dateClass"></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </td>
                        <td>
                          <div class="outline">
                            <mat-form-field appearance="outline">
                              <mat-select [(ngModel)]="data.rulesetId">
                                <mat-option *ngFor="let rule of data.rules;" [value]="rule.rulesetId">
                                  {{rule.rulesetName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </td>
                        <td class="btn-wrappers">
                          <button mat-stroked-button class="primary-btn-red" (click)="uploadSource(data)">Upload</button>
                          <button mat-stroked-button class="primary-btn-red" (click)="launchAnalysis(data)" [disabled]="!data.uploadDate || !data.rulesetId">View</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </mat-card>

            <!-- VIEWERES -->
            <mat-card class="border no-rounded list shrare-post" *ngIf="!showAnalysis && role === 'VIEWER'">
              <h1 class="share-post-title">Your<span class="red"> Dashboard</span></h1>
              <div class="analysis-preview">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Source Name</th>
                        <th>Multi Source List</th>
                        <th>Date</th>
                        <th>Ruleset Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of sourceList;">
                        <td>
                          <div class="source-type" *ngIf="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length<=1">S</div>
                          <div class="source-type" *ngIf="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length >1">M</div>
                        </td>
                        <td>{{data.sourceId}}</td>
                        <td>{{data.source.sourceDataName}}</td>
                        <td>
                          <div class="outline">
                            <mat-form-field appearance="outline">
                              <mat-select [(ngModel)]="data.multisource" [disabled]="data.settings?.multiSourceOptions && data.settings?.multiSourceOptions.length<=1">
                                <mat-option *ngFor="let multisource of data.settings?.multiSourceOptions;" [value]="multisource">
                                  {{multisource}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </td>
                        <td class="hgt">
                          <div class="outline">
                            <mat-form-field appearance="outline">
                              <input  matInput [matDatepicker]="frompicker" [(ngModel)]="data.uploadDate" (click)="frompicker.open()" autocomplete="off">
                              <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                              <mat-datepicker #frompicker (opened)="onOpenDatePicker(data)" [dateClass]="dateClass"></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </td>
                        <td>
                          <div class="outline">
                            <mat-form-field appearance="outline">
                              <mat-select [(ngModel)]="data.rulesetId">
                                <mat-option *ngFor="let rule of data.rules;" [value]="rule.rulesetId">
                                  {{rule.rulesetName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </td>
                        <td class="btn-wrappers">
                          <button mat-stroked-button class="primary-btn-red" (click)="launchAnalysis(data)" [disabled]="!data.uploadDate || !data.rulesetId">View</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </mat-card>

            <!-- Analysis by Key-->
            <mat-card class="border no-rounded list shrare-post" *ngIf="showAnalysis">
              <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoadingDetails"></app-progress-bar>
              <div class="list flex-containers analysis-wrp flex-start wrap">
                <div class="list-item-3 outline">
                  <h1 class="share-post-title">Analysis by<span class="red"> CDE</span></h1>
                </div>
                <div class="list-item-3 outline">
                  <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="selectedCDE" (ngModelChange)="launchAnalysisByKey($event)">
                      <mat-option *ngFor="let col of selectedColumns;" [value]="col">
                        {{col}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="list-item-3 outline">
                  <div class="act-btn-wrapper">
                    <button mat-stroked-button class="primary-btn-gray white pad" (click)="gotoList();"><mat-icon class="mar-ico">arrow_back_ios_new</mat-icon> Back</button>
                  </div>
                </div>
              </div>
              <div class="analysis-preview">
                 <app-cylinder-chart 
                    *ngIf="analyseKeyData.length && isLoadChart"
                    [analysisKeys]="analysisKeys"
                    [chartData]="analyseKeyChartData"
                    [chartType]="'column'" >
                </app-cylinder-chart>

                <div class="actions-wrapper">
                  <button type="button" class="ma-cr" mat-icon-button matTooltip="Highlight Settings"  (click)="openHighlightSettingsDialog()">
                    <mat-icon>format_color_fill</mat-icon>
                  </button>
                </div>
                <table class="table brd-rt">
                  <thead>
                    <tr>
                      <td>{{selectedKey}}</td>
                      <th *ngFor="let key of analysisKeys">{{key}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of analyseKeyData;">
                      <td>{{data[selectedKey]}}</td>
                      <td *ngFor="let key of analysisKeys" [style.background-color]="data[key]?.value | formatCell: settings">
                        <span 
                          *ngIf="data[key]?.details && data[key]?.details.length"
                          (click)="showDetails(data[key]?.details)"
                        >{{data[key]?.value}}%</span>
                        <span *ngIf="!data[key]?.details.length">{{data[key]?.value}}%</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </mat-card>   


          </div>

        </div>
      </div> 
    </div>

  </div>
</section>
<!-- <table class="table brd-rt">
  <tbody style="border: 1px solid #dee2e6">
    <tr *ngFor="let rowItem of rowData;" >
      <td  *ngFor="let item of rowItem | keyvalue">{{item.key}}: {{item.value}}</td>
    </tr>
  </tbody>
</table> -->
