.home-wrapper {
   .flex-item-h {
     min-height: 220px;
   }
  
   .sec-title {
     font-size: 28px;
     font-weight: 300;
   }
   .strong-title {
     margin-bottom: 14px;
   }
   .flex-item-h {
     width: 33%;
     border-radius: 0;
     border-width: 0 !important;
     color: #f1f1f1;
     padding: 34px;
     align-items: center;
     justify-content: center;
     display: flex;
     cursor: pointer;
     .secondary-btn {
       margin-top: 24px;
       transition: ease-in 200ms;
       border-color: #f1f1f1 !important;
       color: #f1f1f1;
     }
     &:hover {
       .flex-overlay {
         opacity: 1;
         transition: ease-in 200ms;
       }
       .secondary-btn {
         transition: ease-in 200ms;
         border: 1px solid #8d0000 !important;
         background-color: #b00000 !important;
         color: #fff;
       }
     }
     .flex-overlay {
       opacity: 0;
       transition: ease-in 100ms;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.42);
     }
   }
   .professional {
     background-color: #477149;
   }
   .personal {
     background-color: #155159;
     width: 34%;
   }
   .community {
     background-color: #5B5651;
   }
   .left-pannel {
     float: left;
     width: 282px;
   }
   .home-panel {
     .mat-card {
      // box-shadow: 0px 3px 6px #00000029;
      box-shadow: 0px;
       border: 1px solid #EBEBEB !important;
       padding: 20px;
       .user-image {
         float: left;
         width: 68px;
       }
       .post-user-info {
         margin-left: 88px;
       }
     }
   }
   .remove-btn {
     height: 32px;
     line-height: 29px !important;
     margin-left: 10px;
     font-size: 14px;
   }
   .shrare-post {
     textarea {
       height: 80px;
     }
     .mat-form-field-wrapper {
       padding-bottom: 0;
     }
     .share-post-title {
       font-size: 24px;
       color: #0C0C0C;
       font-weight: 400;
       margin-bottom: 40px!important;
       font-family: 'open-sans-condensed-bold';
       position: relative;
       &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -12px;
          height: 5px;
          width: 55px;
          background-color: #59bfff;
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          height: 1px;
          width: 95%;
          max-width: 181px;
          background-color: #59bfff;
        }
     }
     .share-btn {
       font-weight: 300;
       color: #7B7C7D;
       margin-top: 20px;
       padding: 2px 10px 2px 2px;
       margin-left: 16px;
       font-size: 17px;
       .mat-icon {
         font-size: 20px;
         margin-right: 3px;
         height: 22px;
       }
     }
   }
   .my-community-body .list {
     margin: 20px 0 0 0;
   } 
   .analysis-card {
     text-align: center;
   }
   .col-selector-wrapper {
     margin: 12px;
   }
 }
 .mat-expansion-panel {
   margin-bottom: 16px;
 }
 .rule-list-wrp {
   margin: 0 40px;
 }
 
 .category-list {
   .category-item {
     text-align: center;
     border: 1px solid #585858;
     padding: 4px;
     background-color: rgba(240, 240, 240, 0.12);
     border-radius: 4px;
     .cat-icon {
       font-size: 32px;
       color: #525252;
     }
     .cat-title {
       margin: 0;
       font-size: 16px;
       font-weight: 400;
       line-height: 31px;
     }
     &:hover {
       box-shadow: 0 10px 40px 1px rgba(0,0,0,.17);
       background-color: #ffffff;
       cursor: pointer;
     }
     &.selected {
       border: 1px solid #C73D2F;
       background-color: #ffffff;
       box-shadow: 0 10px 40px 1px rgba(0,0,0,.17);
       .cat-icon, .cat-title {
         color: #C73D2F;
         font-weight: 500 !important;
       }
     }
     &:focus {
       outline: none;
     }
   }
 }
 .category-list-wrapper {
   margin-bottom: 12px;
   .left-arrow {
     float: left;
     width: 50px;
   }  
   .category-list {
     width: calc(100% - 100px);
     float: left;
   }
   .right-arrow {
     float: left;
     width: 50px;
     padding-left: 16px;
   }
   button {
     &.prev-next-btn {
       border-radius: 0;
       padding: 0;
       width: 34px;
       min-width: auto;
       padding: 0 !important;
     }
   }
 }
 .analysis-wrp {
   .share-post-title {
     margin: 0 0 10px 0 !important;
   }
   .act-btn-wrapper {
     margin: 0 0 10px 0;
   }
 }
 .launch-icon {
   color: #C9422E;
 }
 
 .primary-btn-red{
    border-radius:2px!important;
    font-family: 'open-sans-condensed-bold'!important;    
 }
 .table thead th{
    font-family: 'open-sans-condensed-bold'!important;
 }
 .table tbody td{
    font-family: 'open-sans-regular';
    font-size: 13px;
    border-top: 1px solid #efeff2;
    height: 20px;
 }
 ::ng-deep.mat-option {
    font-family: 'open-sans-regular'!important;
   }
 ::ng-deep.mat-select-value-text{
    font-family: 'open-sans-regular';
   }
 .pad{
    padding:0 15px!important;
 }
 .mar-ico {
    margin-right: 10px;
 }

 .ma-cr{
   margin-left: 20px;
   color: #59bfff;
   cursor: pointer;
 }
.actions-wrapper {
  text-align: right;
}
.source-type {
  font-family: "open-sans-condensed-bold" !important;
  font-size: 13px;
  color: #fff;
  background-color: #0659d4;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
}
.btn-wrappers button {
  margin: 0 4px;
}
.mat-form-field-disabled {
  opacity: 0.32;
}
::ng-deep .highlight-dates .mat-calendar-body-cell-content {
  background: #59bfff !important;
  font-weight: bold;
}
::ng-deep .highlight-dates:hover .mat-calendar-body-cell-content {
  background: #8ccaf1 !important;
  font-weight: bold;
}
// ::ng-deep .mat-form-field-flex{
//    height:35px !important;
// }
::ng-deep .mat-datepicker-toggle-default-icon{
   position: relative;
   top:-5px;
   width: 1.3em!important;
   height: 1.3em!important;
}

tr:nth-child(even) {background: #f5f6f8 }
tr:nth-child(odd) {background: #ffffff}


.mat-icon-button {
   padding: 0;
   min-width: 0;
   width: 35px;
   height: 35px;
   flex-shrink: 0;
   line-height: 35px;
   border-radius: 50%;
   margin-right: 6px;
   background: rgba(0, 0, 0, 0.08);
   transition: 300ms ease;
}
.mat-icon-button:hover{
   background: rgba(0, 0, 0, 0.2);
}
.material-icons{
   font-size: 18px;
}

// buttons

.button3d {
   //display: block;
   //position: relative;
   //float: left;
   width: 200px;
   padding: 0;
   margin: 10px 20px 10px 0;
   font-weight: 600;
   text-align: center;
   line-height: 50px;
   color: #FFF;
   border-radius: 5px;
   transition: all 0.2s ;
   font-family: "open-sans-condensed-bold"!important;
   cursor: pointer;
 }
 
 .btnBlueGreen {
   background: #00AE68;
   &.addico{
      width: 26px;
      height: 26px;
      line-height: 25px;
      outline: none;
      border: none;
      padding-top: 3px;
      border-radius: 2px;
      margin-right: 5px;
      .mat-icon{
         font-size: 20px;
      }
   }
 }
 
 .btnLightBlue {
   background: #59bfff;
   &.addRef{
      height: 30px;
      width: 160px;
      line-height: 30px;
      border-radius: 2px;
      .material-icons{
         font-size: 20px;
      }
   }
   &.tdBtn{
      font-size: 18px;
      color: #ffffff;
      width: 140px;
      height: 40px;
      line-height: 40px;
      padding-left: 4px;
      .mat-icon{
         font-size: 20px;
         position: relative;
         top: 1.5px;
         right: 3px;
      }
      &:disabled{
         background: gray;
         box-shadow: 0px 5px 0px 0px #484848;
      }
   }
   &.compBtn{
      font-size: 20px;
      color: #ffffff;
      width: 145px;
      height: 40px;
      line-height: 40px;
      padding-left: 16px;
      .mat-icon{
         font-size: 28px;
         position: relative;
         top: -4px;
         right: 0px;
      }
   }
   
   &.svBtn{
      font-size: 18px;
      color: #ffffff;
      width: 180px;
      height: 37px;
      line-height: 30px;
      .mat-icon{
         font-size: 20px;
      }
   }
   
 }
 
 .btnOrange {
   background: #e91b00;
   &.redico{
      width: 26px;
      height: 26px;
      line-height: 25px;
      outline: none;
      border: none;
      padding-top: 3px;
      border-radius: 2px;
      .mat-icon{
         font-size: 20px;
      }
   }
   
 }
 
 .btnPurple {
   background: #A74982;
   &.preview{
      width: 100px;
      height: 30px;
      line-height: 28px;
   }
   &.ebckBtn{
      font-size: 20px;
      color: #ffffff;
      width: 95px;
      height: 40px;
      line-height: 40px;
      padding-right: 20px;
      .mat-icon{
         font-size: 28px;
         position: relative;
         top: -4px;
         left: 3px;
      }
   }
   &.addRef{
      height: 30px;
      width: 160px;
      line-height: 30px;
      border-radius: 2px;
      .material-icons{
         font-size: 20px;
      }
   }
 }
 
 /* FADE */
 .btnFade.btnBlueGreen:hover {
   background: #21825B;
 }
 
 .btnFade.btnLightBlue:hover {
   background: #0097f6;
 }
 
 .btnFade.btnOrange:hover {
   background: #FF8E00;
 }
 
 .btnFade.btnPurple:hover {
   background: #6D184B;
 }
 
 /* 3D */
 .btnBlueGreen.btnPush {
   box-shadow: 0px 5px 0px 0px #007144;
 }
 
 .btnLightBlue.btnPush {
   box-shadow: 0px 5px 0px 0px #0659d4;
 }
 
 .btnOrange.btnPush {
   box-shadow: 0px 5px 0px 0px #8c1808;
 }
 
 .btnPurple.btnPush {
   box-shadow: 0px 5px 0px 0px #6D184B;
 }
 
 .btnPush:hover {
   margin-top: 15px;
   margin-bottom: 5px;
 }
 
 .btnBlueGreen.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #007144;
 }
 
 .btnLightBlue.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #1E8185;
 }
 
 .btnOrange.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #A66615;
 }
 
 .btnPurple.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #6D184B;
 }