<div class="listContainer">
  <div class="listHeader">
    <mat-icon>assignment_ind</mat-icon>
    <h5>Role Management</h5>
    <app-filter-input (onFilterChange)="doFilter($event)" class="alignEnd"></app-filter-input>
    <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
  </div>
  <div class="listTable" [formGroup]="roleForm">
    <table mat-table matSort [dataSource]="rolesList">

      <ng-container matColumnDef="roleName">
        <th class="table-column-200" mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td class="table-column-200" mat-cell *matCellDef="let role"> 
          <span [hidden]="role.edit">{{role.roleName}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="!role.edit">
            <input formControlName="roleName" [readonly]="role.mode != service.mode.CREATE" matInput />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="roleText">
        <th class="table-column-200" mat-header-cell mat-sort-header *matHeaderCellDef>Display Text</th>
        <td class="table-column-200" mat-cell *matCellDef="let role"> 
          <span [hidden]="role.edit">{{role.roleText}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="!role.edit">
            <input formControlName="roleText" matInput />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="rights">
        <th class="table-column-200" mat-header-cell *matHeaderCellDef>Rights</th>
        <td class="table-column-200" mat-cell *matCellDef="let role">
          <ul class="column-3 column-width-450" [hidden]="role.edit">
            <li *ngFor="let right of role.rights">{{right.Text}}</li>
          </ul>
          <mat-form-field appearance="standard" class="column-width-300 m-15" [hidden]="!role.edit">
            <mat-select multiple formControlName="rights" [compareWith]="compareRights">
                <mat-option *ngFor="let right of rightsList" [value]="right">
                    {{right.Text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="table-column-100  center" mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="primary" aria-label="Add New" (click)="addNewRole()">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td class="table-column-100  center" mat-cell *matCellDef="let role;let i = index">
          <button mat-icon-button aria-label="editRole" [hidden]="role.edit" (click)="editRole(role,i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="deleteRole" [hidden]="role.edit">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="saveRole" [hidden]="!role.edit" [disabled]="roleForm.invalid" (click)="saveRole(role)">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="editRole" [hidden]="!role.edit" (click)="cancel(role)">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      
      <ng-container matColumnDef="noData">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="center">
          No Records Found
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="rolesList && rolesList.filteredData.length > 0"></tr>
    </table>
  </div>
</div>