<section class="page-body home-bodys">
  <div class="container">
    <div class="home-wrapper">
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <div class="shrare-post">
            <mat-card class="border no-rounded list shrare-post">
              <div class="list flex-containers flex-start wrap no-margin dash-title">
                <div class="list-item-2">
                  <h1 class="share-post-title no-margin">Roles<span class="yellow"> List</span></h1>
                </div>
                <div class="list-item-2 text-right">
                  <button  mat-stroked-button class="button3d btnPush btnLightBlue tdBtn" (click)="showAddEditRole({}, 'create');">New Role <mat-icon>person_add</mat-icon></button>
                </div>
              </div>

              <!-- Roles List -->
              <div class="analysis-preview">
               <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 33%;">Name</th>
                      <th style="width: 33%;">Display Text</th>
                      <!-- <th>Status</th> -->
                      <th style="width: 33%;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let role of rolesList; let i= index;" class="tableinner">
                       <td colspan="3">
                         <table class="table no-border">
                           <tr>
                            <td style="width: 33%;">{{role.roleName}}</td>
                            <td style="width: 33%;">{{role.roleText}}</td>
                            <!-- <td class="{{role.status}}">{{role.status}}</td> -->
                            <td style="width: 33%;">
                              <button type="button" class="button3d btnPush btnOrange addico"
                                (click)="showAddEditRole(role, 'edit');"  matTooltip="Edit Role">
                                <mat-icon>edit</mat-icon> Edit
                              </button>
                              <button type="button" class="button3d btnPush btnOrange addico" *ngIf="!role.isShowRights"
                                (click)="showHideAssignRights(role, true);"  matTooltip="Assign Rights">
                                Rights
                              </button>
                            </td>
                           </tr>
                         </table>
                          <div class="assign-role-wrapper" *ngIf="role.isShowRights">
                            <mat-chip-list aria-label="Rights selection">
                              <mat-chip *ngFor="let right of role.rightsList" [class.selected]="right.selected" (click)="onRightClick(right)">{{right.label}}</mat-chip>
                            </mat-chip-list>
                            <div class="btn-wrapper right">
                              <button type="button" class="button3d btnPush btnOrange addico"
                              (click)="showHideAssignRights(role, false);">
                                Cancel
                              </button>
                              <button type="button" class="button3d btnPush btnOrange addico"
                              (click)="saveRights(role);">
                                Save
                              </button>
                            </div>
                          </div>
                       </td>
                     </tr>
                   </tbody>
               </table>
              </div>
            </mat-card>

          </div>

        </div>
      </div> 
    </div>

  </div>
</section>
