<h1 mat-dialog-title> Completeness Color</h1>
<div mat-dialog-content>
  <!-- <p>Change your Completeness Color</p> -->
  <mat-form-field>
    <mat-label>Min %</mat-label>
    <input type="number" (keypress)="numberOnly($event)" matInput [(ngModel)]="data.minValue">
  </mat-form-field>
  <mat-form-field>
   <mat-label>Max %</mat-label>
   <input type="number" (keypress)="numberOnly($event)" matInput [(ngModel)]="data.maxValue">
 </mat-form-field>
 <mat-form-field>
   <mat-label>Choose Color</mat-label>
   <mat-select matInput [(ngModel)]="data.colorValue">
      <mat-option value="red">Red</mat-option>
      <mat-option value="orange">Orange</mat-option>
      <mat-option value="green">Green</mat-option>
    </mat-select>
 </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button  color="primary" (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>