<h1 mat-dialog-title> Completeness Color</h1>
      <!-- {{colorCtr.value | json}} -->
<div mat-dialog-content>
  <!-- <p>Change your Completeness Color</p> -->
  <form [formGroup]="settingsForm" (ngSubmit)="closeSettings()">
    <div class="flex-containers space-between" 
    formArrayName="bgSettings" *ngFor="let bgSetting of settingsForm.get('bgSettings')['controls']; index as i; last as isLast; first as isFirst">
      <ng-container [formGroupName]="i">
        <div class="list-item">
          <mat-form-field>
            <mat-label>Min %</mat-label>
            <input type="text" (keypress)="numberOnly($event)" matInput formControlName="min" maxlength="3" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
  
          <mat-label>Max %</mat-label>
           <input type="text" (keypress)="numberOnly($event)" matInput formControlName="max" maxlength="3" autocomplete="off">
         </mat-form-field>        
          <!-- <mat-form-field>
           <mat-label>Choose Color</mat-label>
           <mat-select matInput formControlName="color">
              <mat-option value="red">Red</mat-option>
              <mat-option value="orange">Orange</mat-option>
              <mat-option value="green">Green</mat-option>
            </mat-select>
          </mat-form-field>  -->
           <mat-form-field>
            <mat-label>Choose Color</mat-label>
            <input
              matInput 
              [(colorPicker)]="bgSetting.get('color').value"
              (colorPickerChange)="bgSetting.get('color').setValue($event)"
              [style.background]="bgSetting.get('color').value"
            />
          </mat-form-field> 
        </div>
        <div class="list-item-5 add-remove-button">
          <button type="button" mat-icon-button (click)="addFormItem('bgSettings')" *ngIf="isLast">
            <mat-icon>add</mat-icon>
          </button>
          <button type="button" mat-icon-button class="del-icon" (click)="removeFormItem('bgSettings', i)" *ngIf="!isFirst || !isLast">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </ng-container>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="accent" (click)="closeSettings()" cdkFocusInitial class="ma-cr">Ok</button>
</div>