<section class="page-body profile-body home-body">
  <div class="container">
    <div class="profile-wrapper clearfix">
      <div class="left-panel large">
        <mat-calendar [selected]="selectedDate" (selectedChange)="selectedDateChange($event)"></mat-calendar>
      </div>
      <div class="right-panel large">
        <div class="flex-containers space-between page-heading-action">
          <div class="flex-item">
            <h4 class="name"><mat-icon>alarm</mat-icon>Tasks</h4>
          </div>
          <div class="flex-item">
            <button mat-stroked-button class="primary-btn-red" (click)="showCreateEditTask()">Create Taks</button>
          </div>
        </div>
        <div class="deals-wrapper tasks-wrapper personal-details">
          <mat-card *ngFor="let task of tasksList; index as i" class="task-card">
              <div class="list flex-containers flex-start">
                <div class="list-item-5 no-margin">
                  <div class="task-date-wrapper {{task.reminder ? 'reminder-on' : 'reminder-off'}}">
                    <h4>{{task.from_date | date:'dd'}}</h4>
                    <h5>{{task.from_date | date:'MMM'}}</h5>
                    <h6 class="task-icons">
                      <mat-icon class="reminder-on" title="Reminder On" *ngIf="task.reminder">alarm_on</mat-icon>
                      <mat-icon class="reminder-off" title="Reminder Off" *ngIf="!task.reminder">alarm_off</mat-icon>
                      <mat-icon class="repetive-on" title="Repeative On" *ngIf="task.repetive">repeat</mat-icon>
                      <mat-icon class="repetive-off" title="Repeative Off" *ngIf="!task.repetive">repeat_one</mat-icon>
                    </h6>
                  </div>
                </div>
                <div class="list-item-1 no-margin">
                  <div class="no-margin">
                    <h4 class="task-title">
                      <mat-icon>calendar_today</mat-icon>
                      {{task.name}} 
                    </h4>
                    <div class="more-wrapper">
                      <button mat-icon-button class="edit-btn" (click)="showCreateEditTask(task)"><mat-icon>edit</mat-icon></button>
                      <button mat-icon-button class="delete-btn" (click)="deleteDeals(task, i)"><mat-icon>delete</mat-icon></button>
                  </div>
                    <p class="task-desc">{{task.description}}</p>
                    <div class="list flex-containers flex-start">
                      <div class="list-item-3 no-margin">
                        <label class="label">From</label>
                        <h4>{{task.from_date | date:'MMM dd, yyyy hh:mm a'}}</h4>
                      </div>
                      <div class="list-item-3 no-margin">
                        <label class="label">To</label>
                        <h4>{{task.to_date | date:'MMM dd, yyyy hh:mm a'}}</h4>
                      </div>
                      <div class="list-item-3 no-margin">
                        <label class="label">Reminder On</label>
                        <h4>{{task.rem_date | date:'MMM dd, yyyy hh:mm a'}}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </mat-card>
        </div>
      </div>      
    </div>
    
  </div>
</section>

