.no-data-found {
  padding: 30px 20px !important;
  margin-top: 120px;
  font-size: 18px;
}
.abs-btn-wrapper {
  position: absolute;
  right: 20px;
}
.deals-wrapper {
  .mat-card {
    margin-bottom: 12px;
  }
  .profile-pic-small {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
    &.img {
      height: 100px !important;
      width: 100px !important;
      margin: 0 !important;
    }
    .mat-icon {
      font-size: 106px;
      color: rgba(93, 93, 93, 0.35);
      width: 100px;
      height: 100px;
      margin: 0;
      position: relative;
      top: -6px;
      left: -12px;
      border: 0;
    }
  }
}
.deals-search {
  .btn-wrapper {
    margin-top: 8px;
  }
  .list p {
    margin-bottom: 14px;
  }
}
.mat-card.search-card {
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #EBEBEB !important;
  border-radius: 0 !important;
  padding: 14px 30px;
  margin-bottom: 22px !important;
  border-radius: 20px !important;
  h4.d-title {
    font-size: 22px;
    font-weight: 400;
  }
  .d-desc {
    font-size: 18px;
    color: #7A7A7A;
    font-weight: 300;
    margin-bottom: 22px;
  }
  .deal-stats {
    padding: 18px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    margin-bottom: 24px !important;
  }
  label.d-label {
    color: #262626;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
.serach-btn-wrapper {
  text-align: right;
}