<app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
<section class="page-body profile-body home-body">
  <div class="container">
    <!-- <div class="flex-containers space-between page-heading-action">
      <div class="flex-item">
        <h4 class="name">Results</h4>
      </div>
    </div> -->
    <div class="deals-wrapper personal-details deals-search">
      <!-- Professions List -->
      <mat-card *ngFor="let profession of professionsList; index as i" class="search-card">
        <div class="list flex-containers flex-start">
          <div class="list-item-7 no-margin">
            <div class="user-profile-img">
              <a routerLink="/auth/professional" [queryParams]="{id: profession.id}">
                <div class="profile-pic-small img" *ngIf="profession.path" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + profession.path + ')'}"></div>
                <h4 class="profile-pic-small" *ngIf="!profession.path">
                  <mat-icon>account_circle</mat-icon>
                </h4>
              </a>
            </div>
          </div>
          <div class="list-item-1 no-margin">
            <div class="flex-containers space-between">
              <div class="flex-item">
                <h4 class="d-title"><a routerLink="/auth/professional" [queryParams]="{id: profession.id}">
                  {{profession.fullname}}
                </a></h4>
                <p class="d-desc">{{profession.profession}}</p>
              </div>
              <div class="flex-item serach-btn-wrapper">
                <button mat-stroked-button class="primary-btn-gray" (click)="showAssignDealComment(profession, true)" *ngIf="!profession.showComment">Assign Deal</button>
              </div>
            </div>
            <div class="list no-all-margin flex-containers flex-start">
              <div class="list-item-4 no-margin">
                <label class="d-label">Location</label>
                <h4 class="word-wrap">{{profession.location ? profession.location : '-'}}</h4>
              </div>
              <div class="list-item-4 no-margin">
                <label class="d-label">Phone no</label>
                <h4>{{profession.phoneno}}</h4>
              </div>
              <div class="list-item-3 no-margin">
                <label class="d-label">Email</label>
                <h4>{{profession.email}}</h4>
              </div>
              <div class="list-item-4 no-margin">
                <label class="d-label">Rating</label>
                <h4>{{profession.rating}}</h4>
              </div>
            </div>
            <div class="list comment" *ngIf="profession.showComment">
              <form class="deal-requst-form outline">
                <mat-form-field appearance="outline">
                  <mat-label>Deals</mat-label>
                  <mat-select [(ngModel)]="profession.selectedDeal" name="selectedDeal">
                    <mat-option *ngFor="let odeal of openDeals" [value]="odeal">{{odeal.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field appearance="outline">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="profession.comment" name="comment"></textarea>
                </mat-form-field>
                <div class="btn-main-right-wrapper">
                  <button mat-stroked-button class="primary-btn-gray white" (click)="showAssignDealComment(profession, false)">Cancel</button>
                  <button mat-stroked-button class="primary-btn-gray" (click)="onAssignDeals(profession)" [disabled]="!profession.selectedDeal?.id || !profession.comment">Assign</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </mat-card>
      
      <!-- Deals List -->

      <mat-card *ngFor="let deals of dealsList; index as i" class="search-card">
        <div class="list flex-containers flex-start">
          <div class="list-item-5 no-margin">
            <div class="deals-image-wrapper">
              <h4 *ngIf="!deals.path" class="icon-image"><mat-icon>image</mat-icon></h4>
              <h4 *ngIf="deals.path && (deals.path | fileformat) === 'docs'" class="icon-image">
                <a href="{{appConfig.imgBaseUrl}}{{deals.path}}" target="_blank">
                  <mat-icon>picture_as_pdf</mat-icon>
                </a>
              </h4>
              <div *ngIf="deals.path && (deals.path | fileformat) === 'images'" class="img-preview">
                <a href="{{appConfig.imgBaseUrl}}{{deals.path}}" target="_blank">
                  <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + deals.path + ')'}"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="list-item-1 no-margin">
            <div class="flex-containers space-between">
              <div class="flex-item">
                <h4 class="d-title word-wrap">{{deals.name}}</h4>
                <p class="d-desc word-wrap">{{deals.description}}</p>
              </div>
              <div class="flex-item serach-btn-wrapper">
                <button mat-stroked-button class="primary-btn-gray" (click)="showRequestComment(deals, true)" *ngIf="!deals.showComment">Request Deal</button>
              </div>
            </div>
            <div class="list no-all-margin flex-containers flex-start deal-stats">
              <div class="list-item-4 no-margin">
                <label class="label">Location</label>
                <h4 class="word-wrap">{{deals.location}}</h4>
              </div>
              <div class="list-item-4 no-margin">
                <label class="label">Due On</label>
                <h4>{{deals.due_date | date:'mediumDate'}}</h4>
              </div>
              <div class="list-item-4 no-margin">
                <label class="label">Amount</label>
                <h4>₹ {{deals.amount}}</h4>
              </div>
              <div class="list-item-4 no-margin">
                <label class="label">Owner</label>
                <h4>{{deals.owner}}</h4>
              </div>
            </div>
            <div class="list comment" *ngIf="deals.showComment">
              <form class="deal-requst-form outline">
                <mat-form-field appearance="outline">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="deals.req_description" name="req_description"></textarea>
                </mat-form-field>
                <div class="btn-main-right-wrapper">
                  <button mat-stroked-button class="primary-btn-gray white" (click)="showRequestComment(deals, false)">Cancel</button>
                  <button mat-stroked-button class="primary-btn-gray" (click)="onRequestDeals(deals)" [disabled]="!deals.req_description">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-card>      
      <mat-card 
        class="no-data-found search-card" 
        *ngIf="!isLoading && (!dealsList.length && !professionsList.length)">
        {{search.option === 'deals' ? 'No deals data found.' : 'No professions data found.'}}
      </mat-card>
    </div>
    
    <!-- Pagination -->
    <div class="pagination-wrapper" [hidden]="isLoading">
      <mat-paginator 
        *ngIf="!isLoading && total"
        [length]="total"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20, 50]"
        [showFirstLastButtons]="true"
        (page)="pageEvent = onPaginationChange($event)">
      </mat-paginator>
    </div>
    

  </div>
</section>
