<mat-card class="user-wrapper deals-details no-padding">
  <app-progress-bar [message]="loaderMsg" class="page component" *ngIf="isLoading"></app-progress-bar>
  <div class="deal-hd">
      <div class="flex-containers space-between">
        <div class="deal-title">
          <h4 [routerLink]="'/auth/search'" [queryParams]="{option: 'deals', q: '', location: ''}">HOT DEALS</h4>
          <p>Total {{deals.count}} delas</p>
        </div>
        <div class="more">
          <button mat-icon-button class="more-icon-btn" [disabled]="isLoading" [class.loading]="isLoading" [routerLink]="'/auth/search'" [queryParams]="{option: 'deals', q: '', location: ''}">
            <mat-icon class="more-icon">more_horiz</mat-icon>
          </button>           
        </div>
      </div>
  </div>
  <div class="deals-items">
    <div class="deal-item" *ngFor="let deal of deals.deals">
      <div class="item-title">
        <h4>{{deal.name}}</h4>
        <p>Post by: {{deal.owner}}</p>
      </div>
      <div class="deal-img" *ngIf="deal.path" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + deal.path + ')'}"></div>
      <div class="deal-details">
        <p>{{deal.description}}</p>
        <div class="btns">
          <button mat-stroked-button class="primary-btn-gray" [routerLink]="'/auth/search'" [queryParams]="{option: 'deals', q: deal.name, location: deal.location}">Request</button>
        </div>
      </div>
    </div>
    
  </div>
</mat-card>