.home-wrapper {
   .flex-item-h {
     min-height: 220px;
   }
   .sec-title {
     font-size: 28px;
     font-weight: 300;
   }
   .strong-title {
     margin-bottom: 14px;
   }
   .flex-item-h {
     width: 33%;
     border-radius: 0;
     border-width: 0 !important;
     color: #f1f1f1;
     padding: 34px;
     align-items: center;
     justify-content: center;
     display: flex;
     cursor: pointer;
     .secondary-btn {
       margin-top: 24px;
       transition: ease-in 200ms;
       border-color: #f1f1f1 !important;
       color: #f1f1f1;
     }
     &:hover {
       .flex-overlay {
         opacity: 1;
         transition: ease-in 200ms;
       }
       .secondary-btn {
         transition: ease-in 200ms;
         border: 1px solid #8d0000 !important;
         background-color: #b00000 !important;
         color: #fff;
       }
     }
     .flex-overlay {
       opacity: 0;
       transition: ease-in 100ms;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.42);
     }
   }
   .professional {
     background-color: #477149;
   }
   .personal {
     background-color: #155159;
     width: 34%;
   }
   .community {
     background-color: #5B5651;
   }
   .left-pannel {
     float: left;
     width: 282px;
   }
   .home-panel {
     .mat-card {
       box-shadow: 0px 0px 1px #00000029;
       border: 1px solid #EBEBEB !important;
       padding: 20px;
       &.font{
         font-family: 'open-sans-condensed-light'!important;
       }
       .user-image {
         float: left;
         width: 68px;
       }
       .post-user-info {
         margin-left: 88px;
       }
     }
   }
   .remove-btn {
     height: 32px;
     line-height: 29px !important;
     margin-left: 10px;
     font-size: 14px;
   }
   .shrare-post {
     textarea {
       height: 80px;
     }
     .mat-form-field-wrapper {
       padding-bottom: 0;
     }
     .share-post-title {
      font-size: 20px;
      color: #322a54;
      font-weight: 400;
      margin: 0px 10px 20px 10px;
      font-family: 'open-sans-condensed-bold';
      position: relative;
      &:before {
         content: "";
         position: absolute;
         left: 0;
         bottom: -12px;
         height: 5px;
         width: 55px;
         background-color: #efa800;
       }
       &:after {
         content: "";
         position: absolute;
         left: 0;
         bottom: -10px;
         height: 1px;
         width: 95%;
         max-width: 181px;
         background-color: #efa800;
       }
    }
     .share-btn {
       font-weight: 300;
       color: #7B7C7D;
       margin-top: 20px;
       padding: 2px 10px 2px 2px;
       margin-left: 16px;
       font-size: 17px;
       .mat-icon {
         font-size: 20px;
         margin-right: 3px;
         height: 22px;
       }
     }
   }
   .my-community-body .list {
     margin: 20px 0 0 0;
   } 
   .analysis-card {
     text-align: center;
   }
   .col-selector-wrapper {
     margin: 12px;
   }
 }
 .mat-expansion-panel {
   margin-bottom: 16px;
   &.bx-sdw{
      box-shadow:none!important;
   }
 }
 .rule-list-wrp {
   margin: 0;
   .cde-fields-wrp {
     margin-top: 0 !important;
   }
   .rule-title {
     margin: 14px 0 4px 0;
   }
   h5{
      font-family: "open-sans-condensed-bold";
   }
 }
 
 .category-list {
   .category-item {
     text-align: center;
     border: 1px solid #e7e7e7;
     padding: 4px;
     background-color: rgba(240, 240, 240, 0.12);
     border-radius: 0px;
     .cat-icon {
       font-size: 32px;
       color: #525252;
     }
     .cat-title {
       margin: 0;
       font-size: 16px;
       font-weight: 400;
       line-height: 31px;
       font-family: 'open-sans-condensed-bold';
     }
     &:hover {
       box-shadow: 0 10px 40px 1px rgba(0,0,0,.17);
       background-color: #ffffff;
       cursor: pointer;
     }
     &.selected {
       border: 1px solid #433683;
       background-color: #433683;
       color: #fff;
       box-shadow: 0 10px 40px 1px rgba(0,0,0,.17);
       .cat-icon, .cat-title {
         //color: #59bfff;
         font-weight: 500 !important;
       }
     }
     &:focus {
       outline: none;
     }
   }
 }
 .category-list-wrapper {
   margin-bottom: 12px;
   margin-top: 20px;
   .left-arrow {
     float: left;
     width: 50px;
   }  
   .category-list {
     width: calc(100% - 100px);
     float: left;
     font-family: 'open-sans-condensed-bold';
   }
   .right-arrow {
     float: left;
     width: 50px;
     padding-left: 16px;
   }
   button {
     &.prev-next-btn {
       border-radius: 0;
       padding: 0;
       width: 34px;
       min-width: auto;
       padding: 0 !important;
     }
   }
 }
 .table {
   .label {
     font-weight: 500;
     font-family: 'open-sans-regular';
   }
   .label1 {
      font-family: "open-sans-condensed-bold";
      font-size: 18px;
      color: #efa800;
      width: 400px;
      display: inline-block;
    }
    .expBtn {
       width:185px;
       float: right;
    }
   h4 {
      font-weight: 400;
      //margin-top: 17px;
      background: white;
      font-size: 16px;
      /* padding-bottom: 10px; */
      /* padding-left: 10px; */
      /* padding-top: 5px; */
      color: #322a54;
      font-family: "open-sans-condensed-bold";
      .mat-icon{
         position: relative;
         top: 6px;
      }
   }
 }
 .table th{
   font-family: 'open-sans-regular';
 }
//  .table td{
//    font-family: 'open-sans-regular';
//    color: #000000;
//  }
 .rule-table {
   //width: 780px;
   border-bottom: 0px solid #ccc;
   margin-bottom:0px!important;
  
 }
 .outline mat-label {
    font-family: 'open-sans-condensed-bold';
    color: #373737;
    font-size: 13px;
 }
 .mat-form-field-outline {
    box-shadow:none!important;
 }
 
 input.mat-input-element{
    font-family: 'open-sans-condensed-bold';
    font-size: 13px;
 }
 .mat-form-field-wrapper {
    margin-top:1px;
 }
 ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 4px 10px 14px 0px!important;
    font-size: 16px;
    color: #484848;
    font-family: 'open-sans-condensed-bold'!important;
  }
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: .11em 0!important;
  }
  .mtop{
     margin-top: 20px;
  }
  .bdr{
     height: 1px;
     background:#e7e7e7;
     margin-top: 10px;
     width: 100%;
     border-bottom: 1px dotted;
   border-image: linear-gradient(to right,#e7e7e7,#e7e7e7);
   border-image-slice: 1;
  }
 
  ::ng-deep.mat-card{
    box-shadow: 0px 0px 1px #00000029;
  }
  ::ng-deep.mat-select{
   font-family: 'open-sans-condensed-bold'!important;
  }
  ::ng-deep.mat-option {
   font-family: 'open-sans-regular'!important;
  }
 
  .mat-error {
    display: block;
    margin-top: 4px;
    font-family: 'open-sans-condensed-bold';
    font-size: 13px;
    &.ns{
      background: #FFBABA;
      color: #D8000C;
      padding: 3px 9px;
      width: 150px;
      font-size: 12px;
      position: relative;
      top: -4px;
      left: -9px;
    }
 }
 .mar-ico {
    margin-right: 10px;
 }
 .pad{
    padding:0 15px!important;
 }
 .ico-align {
    margin-left: -16px!important;
 }
 .primary-btn-red{
    border-radius: 4px!important;
    font-family: 'open-sans-condensed-bold'!important;
    text-transform: uppercase;
    font-size: 18px;
 }
 .table tbody td{
    font-family: 'open-sans-condensed-bold'!important;
    &.ft{
      font-family: 'open-sans-condensed-light'!important;
    }    
 }


 .primary-btn-gray {
   .mat-icon {
      &.pl{
         margin-left: -17px;
      }
   }
 } 

 .mat-expansion-panel-header{
   font-family: 'open-sans-condensed-bold';
   border-color: #e7e7e7!important;
   height: 40px;
    padding-top: 10px!important;
 }
 ::ng-deep .mat-select-value-text{
   font-family: 'open-sans-condensed-bold'!important;
 }
 .tpl{
    padding-left:0px!important;
 }
 .table tbody td {
    padding-left:0px!important;
 }
 .table td.strong {
   font-weight: bold;
 }
.rule-details-info {
  width: calc(100% - 482px);
  overflow: auto;
}
.correlation-info {
  margin: 0 0 0 22px;
  width: 460px;
}
.edit-link {
   cursor: pointer;
   text-align: right;
   background: #433683;
   display: inline;
   float: right;
   font-family: 'open-sans-condensed-bold';
   color: #fff;
   padding: 0 12px;
   font-size: 12px;
}
.formula-preview {
  color: #000000;
  padding: 8px 10px;
  border-bottom: 1px solid #cbcbcb;
  height: 48px;
  background: #eee8f8;
  position: relative;
  top: 1px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  &.nob{
   background:none !important;
  }
  .operator {
    font-weight: bold;
    margin: 0 4px;
    font-family: 'open-sans-condensed-bold';
    position: relative;
    top: 10px;
    font-size: 12px;
    &.alcap1{
      font-weight: normal;
      margin: 0 4px;
      font-family: "open-sans-regular";
      position: relative;
      top: 0px;
      font-size: 12px;
    }
  }
  .cde {
    font-weight: bold;
    font-family: 'open-sans-condensed-bold';
    position: relative;
    top: 10px;
    font-size: 12px;
    &.alcap{
      font-weight: normal;
      font-family:"open-sans-regular";
      position: relative;
      top: 0;
      font-size: 12px;
    }
  }
}
.preview .formula-preview {
  max-width: 300px;
  border: 0;
  padding: 0;
  height: auto;
}

// buttons

.button3d {
   //display: block;
   //position: relative;
   //float: left;
   width: 200px;
   padding: 0;
   margin: 10px 20px 10px 0;
   font-weight: 600;
   text-align: center;
   line-height: 50px;
   color: #FFF;
   border-radius: 5px;
   transition: all 0.2s ;
   font-family: "open-sans-condensed-bold"!important;
   cursor: pointer;
   &:disabled{
      background: gray;
      box-shadow: 0px 5px 0px 0px #484848;
      opacity: 0.5;
      cursor: not-allowed;
   }
 }
 
 .btnBlueGreen {
   background: #00AE68;
   &.addico{
      width: 26px;
      height: 26px;
      line-height: 25px;
      outline: none;
      border: none;
      padding-top: 3px;
      border-radius: 2px;
      margin-right: 5px;
      .mat-icon{
         font-size: 20px;
      }
   }
 }
 
 .btnLightBlue {
   background: #7d6ecc;
   &.addRef{
      height: 30px;
      width: 160px;
      line-height: 30px;
      border-radius: 2px;
      .material-icons{
         font-size: 20px;
      }
   }
   &.tdBtn{
      font-size: 20px;
      color: #ffffff;
      width: 100px;
      height: 40px;
      line-height: 40px;
      padding-left: 16px;
      .mat-icon{
         font-size: 28px;
         position: relative;
         top: -2.5px;
         right: 8px;
      }
      &:disabled{
         background: gray;
         box-shadow: 0px 5px 0px 0px #484848;
         opacity: 0.5;
         cursor: not-allowed;
      }
   }
   &.compBtn{
      font-size: 20px;
      color: #ffffff;
      width: 145px;
      height: 40px;
      line-height: 40px;
      padding-left: 16px;
      .mat-icon{
         font-size: 28px;
         position: relative;
         top: -4px;
         right: 0px;
      }
   }
   
   &.svBtn{
      font-size: 18px;
      color: #ffffff;
      width: 180px;
      height: 37px;
      line-height: 30px;
      .mat-icon{
         font-size: 20px;
      }
   }
   
 }
 
 .btnOrange {
   background: #e91b00;
   &.redico{
      width: 26px;
      height: 26px;
      line-height: 25px;
      outline: none;
      border: none;
      padding-top: 3px;
      border-radius: 2px;
      .mat-icon{
         font-size: 20px;
      }
   }
   
 }
 
 .btnPurple {
   background: #A74982;
   &.preview{
      width: 100px;
      height: 30px;
      line-height: 28px;
   }
   &.ebckBtn{
      font-size: 20px;
      color: #ffffff;
      width: 95px;
      height: 40px;
      line-height: 40px;
      padding-right: 20px;
      .mat-icon{
         font-size: 28px;
         position: relative;
         top: -4px;
         left: 3px;
      }
   }
   &.addRef{
      height: 30px;
      width: 160px;
      line-height: 30px;
      border-radius: 2px;
      .material-icons{
         font-size: 20px;
      }
   }
 }
 
 /* FADE */
 .btnFade.btnBlueGreen:hover {
   background: #21825B;
 }
 
 .btnFade.btnLightBlue:hover {
   background: #0097f6;
 }
 
 .btnFade.btnOrange:hover {
   background: #FF8E00;
 }
 
 .btnFade.btnPurple:hover {
   background: #6D184B;
 }
 
 /* 3D */
 .btnBlueGreen.btnPush {
   box-shadow: 0px 5px 0px 0px #007144;
 }
 
 .btnLightBlue.btnPush {
   box-shadow: 0px 5px 0px 0px #322a54;
 }
 
 .btnOrange.btnPush {
   box-shadow: 0px 5px 0px 0px #8c1808;
 }
 
 .btnPurple.btnPush {
   box-shadow: 0px 5px 0px 0px #6D184B;
 }
 
 .btnPush:hover {
   margin-top: 15px;
   margin-bottom: 5px;
 }
 
 .btnBlueGreen.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #007144;
 }
 
 .btnLightBlue.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #1E8185;
 }
 
 .btnOrange.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #A66615;
 }
 
 .btnPurple.btnPush:hover {
   box-shadow: 0px 0px 0px 0px #6D184B;
 }
 .add-remove-button {
   min-width: 30px;
}

::ng-deep .ag-theme-alpine .ag-header{
   background-color:#1F2739!important;
   font-family: 'open-sans-semibold';
   border-bottom: 0;  
}
::ng-deep .ag-cell-label-container{
   color: #ffffff!important;
}
::ng-deep .ag-theme-alpine .ag-icon-filter:before {
   content: "\f112";
   color: #ffffff;
}

::ng-deep .ag-theme-alpine .ag-icon-menu:before {
   color: #ffffff;
}

::ng-deep .ag-grid-wrapper{
   font-family: 'open-sans-regular';
}
::ng-deep .ag-theme-alpine .ag-row{
   font-family: 'open-sans-regular';
   border-width:0px;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}
::ng-deep .ag-theme-alpine .ag-row{
   background:#323C50;
   color: #ffffff;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}
::ng-deep .ag-theme-alpine .ag-row-odd{
   background:#1F2739;
   color: #ffffff;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

::ng-deep .ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
   border-color:#323C50 ;
}

::ng-deep .ag-theme-alpine .ag-paging-panel{
   font-family: 'open-sans-condensed-bold';
}
::ng-deep .ag-theme-alpine{
   font-family: 'open-sans-regular';
}
.act-btn-wrapper1{ 
   text-align: right;
}
.pad-tp{
   padding-top: 10px;
}
.mat-horizontal-stepper-header {
   height: 50px !important;
}
.tplabel{
   margin-top: 8px !important;
}
.mat-stepper-horizontal{
   background: #ebe8fb;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
   background: #eee8f8;
}
::ng-deep .mat-stepper-horizontal .mat-step-header .mat-step-icon-state-edit{
   background-color: #53478c;
}
::ng-deep .mat-stepper-horizontal .mat-step-header .mat-step-icon-selected{
   background-color: #53478c;
   box-shadow: 0px 5px 0px 0px #322a54;
}
::ng-deep .mat-stepper-horizontal .mat-step-icon{
   background-color: #c2bbe8;
}
.mat-card{
   border: 1px solid #b7afe2;
   border-radius: 0px !important;
   //background: #e1d7fc;
   box-shadow: 0px 1px 4px #a497ea, 
   0px 2px 17px #ebe8fb;
   background:#fff;
}
.yellow{ color :#efa800}
.horizontal {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   // width: 400px;
   // height: 120px;
   // margin: 20px;
   border: 2px solid #efa800;
   font-size: 14px;
   font-family: 'open-sans-condensed-bold';
   cursor: pointer;
   background: #fff;
   height: 30px;
   line-height: 34px;
   margin-right: 35px;
   
   > .text {
     position: relative;
     color: #322a54;
     font-family: 'open-sans-condensed-bold';
     background-image: linear-gradient(
       90deg,
       rgba(220, 120, 150, 1) 0%,
       rgba(220, 120, 150, 1) 50%,
       #efa800 50%,
       #efa800 100%
     );
     background-repeat: repeat;
     background-size: 200%;
     background-position: 100% 0;
     -webkit-background-clip: text;
     background-clip: text;
     transition: background-position 300ms;
     &.pst{
      top: -6px;
     }
     .mat-icon{
      position: relative;
      top: 7px;
      color: #efa800;
     }
   }
   
   &::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #efa800;
     transform-origin: 100% 0;
     transform: scale3d(0, 1, 1);
     transition: transform 300ms;
   }
   
   &:hover {
     .text {
       background-position: 0 0;
       color: #fff;
       .mat-icon{
         position: relative;
         top: 7px;
         color: #ffffff;
        }
     }
 
     &::before {
       transform-origin: 0 0;
       transform: scale3d(1, 1, 1);
     }
     
   }
   &.align{
      //display: inline-block;
      float: left;
      margin-right: 15px;
   }
 }

 ::ng-deep .ag-theme-alpine .ag-header{
   background-color:#f0f7f7!important;
   font-family: 'open-sans-semibold';
   //border-bottom: 0;  
}
::ng-deep .ag-cell-label-container{
   color: #373737!important;
}
::ng-deep .ag-theme-alpine .ag-icon-filter:before {
   content: "\f112";
   color: #aedada;
}

::ng-deep .ag-theme-alpine .ag-icon-menu:before {
   color: #ffffff;
}

::ng-deep .ag-grid-wrapper{
   font-family: 'open-sans-regular';
}
::ng-deep .ag-theme-alpine .ag-row{
   font-family: 'open-sans-regular';
   border-width:0px;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}
::ng-deep .ag-theme-alpine .ag-row{
   background:#fff;
   color: #373737;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}
::ng-deep .ag-theme-alpine .ag-row-odd{
   background:#f0f7f7;
   color: #373737;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

::ng-deep .ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
   border-color:#323C50 ;
}

::ng-deep .ag-theme-alpine .ag-paging-panel{
   font-family: 'open-sans-condensed-bold';
}
::ng-deep .ag-theme-alpine{
   font-family: 'open-sans-regular';
}
::ng-deep .ag-theme-alpine .ag-paging-panel{
   background: #f0f7f7;
}
::ng-deep .mat-tab-label-container {
   //background: #f0f7f7;
   -webkit-box-shadow: -1px 7px 8px -7px rgba(65,66,66,1);
     -moz-box-shadow: -1px 7px 8px -7px rgba(65,66,66,1);
     box-shadow: -1px 7px 8px -7px rgba(65,66,66,1);    
 }
 ::ng-deep .mat-tab-body-content {
   padding:0px!important;
}
::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: inherit!important;
}

::ng-deep .mat-tab-label{
   border-radius: 4px 4px 0 0;
   background: #6bc1c1!important;
   margin-right: 5px;
}
::ng-deep .mat-tab-label-active {
   background: #2d7777!important;
   color: #fff;
   //opacity: 1;
   border-bottom: 2px solid #2d7777;
}
::ng-deep .mat-tab-labels {
   border-bottom: 2px solid #2d7777;
   margin-bottom: 0px !important;
}
::ng-deep .mat-tab-label .mat-tab-label-content{
   font-family: "open-sans-condensed-bold";
   text-transform: none;
   font-size: 16px;
}

.primary-btn-gray {
   border: 1px solid #3d9191 !important;
   background-color: #6bc1c1 !important;
}
.lgb{
   color: #433683;
}
.cpt{
   font-family: 'open-sans-condensed-bold';
   font-size: 13px;
}
.cpt1{
   font-family: 'open-sans-regular';
   font-size: 13px;
}
tr:nth-child(even) {background: #ffffff }
tr:nth-child(odd) {background: #f0f7f7}
.analysis-preview .table tbody td{
   font-size: 14px!important;
   font-family: 'open-sans-regular'!important;
   padding-left: 10px!important;
}
.wtBg{
   background: white;
   margin: 0px;
}
::ng-deep .mat-expansion-indicator{
   position: relative;
   left: -20px;
   top: -7px;
}
.mm{
   margin-top: 5px!important;
}
.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){background : white !important}

.accordions{
   ::ng-deep .mat-expansion-panel-body {
          padding: 0 0px 0px 0px!important;
      }
}


.mt2{
   margin-top: 0px !important;
}
.mm2{
   margin-top: 30px !important;
}

.corMap {
   ::ng-deep .highcharts-root{
      width: 1506px!important;
   }
}

.spec{
   display: inline-block;
   margin-right: 2px;
   background: #433683;
   margin-bottom: 4px;
   padding: 0 7px;
   font-size: 12px;
   color: #fff;
}

.tabBtn{
  position: relative;
  text-align: right;
  top: -38px;
  font-family: 'open-sans-condensed-bold';
  font-size: 11px;
  background: darksalmon;
  width: 125px;
  float: right;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  &:hover{
    background: rgb(194, 102, 72);
  }
}

.tabBtn2{
  position: relative;
  text-align: right;
  top: -43px;
  font-family: 'open-sans-condensed-bold';
  font-size: 10px;
  background: palevioletred;
  width: 140px;
  float: right;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  &:hover{
    background: rgb(180, 86, 117);
  }
}


