<section class="page-body home-bodys">
  <div class="container">
    <div class="home-wrapper">
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <div class="shrare-post">
            <!-- Analysis by CDE-->
            <mat-card class="border no-rounded list shrare-post">
              <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoadingDetails"></app-progress-bar>
              <div class="list flex-containers analysis-wrp tpBg2 flex-start wrap ">
                <div class="list-item-4 outline">
                  <h1 class="share-post-title">
                    Source: <span class="yellow"> {{selectedAnalysis.source?.sourceDataName}}</span>
                  </h1>
                </div>
                <div class="list-item-5 outline">
                  <mat-form-field appearance="fill">
                    <mat-label class="lbl">Ruleset Name</mat-label>
                      <mat-select [(ngModel)]="selectedAnalysis.rulesetId"  (ngModelChange)="onRulesetChange(selectedAnalysis.rulesetId)">
                        <mat-option *ngFor="let rule of selectedAnalysis.rules;" [value]="rule.rulesetId">
                            {{rule.rulesetName}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
                <div class="list-item-5 outline">
                  <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="selectedCDE" (ngModelChange)="launchAnalysisByKeyDate($event, uploadId)">
                      <mat-option *ngFor="let col of selectedColumns;" [value]="col">
                        {{col}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="list-item-3 outline">
                  <div class="act-btn-wrapper">
                    <button mat-stroked-button class="button3d btnPush btnPurple ebckBtn" (click)="gotoDashboard();"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
                  </div>
                </div>
              </div>

              <!-- Date Carousel -->
              <div class="analysis-info">
                <div class="category-list-wrapper clearfix">
                  <div class="left-arrow">
                     <button mat-stroked-button class="gv-secondary-btn primary-btn-gray prev-next-btn clr" (click)="owlCar.prev()">
                     <mat-icon class="pl">keyboard_arrow_left</mat-icon>
                     </button>
                  </div>
                  <div class="category-list" #carouselHolder>
                     <owl-carousel-o [options]="OwlCategoryOptions" #owlCar>
                     <!-- Carousel Items -->
                     <ng-container *ngFor="let history of uploadsHistory">
                        <ng-template carouselSlide [id]="history.uploadId">
                           <div class="category-item" [class.selected]="history.uploadId === uploadId" (tap)="tapDateCarouselItem(history)">
                           <h3 class="cat-title">{{formatDate(history.uploadDate)}}</h3>
                           </div>
                        </ng-template>
                     </ng-container>
                     </owl-carousel-o>
                  </div>
                  <div class="right-arrow">
                     <button mat-stroked-button class="gv-secondary-btn primary-btn-gray prev-next-btn" (click)="owlCar.next()">
                     <mat-icon class="pl">keyboard_arrow_right</mat-icon>
                     </button>
                  </div>
               </div>
              </div>
              <mat-tab-group mat-align-tabs="start"  animationDuration="0ms">
               <mat-tab label="2D Map">
                  <app-cylinder-chart 
                    *ngIf="analyseKeyData.length && isLoadChart"
                    [analysisKeys]="analysisKeys"
                    [chartData]="analyseKeyChartData"
                    [chartType]="'column'" 
                    [options3d]= false>
                  </app-cylinder-chart>
                </mat-tab>
               <mat-tab label="3D Map">
                  <app-cylinder-chart 
                  *ngIf="analyseKeyData.length && isLoadChart"
                  [analysisKeys]="analysisKeys"
                  [chartData]="analyseKeyChartData"
                  [chartType]="'column'" 
                  [options3d]= true>
                  </app-cylinder-chart>
               </mat-tab>
              </mat-tab-group>
              <div class="analysis-preview">
                <div class="actions-wrapper">
                  <button  class="horizontal" (click)="openHighlightSettingsDialog()"> 
                     <span class="text">
                        <mat-icon class="bt">format_color_fill</mat-icon> Highlight Color </span>
                  </button>

                  <!-- <button type="button" class="ma-cr" mat-icon-button matTooltip="Highlight Settings"  (click)="openHighlightSettingsDialog()">
                    <mat-icon>format_color_fill</mat-icon>
                  </button> -->
                </div>
                <table class="table brd-rt tableChart">
                  <thead>
                    <tr>
                      <th>{{selectedKey}}</th>
                      <th *ngFor="let key of analysisKeys">{{key}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of analyseKeyData;">
                      <td>{{data[selectedKey]}}</td>
                      <td *ngFor="let key of analysisKeys" [style.background-color]="data[key]?.value | formatCell: settings">
                        <span class="cur" 
                          *ngIf="data[key]?.details && data[key]?.details.length"
                          (click)="showDetails(data[key]?.details, key, selectedKey, data[selectedKey])"
                        >{{data[key]?.value}}%</span>
                        <span *ngIf="!data[key]?.details.length">{{data[key]?.value}}%</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card>   
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
