
  .profile-wrapper{
      width:100%;
      height:100vh;
      // .pro-lft{
      //    width:30%;
      //    display: inline-block;
      // }
      // .pro-rgt{
      //    width:70%;
      //    display: inline-block;
      // }
}
.wht{
  height:100%;
}

.tabContent{
   width: 100%;
   transition: opacity .25s ease-out, height .15s ease, background-color .15s ease;
   //  -webkit-box-shadow: -1px 7px 8px -7px rgba(65,66,66,1);
   //    -moz-box-shadow: -1px 7px 8px -7px rgba(65,66,66,1);
   //    box-shadow: -1px 7px 8px -7px rgba(65,66,66,1);
      //display: none;
      animation: fadeIn ease 1s;
      -webkit-animation: fadeIn ease 1s;
      -moz-animation: fadeIn ease 1s;
      -o-animation: fadeIn ease 1s;
      -ms-animation: fadeIn ease 1s;
      cursor: initial;
      padding-left:2rem;
      h2{
         font-family: 'open-sans-condensed-bold';
         font-size: 1rem;
         color: #01796d;
         margin-top: 0px;
         margin-bottom: 20px;
       }
       .eight h1 {
         text-align:center;
        
         text-transform:uppercase;
         letter-spacing:1px;           
         display: grid;
         grid-template-columns: 1fr auto 1fr;
         grid-template-rows: 16px 0;
         grid-gap: 22px;
         font-family: 'open-sans-condensed-bold';
         font-size: 1.6rem;
         color: #01796d;
         margin-bottom:15px;
       }
       
       .eight h1:after,.eight h1:before {
         content: " ";
         display: block;
         border-bottom: 2px solid rgba(23,188,156,.42);
         background-color:#f8f8f8;
       }
       .share-post-title {
         font-size: 20px;
         color: #0C0C0C;
         font-weight: 400;
         margin: 0px 10px 40px 10px;
         font-family: 'open-sans-condensed-bold';
         position: relative;
         &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -12px;
            height: 5px;
            width: 55px;
            background-color: #59bfff;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            height: 1px;
            width: 95%;
            max-width: 181px;
            background-color: #59bfff;
          }
       }
      
      h3{
         font-family: 'open-sans-condensed-light';
         font-size: 20px;
         padding-bottom: 18px;
         color: #01796d;
      }
}
.tab{
.mat-tab-body-content{
padding:200px;
}
}
.mr{
   margin-right: 8px;
}

 
 .flipbox .back, .flipbox .front {
   position: absolute;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   transition: transform 0.5s;
   width: 200px;
   height: 80px;
   //border-radius: 4px;
   padding: 20px;
   //padding-top: 8px;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   align-items: baseline;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  
 }
 .ol{
   outline: none;
 }
 .pl4{
    padding-top: 4px!important;
 }
 .pl10{
   padding-top: 10px!important;
}

 
 .flipbox {
   float: left;
   width: 200px;
   height: 80px;
   margin: 10px;
   cursor: pointer;
 }
 .flipbox p {
   font-family: 'open-sans-regular';
   color: #373737;
   padding-top: 8px;
 }
 .flipbox .front {
   transform: rotateY(0deg);
   background: #ffffff;
 }
 .flipbox .front > h2 {
   font-size: 22px;
   width: 100%;
   margin: 0 0 10px 0;
 }
 .flipbox .front > i.fa {
   font-size: 3em;
   align-self: flex-end;
 }
 .flipbox .front > img {
   // height: 18px;
   // width: 138px!important;
   width: auto;
   align-self: flex-end;
 }
 .flipbox .back {
   //background-color: transparent;
   transform: rotateY(180deg);
   background: #f5f5f5;
  
 }

 .flipbox .back a > h2 {
   font-size: 22px;
   width: 100%;
   margin: 0 0 10px 0;
 }
 .flipbox .back a > i.fa {
   font-size: 3em;
   align-self: flex-end;
 }
 .flipbox .back a > img {
   // height: 49px;
   // width: 150px;
   width: auto;
   align-self: flex-end;
 }
 .flipbox .back > a {
   align-self: center;
   width: 100%;
 }
 .flipbox:hover .front {
   transform: rotateY(-180deg);
 }
 .flipbox:hover .back {
   transform: rotateY(0deg);
 }
.sep{
   //float: left;
   clear: both;
   padding-top: 50px;
}

.lft-attr{
   width:48%;
   display: inline-block;
   margin-right: 25px;
   vertical-align:top;
}
.rgt-attr{
   width:48%;
   display: inline-block;
   vertical-align:top;
}
.attr-tite{
   font-family: 'open-sans-condensed-bold';
   font-size: 12px;
   color:#2f246a;
   text-align: left;
   margin-bottom: 15px;
   .mat-icon{
      position: relative;
      top: 6px;
      color: #75737f;
      font-size: 19px;
   }
}
.records{
   display: inline-block;
   color:#2f273c;
   font-size: 12px;
   line-height:26px;  
   font-family: 'open-sans-semibold';
   padding-right: 40px;
   span{
      display: block;
      color:#908ba1;
      font-size: 13px;
      line-height: 13px;
      padding-bottom: 5px;
      font-family: 'open-sans-regular';
   }
}
.dotDiv{
   border-right: 1px dotted #908ba1;
   height:40px;
   display: inline-block;
   width:1px;
   margin-right: 30px;
}

::ng-deep .highcharts-exporting-group{
   display:none!important;
}

.mat-card{
   margin-bottom: 25px;
   box-shadow: none;
   border-radius: 6px!important;
   min-height: 210px;
}

table{
   width:100%;
   th{
      color:#000;
   font-size: 12px;
   line-height:26px;  
   font-family: 'open-sans-regular';
   border-bottom: 1px dotted #908ba1;
   padding-bottom: 6px;
   font-weight: normal;
   }
   tr{
     font-size: 12px;
     font-family: 'open-sans-regular';
   }
   td{
      padding-top: 10px;
   }
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
   .custom-slider .ngx-slider .ngx-slider-bar {
     background: #ffe4d1;
     height: 2px;
   }
   .custom-slider .ngx-slider .ngx-slider-selection {
     background: orange;
   }
 
   .custom-slider .ngx-slider .ngx-slider-pointer {
     width: 8px;
     height: 16px;
     top: auto; /* to remove the default positioning */
     bottom: 0;
     background-color: #333;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
   }
 
   .custom-slider .ngx-slider .ngx-slider-pointer:after {
     display: none;
   }
 
   .custom-slider .ngx-slider .ngx-slider-bubble {
     bottom: 14px;
   }
 
   .custom-slider .ngx-slider .ngx-slider-limit {
     font-weight: bold;
     color: orange;
   }
 
   .custom-slider .ngx-slider .ngx-slider-tick {
     width: 1px;
     height: 10px;
     margin-left: 4px;
     border-radius: 0;
     background: #ffe4d1;
     top: -1px;
   }
 
   .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
     background: orange;
   }
 }
 
.attribute-list {
   width: 225px;
   margin-right: 0px;
   margin-top: 25px;
   //margin-left: -14px;
   border-radius: 6px 6px 0 0;
   background: #433683;
   //padding-top:50px;
}
.srcTop{
  font-family: 'open-sans-condensed-bold';
  color: #fff;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 20px;
  .mat-icon{
    position: relative;
    top: 6px;
    margin-right: 5px;
    color: #efa800;
  }
}

.attribute-details {
  width: calc(100% - 250px);
  margin-left: 30px;
}
.mat-list-item {
  cursor: pointer;
  &.active {
    font-weight: 500;
  }
}

::ng-deep .highcharts-title{
   font-family: 'open-sans-condensed-bold';
   color: #efa800 !important;
   fill: #efa800!important;
 }

 ::ng-deep .highcharts-axis-title{
   font-family: 'open-sans-condensed-bold';
   color: #3a9595!important;
   fill: #3a9595!important;
 }
 ::ng-deep .highcharts-legend-box  {
   font-family: 'open-sans-condensed-bold'!important;
   color: #ebe8fb!important;
   fill: #ebe8fb!important;
 }

 ::ng-deep .highcharts-legend-item {
   font-family: 'open-sans-condensed-bold';
   color: #3a9595!important;
   fill: #3a9595!important;
 }

 ::ng-deep .highcharts-axis-labels {
   font-family: 'open-sans-condensed-bold';
   color: #3a9595!important;
   fill: #3a9595!important;
   text{
      font-size: 9px!important;
      color: #3a9595!important;
   fill: #3a9595!important;
   }
 }

 ::ng-deep .highcharts-menu-item{
   font-family: 'open-sans-condensed-bold';
 }
 ::ng-deep .highcharts-subtitle{
   font-family: 'open-sans-condensed-bold';
 }

 .share-post-title {
   font-size: 14px;
   color: #0C0C0C;
   font-weight: 400;
   margin-bottom: 20px!important;
   font-family: 'open-sans-condensed-bold';
   position: relative;
   margin-top: 20px;
   &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -12px;
      height: 5px;
      width: 55px;
      background-color: #efa800;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 1px;
      width: 95%;
      max-width: 181px;
      background-color: #efa800;
    }
 }
 ::ng-deep .mat-list-base .mat-list-item{
    //width: 80% !important;
    //background: #a79fd3;
    background: #433683;
    color:#ffffff;
 }
 ::ng-deep .mat-list-item-content{
   font-family: 'open-sans-condensed-bold';
   position: relative;
   //background: #a79fd3;
   //width:80%;
   //border-bottom: 1px solid #3f3670;
   border-bottom: 1px solid #4b4083;
   margin-top: 6px;
   .mat-icon{
     position: relative;
     font-size: 13px;
     //left: 10px;
     top:5px;
     &.sAr{
       position:absolute;
       right:10px;
      display: none;
      font-size: 18px;
    }
  }
   &:hover{
      box-shadow: inset 0 -2.8rem 0 #1a0d58;
      color: rgb(231, 227, 227);
      .mat-icon{
      &.sAr{
        display: block;
      }
    }
   }
 }

 ::ng-deep .mat-list-item.active {
    background: #1a0d58;
    color: #fff;
    .mat-icon{
      &.sAr{
        display: block;
      }
    }
 }
 ::ng-deep .highcharts-container {
   left: -5px!important;
 }
 .os{
    overflow: overlay !important;
 }

 .sticky{
   position: fixed;
   top: 0;
   overflow: hidden;
   z-index: 10;
   width: 80%;
   left: 250px;
   min-height:800px;
 }
 
 .content{
   height: 200vh;
 }

 ::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
   //display: inline-block!important;
   height: 30px!important;
   // -webkit-tap-highlight-color: transparent!important;
   /* width: 100%; */
   //padding: 5px 0!important;
   //margin-right: 5px;
   //margin-bottom: 5px;
   font-size: 11px;
   //width: inherit!important;
}
.strong {
   font-weight: 500;
}
::ng-deep .mat-list-base{
   padding-top:  0px !important;;
}
.attribute-details .mat-card {
  //border: 0;
  //box-shadow: none;
}
.bg-violet {
	//background-color: #702082;
   //background-color: #fbe7ff;
   color: #fff;
   //border: 1px solid #e9f !important;
}
.bg-magenta {
	//background-color: #c110a0;
  //  background-color:#fff6fd;
  //  border: 1px solid #f3ccea !important;
}
.bg-blue {
	//background-color: #00a0d2;
  //  background-color:#dbf6ff;
  //  border: 1px solid #9ae0f7 !important;
}
.bg-green {
	// background-color: #edfffa;
  // border: 1px solid #98ffe2 !important;
  ::ng-deep .mat-tab-label {
    border-radius: 2px 2px 0 0;
    background: #433683!important;
    margin-right: 5px;
    height: 23px !important;
    font-size: 12px;
    color: #d1cdcd
}
::ng-deep .mat-tab-label-active {
  background: #433683 !important;
  color: #fff!important;
  border-bottom: 2px solid #433683;
}
::ng-deep .mat-tab-labels {
  border-bottom: 2px solid #433683;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 6px 10px -5px #433683;
}
::ng-deep .mat-tab-label .mat-tab-label-content {
  font-family: 'open-sans-regular';
  text-transform: none;
  font-size: 12px;
  //color: #d1cdcd;
}
}
.aliceblue{
  //  background: aliceblue;
  //  border: 1px solid #bcd6f1 !important;
  }
.honeydew{
   //background: honeydew;
  //  background: cornsilk;   
  //  border: 1px solid #f5ce35 !important;
  }

.hideContainer {
   font-size: 16px;
   line-height: 16px;
   height: 560px;
   overflow: hidden;
 }
 
 .show {
   overflow: overlay;
   //height: 550px;
   height:86%;
 }

 .frequencyContainer {
   font-size: 16px;
   line-height: 16px;
   height: 100px;
   overflow: hidden;
 }
 .frequencyShow{
  overflow:overlay;
  height: 200px;
 //  height: auto;
 }
 .patternShow{
   overflow:scroll;
   height: 200px;
  //  height: auto;
 }
 .maskShow{
  overflow:overlay;
  height: 200px;
 //  height: auto;
 }
 .moreBtn{
   margin: 0 auto;
   width: 100%;
   font-family: "open-sans-condensed-bold" !important;
   height: 40px;
   font-size: 12px;
   line-height: 34px;
   text-align: center;
   background: #322a54;
   color: white;
  //  border-bottom-left-radius: 4px;
  //  border-bottom-right-radius: 4px;
   z-index: 100;
   cursor: pointer;
   border-color: #322a54;
   text-transform: uppercase;
   .mat-icon{
      position: relative;
      top:8px;
   }
 }

 .frequencyBtn{
   background: lightcoral;
   border-color: lightcoral;
   width: 9%;
   position: relative;
   top: 33px;
   left: 219px;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   height: 20px;
   color: #ffffff;
   font-family: "open-sans-condensed-bold" !important;
   outline: none;
   border: none;
   border-radius: 6px 6px 0 0;
    .mat-icon{
      position: relative;
      top: -3px;
      font-size: 29px;
      line-height: 29px;
      left: -2px;
   }
 }

 .patternBtn{
   background: lightcoral;
   border-color: lightcoral;
   width: 9%;
   position: relative;
   top: 33px;
   left: 219px;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   height: 20px;
   color: #ffffff;
   font-family: "open-sans-condensed-bold" !important;
   outline: none;
   border: none;
   border-radius: 12px 12px 0 0;
    .mat-icon{
      position: relative;
      top: -3px;
      font-size: 29px;
      line-height: 29px;
      left: -2px;
   }
 }
 .maskShowBtn{
   background: lightcoral;
   border-color: lightcoral;
   width: 9%;
   position: relative;
   top: 33px;
   left: 290px;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   height: 20px;
   color: #ffffff;
   font-family: "open-sans-condensed-bold" !important;
   outline: none;
   border: none;
   border-radius: 12px 12px 0 0;
    .mat-icon{
      position: relative;
      top: -3px;
      font-size: 29px;
      line-height: 29px;
      left: -2px;
   }
 }

 .wts{
   background: rgb(247 249 252);
   padding-top: 0px;
   padding-bottom: 0px;
 }

 .attTitle{
  font-size: 18px;
  color: #fff;
  margin: 0px 10px 20px 0;
  font-family: 'open-sans-condensed-bold';
  position: relative;
  width: 98%;
  display: inline-block;
  //background: #433683;
  background: linear-gradient(
   45deg
   , lightcoral, transparent);
   padding: 10px 20px;
 }

.cpt{
  font-size: 12px;
  font-family: 'open-sans-regular';
}
.cpt1{
  font-size: 12px;
  font-family: 'open-sans-regular';
}
::ng-deep .ngx-slider .ngx-slider-bubble{
  font-size: 12px!important;
}
::ng-deep .not-found{
  font-family: 'open-sans-regular';
}
.mhgt{
  min-height: 128px;
}
.mhgt1{
  min-height: 130px;
}
.typIco{
  display: inline-block;
    margin-right: 10px;
    border: 1px dotted #efa800;
    padding: 2px 5px;
    font-size: 11px;
    line-height: 10px;
    font-family: 'Material Icons';
    font-weight: 600;
    padding-bottom: 4px;
    padding-top: 1px;
}
.subT{
  background: blueviolet;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}
.info{
  font-size: 20px;
  margin-left: 10px;
  top: 0px;
    right:0px;
  position: relative;
  color: darksalmon;
}


  // ::ng-deep .header{
  //   margin-left: 230px;
  //   background: white!important;
  //   position: relative!important;
  // }
  // ::ng-deep .iLogo{
  //     color: #7c7c7f !important;
  // }
  // ::ng-deep .main-nav li a{
  //     color:#7c7c7f;
  // }
  // ::ng-deep .main-nav button{
  //   color: #7c7c7f !important;
  // }
  // ::ng-deep .main-nav li a:hover {
  //   color: #1a1414!important;
  // }


