<section class="page-body home-bodys" *ngIf="showAllDetails">
  <div class="container">
    <div class="">
      <mat-card class="border no-rounded list shrare-post mct noFile">
        <h1 class="no-margin ms nTitle inlb">Please Upload your Source</h1>
        <div class="createLft inlb">
          <button type="button" class="btnBlueGreenN addico"
          routerLink="/auth/add-source-data" [queryParams]="{ type: 'profile'}" matTooltip="" >
          <mat-icon>add</mat-icon>
          Upload Source
          </button>
        </div>
      </mat-card>      
    </div>
</div>
</section>

<section class="page-body home-bodys wts" *ngIf="!showAllDetails">
  <div class="container">
    
    <!-- (OR_ARIRPOT === 'JFK' && DES_AIRPORT === 'ORD' OR ) -->
    
    <div class="home-wrapper">
      <div class="clearfix my-community-body">
        <div class="home-panel">
          <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
          <div class="shrare-post">

          <!-- Source List --> 
          <div class="dashBoard flex-containers">
            <div class="dash-left">
              <div class="srcTop"><mat-icon>widgets</mat-icon> Sources</div>
              <mat-accordion>
                <!-- (opened)="setOpened(i)"
                  (closed)="setClosed(i)" -->
                <mat-expansion-panel *ngFor="let item of sourceByCategory; let i = index; first as isFirst" [expanded]="item.category === selectedCategoryKey">
                  <mat-expansion-panel-header>
                    <mat-panel-title >{{ item.category }}</mat-panel-title>                   
                  </mat-expansion-panel-header>
                  <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor='let source of item.sources;'>
                        <div class="lftItem" (click)="changeCategory(source)" [class.activeList]="source.sourceId === selectedSource.sourceId" matTooltip="{{ source.sourceDataName }}" >
                        <mat-icon> layers</mat-icon> 
                        {{ source.sourceDataName }}              
                        </div>                      
                       <mat-icon class="ed" matTooltip="Edit Source" *ngIf="source.sourceId === selectedSource.sourceId" (click)="editSourceData(source)">edit</mat-icon>
                       <mat-icon class="de" matTooltip="Delete Source" *ngIf="source.sourceId === selectedSource.sourceId" (click)="deleteSourceData(source)">delete</mat-icon>
                   </mat-list-item>
                  </mat-list>                                
                </mat-expansion-panel>
              </mat-accordion>
              <div class="createLft">
                <button type="button" class="btnBlueGreenN addico"
                routerLink="/auth/add-source-data" [queryParams]="{ type: 'profile'}" matTooltip="" >
                <mat-icon>add</mat-icon>
                Create Source
                </button>

                <button  class="btnBlueGreenN addico green"  (click)="openSm(content)"><mat-icon>link</mat-icon> Connect to your Mongo DB Cluster</button>
                <button *ngIf="uploadButton" type="button" class="btnBlueGreenN addico fl wth"
                routerLink="/auth/add-source-data/mango-db" [queryParams]="{ type: 'profile'}" matTooltip="" >
                <mat-icon>add</mat-icon>
                UPLOAD REFERENCE DATA
                </button>
              </div>

              <div class="cb">
                <mat-accordion *ngIf="loadingClientDetails">
                  <!-- (opened)="setOpened(i)"
                    (closed)="setClosed(i)" -->
                  <mat-expansion-panel *ngFor="let item of dbClient; first as isFirst">
                    <mat-expansion-panel-header>
                      <mat-panel-title >{{item}}</mat-panel-title>                   
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                      <mat-list-item role="listitem"  *ngFor="let column of dbValuesClient" >  
                          <div  class="lftItem" matTooltip="{{column[item]}}" (click)="getDBPreviewCluster(item,column[item])" [class.activeList]="column[item].toString() === selectedColumn">
                          <mat-icon> layers</mat-icon> 
                          {{column[item]}}
                          </div>                 
                          <!-- <mat-icon class="ed rt" matTooltip="Save Source" *ngIf="column[item].toString() === selectedColumn" (click)="openSave(saveLocalFile, item,column[item].toString())">save</mat-icon> -->
                         <!-- <mat-icon class="de" matTooltip="Copy Source" *ngIf="column[item].toString() === selectedColumn">file_copy</mat-icon>  -->
                     </mat-list-item>
                    </mat-list>                               
                  </mat-expansion-panel>       
                </mat-accordion>
              </div>
              
            </div>           
            <div class="dash-right">
              <h1 class="no-margin ms nTitle">Summary</h1>
              <div class="flex-containers">
              <mat-card class="border no-rounded list shrare-post mct pad10">
                <div class="summaryBlock fst">
                  <div class="mid-cnt">Records</div>
                  <div class="topTitle green">{{profileDetails.nr_totalrecords}}</div>                  
                </div>
                <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt">Total Columns </div>
                  <div class="topTitle red">{{profileDetails.nr_totalcols}}</div>
                  
                </div>
                 <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt"> Numeric Columns</div>
                  <div class="topTitle green">{{profileSummary.numeric}} </div>                 
                </div>
               <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt"> Alphabetic Columns</div>
                  <div class="topTitle red">{{profileSummary.alphabetic}}</div>                  
                </div>
                 <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt">Alphanumeric Columns </div>
                  <div class="topTitle green">{{profileSummary.alphanumeric}}</div>                  
                </div>
                <div class="dividerTop"></div>
                <div class="summaryBlock">
                  <div class="mid-cnt">Duplicates </div>
                  <div class="topTitle red">{{profileDetails.nr_duplicates}}</div>                  
                </div>
                <div class="dividerTop"></div>
                <div class="summaryBlock lst">
                  <div class="mid-cnt">Total Null Counts</div>
                  <div class="topTitle green">{{profileSummary.nullcounts}}</div>                 
                </div>
              </mat-card> 

              <!-- <mat-card class="border no-rounded list shrare-post mini-card minC">
                <div class="topTitle">Type</div>
                <div class="mid-cnt"> <span class="red">S</span></div>
              </mat-card>
              <mat-card class="border no-rounded list shrare-post mini-card minC">
                <div class="topTitle">ID</div>
                <div class="mid-cnt"> <span >S1</span> </div>
              </mat-card> -->
              <!-- <mat-card class="border no-rounded list shrare-post mini-card">
                <div class="topTitle">Source Name</div>
                <div class="mid-cnt"> <span class="min">flights_new lot of empty cells</span> </div>
              </mat-card> -->
              <!-- <mat-card class="border no-rounded list shrare-post mini-card">
                <div class="topTitle">File Name</div>
                <div class="mid-cnt"> <span class="red min">flights_new lot of empty cells.xls</span> </div>
              </mat-card> -->
              <!-- <mat-card class="border no-rounded list shrare-post mini-card last">
                <div class="topTitle">Referennce</div>
                <div class="mid-cnt"> <span class="min">Ref1 - airport origin reference</span> </div>
              </mat-card> -->
            </div>
             <div style="width:100%;">
             
               <!-- <div >
               
                <div *ngIf="isLoad">Loading...</div>
               </div> -->
              
               <!-- <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">DOMAIN ANALYSIS</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
              </ng-template> -->
              
              <ng-template #longContent let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">DOMAIN ANALYSIS</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Continent</th>
                      <th scope="col">Coordinates</th>
                      <th scope="col">elevation_ft</th>
                      <th scope="col">gps_code</th>
                      <th scope="col">iata_code</th>
                      <th scope="col">ident</th>
                      <th scope="col">iso_country</th>
                      <th scope="col">iso_region</th>
                      <th scope="col">local_code</th>
                      <th scope="col">municipality</th>
                      <th scope="col">name</th>
                      <th scope="col">type</th> 
                    </tr>
                    </thead>
                    <tbody *ngFor="let val of newVal">
                    <tr *ngFor="let airline of val.airportCodes; let i= index" style="width:100%;">
                    <td>{{airline.continent}}</td>
                    <td>{{airline.coordinates}}</td>
                    <td>{{airline.elevation_ft}}</td>
                    <td>{{airline.gps_code}}</td>
                    <td>{{airline.iata_code}}</td>
                    <td>{{airline.ident}}</td>
                    <td>{{airline.iso_country}}</td>
                    <td>{{airline.iso_region}}</td>
                    <td>{{airline.local_code}}</td>
                    <td>{{airline.municipality}}</td>
                    <td>{{airline.name}}</td>
                    <td>{{airline.type}}</td> 
                  </tr>
                    </tbody>
                  </table>
                  <div class="loader-12" *ngIf="isLoad" style="margin-top:40px;"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
              </ng-template>
              
              <!-- <app-ag-grid
              floatingFilter="true"
              *ngIf="isPreviewLoaded"
              [rowData]="rowDataN"
              [columnDefs]="columnDefsN"
              [pageSize]="50"
              [rowSelection]="'multiple'"
              [suppressRowClickSelection]="false"     
            ></app-ag-grid>  -->
             </div>
              
            
             
              <div class="allView">
                <div class="viewProfile">
                  <div class="prevMenu" [ngClass]="{act: previewProfile}" (click)="changeMenu('profile')">
                    <img src="assets/images/profile-data.svg" class="prof"  />
                    <span>Profile</span>
                  </div>
                  <!-- <span class="divider"></span>                   -->
                  <div class="prevMenu pd7" [ngClass]="{act: previewTable}" (click)="changeMenu('preview')">
                    <img src="assets/images/preview.svg" class="prev"  />
                    <span>Preview</span>
                  </div> 
                  <!-- <span class="divider"></span>  -->
                  <div class="prevMenu" [ngClass]="{act: previewCorrelation}" (click)="changeMenu('correlation')">
                    <img src="assets/images/correlation.svg" class="prof"  />
                    <span>Correlation</span>
                  </div>
                </div>
            </div>
            <mat-card class="border no-rounded list shrare-post mct">
              
              <div class="previewView valign" *ngIf="previewTable" style="clear: both;">
                <app-ag-grid
                floatingFilter="true"
                *ngIf="isPreviewLoaded"
                class="ag-theme-material"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [pageSize]="50"
                [rowSelection]="'multiple'"
                [suppressRowClickSelection]="false"
              ></app-ag-grid>
            </div>

            <div class="profileView valign" *ngIf="previewProfile">
              <div class="analysis-infoDashboard">
                <div class="category-list-wrapper clearfix">
                  <owl-carousel-o class="selected" [options]="profileOptions">
                    <ng-template carouselSlide *ngFor="let profile of profiles;">
                      <div class="category-item" (click)="changeProfile(profile)" [class.selected]="attrubute === profile.column">
                        {{profile.column}} 
                      </div>
                    </ng-template>                     
                  </owl-carousel-o>                                     
               </div>
              </div>
              <div class="flex-containers prof-details">
                <div class="attribute-details">
                  <!-- <h1 class="sTitle"> {{attrubute}} </h1> -->

                  <div class="flex-containers">                                    
                    <div class="lft-attr">
                      <h4 class="attr-tite"> <span class="subT m">Attribute Summary</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                      <mat-card class="bg-violet ch"> 
                        <table>
                          <tr>
                            <th>
                              <div class="recordsTop">
                                <span><img src="assets/images/database.svg" class="record" /> records</span>
                                
                             </div>
                             <!-- <div class="dotDiv"></div> -->
                            </th>
                            <th>
                              <div class="recordsTop">
                                <span><img src="assets/images/type.svg" class="record1" /> <span class="dp1"> type</span></span>
                                
                             </div>
       
                             <!-- <div class="dotDiv"></div> -->
                            </th>
                            <th>
                              <div class="recordsTop">
                                <span><img src="assets/images/type.svg" class="record1" /> <span class="dp1"> NULL COUNTS</span></span>
                               
                             </div>
                            </th>
                          </tr>
                          <tr>
                            <td><span class="dp">{{profile.attributeSummary?.records}}</span></td>
                            <td><span class="dp al">{{profile.attributeSummary?.dataType}}</span></td>
                            <td><span class="dp al1">
                              <a href="javascript: void(0)" *ngIf="profile.attributeSummary && profile.attributeSummary.null_records" (click)="showPreviewDetails()">
                                {{profile.attributeSummary?.null_records}}
                              </a>
                              <div *ngIf="profile.attributeSummary && !profile.attributeSummary.null_records">
                                {{profile.attributeSummary?.null_records}}
                              </div>
                            </span></td>
                          </tr>                       
                        </table>                                          
                      </mat-card> 
                    </div>
                    <div class="rgt-attr">
                      <h4 class="attr-tite"> <span class="subT hd">Length Statistics</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                      <mat-card class="honeydew ch" > 
                                            
                          <div class="custom-slider" *ngIf="profile.LengthStatistics">
                            <div class="minMax"> 
                              <div class="values">Min {{profile.LengthStatistics.Min}}</div>
                              <div class="values fr">Max {{profile.LengthStatistics.Max}}</div>
                             </div>
                            <div class="minMax">
                             <div class="dot"></div>
                             <div class="bar"></div>
                             <div class="dot fr"></div>
                            </div>
                            
                             <!-- <ngx-slider [(value)]="profile.LengthStatistics.Min" [(highValue)]="profile.LengthStatistics.Max" [options]="options"></ngx-slider> -->
                          </div>

                          <div class="custom-slider" *ngIf="profile.valueStatistics">
                            <div class="minMax"> 
                              <div class="values">Min {{profile.valueStatistics.MinValLength}}</div>
                              <div class="values fr">Max {{profile.valueStatistics.MaxValLength}}</div>
                             </div>
                            <div class="minMax">
                             <div class="dot"></div>
                             <div class="bar"></div>
                             <div class="dot fr"></div>
                            </div>
                            
                             <!-- <ngx-slider [(value)]="profile.LengthStatistics.Min" [(highValue)]="profile.LengthStatistics.Max" [options]="options"></ngx-slider> -->
                          </div>
                          <!-- <div class="custom-slider" *ngIf="!profile.LengthStatistics">
                           <div class="not-found" *ngIf="!profile.LengthStatistics">
                               Not Available
                           </div>
                        </div> -->
                        <!-- <div class="not-found" *ngIf="!profile.LengthStatistics">
                            Not Available
                       </div> -->
                     </mat-card>
                    </div>
                  </div>

                  <div class="flex-containers"> 
                    <div class="lft-attr"> 
                      <h4 class="attr-tite"> <span class="subT mg">Frequency Groups</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                      <mat-card class="nBg2">
                        <div *ngFor="let domain of domainMatches" class="domain">
                           <button class="btn btn-outline-primary mb-2 mr-2 fs-b"  *ngIf="domain === profile.column" (click)="openScrollableContent(longContent)">View Domain Analysis</button>
                        </div>
                        
                       
                        <div class="viewTableN"> 
                          <img src="assets/images/chart.svg" class="chartV" (click)="changeView('table')" />
                         <span class="divider"></span> 
                         <img src="assets/images/table.svg" class="tabV" (click)="changeView('chart')" />                  
                        </div>
                        <div *ngIf="showtable">
                          <app-pie-chart [pieChartData]="chartData" ></app-pie-chart>
                      </div>
                      <div *ngIf="!showtable">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                          <table class="table table-bordered table-striped mb-0 attTable" *ngIf="profile.frequncyAnalysis && profile.frequncyAnalysis.length">
                            <thead>
                              <tr>
                                <th scope="col">
                                  <div class="records">
                                    <span><img src="assets/images/frequency.svg" class="record1" /> <span class="dp1"> Frequency</span></span>
                                 </div>
                                </th>
                                <th scope="col">
                                  <div class="records">
                                    <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                                 </div>
                                </th>
                                <th scope="col" style="width:24%!important;">&nbsp;</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let frequency of profile.frequncyAnalysis">
                                <td class="tdP">{{frequency.unique_values}}</td>
                                <td class="tdP">{{frequency.counts}}</td>
                                <td>
                                  <mat-progress-bar class="progressbar" mode="determinate" [value]="(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %" ></mat-progress-bar> 
                                </td>
                              </tr>
                            
                            </tbody>
                          </table>
                        
                        </div>
            
                      </div>
                      </mat-card>
                    </div>

                    <div class="rgt-attr">
                      
                      <h4 class="attr-tite"> <span class="subT gb">Correlation Summary</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                     <mat-card class="bg-green ch2" style="height:319px;">                       
                        <app-corelation-summary [summary]="profile.correlationSummary"></app-corelation-summary> 
                        <!-- <highcharts-chart
                              [Highcharts] = "highcharts" 
                              [options] = "chartOptions" 
                              style = "width: 100%; height: 400px; display: block;">
                           </highcharts-chart> -->
                     </mat-card>  
                      <!-- <h4 class="attr-tite"> <span class="subT mg">CORRELATION SUMMARY</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                      <mat-card class="nBg">
                        <div class="viewTableN"> 
                          <img src="assets/images/chart.svg" class="chartV" (click)="changeView('table')" />
                         <span class="divider"></span> 
                         <img src="assets/images/table.svg" class="tabV" (click)="changeView('chart')" />                  
                        </div>
                        <highcharts-chart
                              [Highcharts] = "highcharts" 
                              [options] = "chartOptions" 
                              style = "width: 100%; height: 400px; display: block;">
                           </highcharts-chart> 
                      </mat-card>-->
                    
    
                      
                    </div>
                  </div>



                  <div class="flex-containers">                                    
                  <div class="lft-attr">
                   
                    
                 
                    
                    


                    <!-- <h4 class="attr-tite"> <span class="subT mg">Frequency Groups</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                    <mat-card class="bg-magenta ch1" *ngIf="profile.frequncyAnalysis && profile.frequncyAnalysis.length">                     
                      <div class="frequencyContainer" [class.frequencyShow]="frequencyShow">
                      <table>
                         <tr>
                            <th>
                              <div class="records">
                                <span><img src="assets/images/frequency.svg" class="record1" /> <span class="dp1"> Frequency</span></span>
                             </div>
                              </th>
                            <th>
                              <div class="records">
                                <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                             </div>
                            <th style="width:20%">&nbsp;</th>
                         </tr>
                         <tr *ngFor="let frequency of profile.frequncyAnalysis">
                            <td class="fst">{{frequency.unique_values}}</td>
                            <td class="mid">{{frequency.counts}}</td>
                            <td>
                               <mat-progress-bar mode="determinate" [value]="(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(frequency.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %" ></mat-progress-bar> 
                             
                            </td>
                         </tr>
                      </table>
                   </div>
                   <button *ngIf="profile.frequncyAnalysis.length > 3" class="frequencyBtn" (click)="frequencyShow = !frequencyShow">
                      <mat-icon *ngIf="!frequencyShow">expand_more</mat-icon> <mat-icon *ngIf="frequencyShow">expand_less</mat-icon> </button>  
                   </mat-card> -->

                   <h4 class="attr-tite" *ngIf="profile.patternAnalysis && profile.patternAnalysis.length"> <span class="subT pt">Pattern Analysis</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>

                   <mat-card class="bg-blue ch1" *ngIf="profile.patternAnalysis && profile.patternAnalysis.length">
                    <div >
                    <div class="frequencyContainer" [class.patternShow]="patternShow">
                      <table>
                        <tr>
                           <th>
                             <div class="records">
                               <span><img src="assets/images/value.svg" class="record1" /> <span class="dp1"> Value</span></span>
                            </div>
                             </th>
                           <th>
                             <div class="records">
                               <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                            </div>
                           <th style="width:20%">&nbsp;</th>
                        </tr>
                        <tr *ngFor="let pattern of profile.patternAnalysis">
                          <td>{{pattern.unique_values}}</td>
                          <td class="mid">{{pattern.counts}}</td>
                          <td>
                             <mat-progress-bar mode="determinate" [value]="(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2' " matTooltip="{{(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar> 
                          
                            <!-- <mat-slider 
                            min="0" 
                            max="100" 
                            step="1" 
                            [value]="(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'"
                            matTooltip="{{(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %"
                            >
                            </mat-slider> -->
                          </td>
                       </tr>
                     </table>
                    <!-- <table>
                       <tr>
                          <th><img src="assets/images/value.svg" class="freq" /> Value </th>
                          <th>Count <img src="assets/images/count.png" class="freq" /></th>
                          <th style="width:20%">&nbsp;</th>
                       </tr>
                       <tr *ngFor="let pattern of profile.patternAnalysis">
                          <td>{{pattern.unique_values}}</td>
                          <td>{{pattern.counts}}</td>
                          <td><mat-progress-bar mode="determinate" [value]="(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2' " matTooltip="{{(pattern.counts * 100) / profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar></td>
                       </tr>
                    </table> -->
                 </div>
                 <button *ngIf="profile.patternAnalysis.length > 3" class="patternBtn" (click)="patternShow = !patternShow"><!--  {{ patternShow ? 'Show less'  : 'Show More'  }} -->
                    <mat-icon *ngIf="!patternShow">expand_more</mat-icon> <mat-icon *ngIf="patternShow">expand_less</mat-icon> </button> 
                  </div>
                 <!-- <ng-template #noPattern>
                  <div class="not-found" >Not Available</div> 
                 </ng-template> -->
                 </mat-card>
                  
                 <div *ngFor="let domain of domainMatches">
                        
                  <mat-card  class="bg-violet ch" *ngIf="domain === profile.column"> 
                    <table>
                      <tr>
                        <th>
                          <div class="recordsTop">
                            <span><img src="assets/images/airport.svg" class="record" /> Domain Analysis</span>                                  
                         </div>
                        </th>
                                                
                      </tr>
                      <tr >
                        <td><span class="dp" *ngIf="domain === profile.column">IATA Code</span></td>
                        
                      </tr>                       
                    </table>                                          
                  </mat-card> 
                </div>
                  </div>
                  <div class="rgt-attr">
                    <!-- <app-pie-chart ></app-pie-chart>  -->
                    <!-- <mat-card class="wt2">
                        <h4 class="attr-tite">Count <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                        <div class="records">
                           <highcharts-chart
                              [Highcharts] = "highcharts" 
                              [options] = "chartOptions" 
                              style = "width: 100%; height: 400px; display: block;">
                           </highcharts-chart>
               
                        </div>                          
                     </mat-card>  -->
                     <!-- <h4 class="attr-tite"> <span class="subT hd">Length Statistics</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                     <mat-card class="honeydew ch" > 
                                           
                         <div class="custom-slider" *ngIf="profile.LengthStatistics">
                           <div class="minMax"> 
                             <div class="values">Min {{profile.LengthStatistics.Min}}</div>
                             <div class="values fr">Max {{profile.LengthStatistics.Max}}</div>
                            </div>
                           <div class="minMax">
                            <div class="dot"></div>
                            <div class="bar"></div>
                            <div class="dot fr"></div>
                           </div>
                           
                         </div>
                         <div class="custom-slider" *ngIf="!profile.LengthStatistics">
                          <div class="not-found" *ngIf="!profile.LengthStatistics">
                              Not Available
                          </div>
                       </div>
                    </mat-card> -->

                    
                    
                    <h4 class="attr-tite" *ngIf="profile.maskAnalysis && profile.maskAnalysis.length"> <span class="subT ac">Mask Analysis</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                     <mat-card class="aliceblue ch1" *ngIf="profile.maskAnalysis && profile.maskAnalysis.length">
                       <div >                       
                        <div class="frequencyContainer" [class.maskShow]="maskShow" >
                          <table>
                            <tr>
                               <th>
                                 <div class="records">
                                   <span><img src="assets/images/value.svg" class="record1" /> <span class="dp1"> Value</span></span>
                                </div>
                                 </th>
                               <th>
                                 <div class="records">
                                   <span><img src="assets/images/counting.svg" class="record1" /> <span class="dp1"> Count</span></span>
                                </div>
                               <th style="width:20%">&nbsp;</th>
                            </tr>
                            <tr *ngFor="let mask of profile.maskAnalysis">
                              <td>{{mask.unique_values}}</td>
                              <td class="mid">{{mask.counts}}</td>
                              <td>
                                 <mat-progress-bar mode="determinate" [value]="(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar> 
                                <!-- <mat-slider
                              min="0" 
                              max="100" 
                              step="1" 
                              [value]="(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'"
                              matTooltip="{{(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'}} %"
                              >
                              </mat-slider> -->
                              </td>
                           </tr>
                         </table>
                        <!-- <table>
                           <tr>
                              <th>Value <img src="assets/images/value.svg" class="freq" /></th>
                              <th>Count <img src="assets/images/count.png" class="freq" /></th>
                              <th style="width:20%">&nbsp;</th>
                           </tr>
               
                           <tr *ngFor="let mask of profile.maskAnalysis">
                              <td>{{mask.unique_values}}</td>
                              <td>{{mask.counts}}</td>
                              <td><mat-progress-bar mode="determinate" [value]="(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'" matTooltip="{{(mask.counts * 100)/ profile.attributeSummary?.records | number:'1.0-2'}} %"></mat-progress-bar></td>
                           </tr>
                        </table> -->
                     </div>
                    <button *ngIf="profile.maskAnalysis.length > 3" class="maskShowBtn" (click)="maskShow = !maskShow">  <!-- {{ maskShow ? 'Show less'  : 'Show More'  }} -->
                        <mat-icon *ngIf="!maskShow">expand_more</mat-icon> <mat-icon *ngIf="maskShow">expand_less</mat-icon> </button> 
                      </div>
                      <!-- <ng-template #noMask>
                        <div class="not-found">Not Available</div> 
                      </ng-template>                                                                   -->
                     </mat-card>
                     <!-- <mat-card class="os aliceblue" *ngIf="profile.staticalAnalysis">
                        <h4 class="attr-tite">Statistics <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                        <table class="table">
                           <tr class="cpt">
                           <td class="strong" *ngFor="let stats of profile.staticalAnalysis | keyvalue">{{stats.key}}</td>
                           </tr>
                           <tr class="cpt1">
                           <td *ngFor="let stats of profile.staticalAnalysis | keyvalue">{{stats.value}}</td>
                           </tr>
                        </table>
                     </mat-card> -->
                     <!-- <h4 class="attr-tite"> <span class="subT gb">Correlation Summary</span> <i class="fa fa-info-circle info"  matTooltip="Info about the action"></i></h4>
                     <mat-card class="bg-green ch2">                       
                        <app-corelation-summary [summary]="profile.correlationSummary"></app-corelation-summary> 
                       
                     </mat-card> -->
      
                  </div>  
                 
                </div>
                </div>             
            </div>

            </div>

            <div class="correlationView valign" *ngIf="previewCorrelation">            
                <!-- <app-progress-bar [message]="'Loading'" class="component" *ngIf="isLoading"></app-progress-bar> -->
                <h1 class="share-post-title"><span class="lgb">Correlation Summary</span></h1>
                <div class="flex-containers">
                  <div class="list-item-4">
                    <mat-form-field appearance="fill">
                      <mat-label class="lbl">Data Type</mat-label>
                      <mat-select [(ngModel)]="datatype" (ngModelChange)="changeType($event)">
                        <mat-option value="mixed">Mixed</mat-option>
                        <mat-option value="numeric">Numeric</mat-option>
                        <mat-option value="categorical">Categorical</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="list-item-4">
                    <mat-form-field appearance="fill">
                      <mat-label class="lbl">Method</mat-label>
                      <mat-select [(ngModel)]="method" (ngModelChange)="loadCorrelation(selectedSource, datatype, $event)">
                        <mat-option *ngIf="datatype === 'numeric'" value="pearson">Pearson</mat-option>
                        <mat-option *ngIf="datatype === 'numeric'" value="kendall">Kendall</mat-option>
                        <mat-option *ngIf="datatype === 'numeric'" value="spearman">Spearman</mat-option>
                        <mat-option *ngIf="datatype === 'categorical'" value="theils_u">Theils_U</mat-option>
                        <mat-option *ngIf="datatype === 'categorical'" value="cramers_v">Cramers_V</mat-option>
                        <mat-option *ngIf="datatype === 'mixed'" value="">Correlation Ratio</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>                
              <app-heat-map [columns]="coMatrix.columns" *ngIf="coMatrix.matrix" [data]="coMatrix.matrix" [isOverview]="true"></app-heat-map>
              <mat-card class="no-data-msg" *ngIf="!coMatrix.matrix">
                <h3>No correlations.</h3>
              </mat-card>
            </div>
            </mat-card>
              
            </div>
          </div>

          </div>

        </div>
      </div> 
    </div>

  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Connect Your Cluster</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="clientUrl">Mongo DB Cluster Client URL</label>
       
          <input *ngIf="showConnectionList" type="text" class="form-control" [(ngModel)]='clientUrl' id="url" placeholder="URL">
          <select *ngIf="!showConnectionList" class="form-control" name="clientUrl"  [(ngModel)]='clientUrl' id="url" (change)="onWriterChange()">           
            <option  *ngFor="let url of clientUrlLog" [ngValue]="url.client_url" matTooltip="{{url.client_url}}" selected ="selected === url.client_url">{{url.client_url}}</option> 
            <option value="others">Others</option>           
          </select> 
          <input *ngIf="showDbCollectionName" type="text" class="form-control" [(ngModel)]='clientUrl' id="url" placeholder="URL">   
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(clientUrl)">Submit</button>
  </div>
</ng-template>

<ng-template #contentErr let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Connection Error!!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{alertErrMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>