<section class="page-body home-bodys">
   <div class="container">
     <div class="profile-wrapper">
        <div class="flex-containers">
           <div class="list attribute-list">
            <mat-list role="list">
               <mat-list-item role="listitem" *ngFor="let rule of rules;" (click)="loadStatistics(rule)" [class.active]="attrubute === rule.column">
                  {{rule.column}}
               </mat-list-item>
             </mat-list>
           </div>
           <div class="attribute-details">                     
            <h1 class="share-post-title"> {{attrubute}} </h1>
            <div class="lft-attr">
               <mat-card>
               <h4 class="attr-tite">Attribute Summary <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
               <div class="records">
                  <span>records</span>
                  {{statistics.Count}}
               </div>
               <div class="dotDiv"></div>
               <div class="records">
                  <span>Data type</span>
                  {{statistics['Data Type']}}
               </div>
               </mat-card>
         
               <mat-card>
                  <h4 class="attr-tite">Frequency Groups <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                  <table>
                     <tr>
                        <th>Frequency</th>
                        <th>Count</th>
                        <th style="width:20%">&nbsp;</th>
                     </tr>
                     <tr>
                        <td>6</td>
                        <td>5</td>
                        <td><mat-progress-bar mode="determinate" value="5"></mat-progress-bar></td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>5</td>
                        <td><mat-progress-bar mode="determinate" value="32"></mat-progress-bar></td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>4</td>
                        <td><mat-progress-bar mode="determinate" value="21"></mat-progress-bar></td>
                     </tr>
                     <tr>
                        <td>11</td>
                        <td>3</td>
                        <td><mat-progress-bar mode="determinate" value="18"></mat-progress-bar></td>
                     </tr>
                     <tr>
                        <td>345</td>
                        <td>2</td>
                        <td><mat-progress-bar mode="determinate" value="9"></mat-progress-bar></td>
                     </tr>
                     
                  </table>
               
                  
               </mat-card>
         
               <mat-card>
                  <h4 class="attr-tite">Length Statistics
                     <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
         
                     <div class="custom-slider">
                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                     </div>
               </mat-card>
         
               <mat-card>
                  <h4 class="attr-tite">Frequency Analysis <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                  <table>
                     <tr>
                        <th>Value</th>
                        <th>Count</th>
                        <th style="width:20%">&nbsp;</th>
                     </tr>
                     <tr>
                        <td>United States</td>
                        <td>24,084</td>
                        <td><mat-progress-bar mode="determinate" value="40"></mat-progress-bar></td>
                     </tr>
                     <tr>
                        <td>United Kingdom</td>
                        <td>14,129</td>
                        <td><mat-progress-bar mode="determinate" value="10"></mat-progress-bar></td>
                     </tr>
                     <tr>
                        <td>Switzerland</td>
                        <td>482</td>
                        <td><mat-progress-bar mode="determinate" value="30"></mat-progress-bar></td>
                     </tr>
                     <tr>
                        <td>Sweden</td>
                        <td>806</td>
                        <td><mat-progress-bar mode="determinate" value="20"></mat-progress-bar></td>
                     </tr>
                  </table>
               </mat-card>
         
            </div>
            <div class="rgt-attr">
               <mat-card class="wt2">
                  <h4 class="attr-tite">Count <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                  <div class="records">
                     <highcharts-chart
                        [Highcharts] = "highcharts" 
                        [options] = "chartOptions" 
                        style = "width: 100%; height: 400px; display: block;">
                     </highcharts-chart>
         
                  </div>                          
               </mat-card>
         
               <mat-card class="wt3">
                  <h4 class="attr-tite">Mask Analysis <mat-icon matTooltip="Info about the action">info</mat-icon></h4>
                  <table>
                     <tr>
                        <th>Value</th>
                        <th>Count</th>
                        <th style="width:20%">&nbsp;</th>
                     </tr>
         
                     <tr>
                        <td>LLLLLL LLLLLL</td>
                        <td>24,084</td>
                        <td><mat-progress-bar mode="determinate" value="30"></mat-progress-bar></td>
                     </tr>
         
                     <tr>
                        <td>LLLLLL</td>
                        <td>6,361</td>
                        <td><mat-progress-bar mode="determinate" value="12"></mat-progress-bar></td>
                     </tr>
         
                     <tr>
                        <td>LLLLLLLLL</td>
                        <td>24,084</td>
                        <td><mat-progress-bar mode="determinate" value="21"></mat-progress-bar></td>
                     </tr>
         
                     <tr>
                        <td>LLL LLLLLLL</td>
                        <td>1,158</td>
                        <td><mat-progress-bar mode="determinate" value="5"></mat-progress-bar></td>
                     </tr>
         
                     <tr>
                        <td>LLLLLL LLLLLL</td>
                        <td>472</td>
                        <td><mat-progress-bar mode="determinate" value="8"></mat-progress-bar></td>
                     </tr>
                     </table>
               </mat-card>
            </div>                      
         </div>
        </div>
         
       </div>     
   </div>
</section>
