<div class="listContainer">
  <div class="listHeader">
    <mat-icon>view_comfy</mat-icon>
    <h5>Department Details</h5>
    <app-filter-input (onFilterChange)="doFilter($event)" class="alignEnd"></app-filter-input>
    <app-progress-bar [message]="loaderMsg" class="page" *ngIf="isLoading"></app-progress-bar>
  </div>
  <div class="listTable" [formGroup]="departmentForm">
    <table mat-table matSort [dataSource]="departmentsList">

      <ng-container matColumnDef="Name">
        <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="table-column-200" mat-cell *matCellDef="let depart">
          <span [hidden]="depart.mode == service.mode.CREATE">{{depart.Name}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="depart.mode != service.mode.CREATE">
            <input formControlName="departName" matInput />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Display">
        <th class="table-column-200" mat-header-cell *matHeaderCellDef mat-sort-header>Display Text</th>
        <td class="table-column-200" mat-cell *matCellDef="let depart">
          <span [hidden]="depart.edit">{{depart.Display}}</span>
          <mat-form-field appearance="standard" class="column-width-200 m-14" [hidden]="!depart.edit">
            <input formControlName="departText" matInput />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="table-column-100" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td class="table-column-100" mat-cell *matCellDef="let depart" [ngClass]="depart.status">
          <span [hidden]="depart.edit">
            <mat-icon *ngIf="depart.status == 'Active'">check_circle_outline</mat-icon>
            <mat-icon *ngIf="depart.status == 'Inactive'">block</mat-icon>
          </span>
          <mat-button-toggle-group formControlName="status" aria-label="Status" [hidden]="!depart.edit">
            <mat-button-toggle value="Active">Active</mat-button-toggle>
            <mat-button-toggle value="Inactive">InActive</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="table-column-100 center" mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="primary" aria-label="Add New" (click)="addNewDepart()">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td class="table-column-100 center" mat-cell *matCellDef="let depart;let i = index">
          <button mat-icon-button aria-label="editDepart" [hidden]="depart.edit" (click)="editDepart(depart,i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="deleteDepart" [hidden]="true">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="saveDepart" [hidden]="!depart.edit" [disabled]="departmentForm.invalid"
            (click)="saveDepart(depart)">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="editDepart" [hidden]="!depart.edit" (click)="cancel(depart)">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="center">
          No Records Found
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']"
        [hidden]="departmentsList && departmentsList.filteredData.length > 0"></tr>
    </table>
  </div>
</div>