<div class="confirm-wrapper">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <p>{{data.message}}</p>
  </div>
  <div class="reason-wrp" *ngIf="data.showReason">
    <p>{{data.reasongMsg}}</p>
    <mat-form-field class="input-full-width" name="reason-input">
      <mat-label>{{data.reasonLabel ? data.reasonLabel : reasonLabel}}</mat-label>
      <textarea matInput placeholder="" [(ngModel)]="reason"></textarea>
    </mat-form-field>
  </div>
  <div class="footer">
    <button mat-stroked-button class="primary-btn-gray white" 
      *ngIf="data.cancelLable"
      matDialogClose (click)="onCloseDialog('cancel')">{{data.cancelLable}}</button>
    <button mat-stroked-button class="primary-btn-gray" [disabled]="data.showReason && !reason" matDialogClose (click)="onCloseDialog('ok'); " cdkFocusInitial>{{data.okLable}}</button>
  </div>
</div>
