<footer class="footer">
  <div class="container">
    <div class="footer-copyright">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          Copyright &copy; <a href="">dq.com</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 text-right terms">
          <a routerLink="/ga/privacy">Privacy</a> 
          <a routerLink="/ga/terms-conditions">Terms</a>
          <a routerLink="/ga/disclaimer">Disclaimer</a>
        </div>
      </div>
    </div>
  </div>
</footer>