<div class="formula-editir">
  <h1 mat-dialog-title>Formula Editor</h1>
  <div mat-dialog-content>
    <div class="formula-preview">
      <span *ngFor="let formula of formulaDetailsForm.value.formula">
        <span class="operator" *ngIf="formula.operator !== 'NULL'">{{formula.operator}}</span>
        <span class="cde">{{formula.cde}}</span>
      </span>
    </div>
    <form [formGroup]="formulaDetailsForm">
      <div class="btn-main-right-wrapper top-sapce" style="margin-right: 10px;">
        <button type="button" mat-stroked-button class="primary-btn-gray" 
          (click)="addFormItem('formula')" 
          *ngIf="!formulaDetailsForm.get('formula')['controls'].length">
            Add
        </button>
      </div>
      <div class="flex-containers space-between" 
        formArrayName="formula" *ngFor="let edu of formulaDetailsForm.get('formula')['controls']; index as i; last as isLast; first as isFirst">
        <ng-container [formGroupName]="i">
          <div class="list flex-containers flex-start wrap">
            <div class="list-item-3 operator outline" *ngIf="!isFirst">
              <mat-form-field appearance="outline">
                <mat-label>Operator</mat-label>
                <mat-select formControlName="operator">
                  <mat-option *ngFor="let operator of operators" [value]="operator">{{operator}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="list-item-4 cde outline">
              <mat-form-field appearance="outline">
                <mat-label>Select CDE</mat-label>
                <mat-select formControlName="cde">
                  <mat-option *ngFor="let column of data.columns" [value]="column">{{column}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="list add-remove-button">
            <button type="button" mat-icon-button type="button" (click)="addFormItem('formula')" *ngIf="isLast">
              <mat-icon>add</mat-icon>
            </button>
            <button type="button" mat-icon-button class="del-icon" (click)="removeFormItem('formula', i)" *ngIf="formulaDetailsForm.get('formula')['controls'].length > 2">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div> 
    </form>
  </div>
  <div class="footer">
    <button mat-stroked-button class="primary-btn-gray white" matDialogClose (click)="onCloseDialog('cancel')">Cancel</button>
    <button mat-stroked-button class="primary-btn-gray" [disabled]="formulaDetailsForm.status === 'INVALID'" matDialogClose (click)="onCloseDialog('ok'); " cdkFocusInitial>OK</button>
  </div>

</div>
